.FormElementsController {
	@extend %FrontendEditorForm;

	.EditFrontendEditor {
		&:not(.ExpertMode) {
			.FormInputName-Active,
			.FormInputName-ColumnWidth,
			.FormInputName-ColumnIndent,
			.FormInputName-ColumnRtl,
			.FormInputName-ColumnLast,
			.FormInputName-FormId,
			.FormInputName-ParentId,
			.FormInputName-SystemOrder,
			.Fieldset-PublicationData {
				display:none;
			}
		}
	}

	&.AddAction,
	&.EditAction {
		.FormInput {
			&.Hidden {
				display:none;
			}
		}

		.FormInputName-Type {
			grid-column-start:1;
		}

		.FormInputName-Options {
			> .Label {
				display:none;
			}

			.FormInputType-ListItem {
				display:grid;
				padding-right:57px;
				gap:0 5px;
				grid-template-columns:1fr 2fr;

				@at-root #{selector-append('.Scale-Small', &)} {
					padding-right:47px;
				}
			}

			.FormInput {
				grid-column:auto / auto;
			}

			.SortableHandle {
				top:calc(1rem + 7px);
				bottom:auto;
			}

			.Button-Remove {
				width:52px;
				height:52px;
				top:calc(1rem + 1px);
				right:0;

				@at-root #{selector-append('.Scale-Small', &)} {
					width:42px;
					height:42px;
				}

				&.Disabled {
					opacity:.25;
					visibility:visible;
					pointer-events:none;
				}
			}
		}
	}
}