.FormElements.Form {
	&.EditFrontendEditor {
		&:not(.ExpertMode) {
			:is(
				.FormInputName-Active,
				.FormInputName-ColumnWidth,
				.FormInputName-ColumnIndent,
				.FormInputName-ColumnRtl,
				.FormInputName-ColumnLast,
				.FormInputName-FormId,
				.FormInputName-ParentId,
				.FormInputName-SystemOrder,
				.Fieldset-PublicationData
			) {
				display:none;
			}
		}
	}

	.FormInput {
		&.Hidden {
			display:none;
		}
	}

	.FormInputName-Type {
		grid-column-start:1;
	}

	.FormInputName-Options {
		> .Label {
			display:none;
		}

		.FormInputType-ListItem {
			grid-template-columns:1fr 2fr;
		}

		.FormInput {
			grid-column:auto / auto;
		}
	}
}
