.FormElementsController {
	@extend %ContentAreasFieldsets;

	.NestedList-Compact {
		.ListItem {
			.Data {
				.Title {
					width:auto;
					flex:1 1 auto;

					html.Scale-Small & {
						width:auto;
						flex:1 1 auto;
					}

					.Identifier {
						margin-left:5px;
						color:var(--colorMedium);
						font-weight:400;
						font-style:italic;
					}
				}

				.DataItem-Required {
					display:flex;
					width:fit-content;
					margin:0;
					padding:0;
					font-size:0;
					line-height:0;
					flex:0 0 fit-content;

					.Label {
						font-weight:inherit;
						line-height:36px;

						html.Scale-Small & {
							line-height:30px;
						}
					}

					.las {
						margin-left:5px;

						&::before {
							line-height:36px;

							html.Scale-Small & {
								line-height:30px;
							}
						}
					}
				}
			}
		}
	}
}
