.FormElements.Overview {
	@extend %ContentAreasFieldsets;

	.NestedList-Compact {
		.ListItem {
			.Data {
				grid-template-columns:repeat(auto-fit, minmax(180px, 1fr)) 110px;

				@container (width <= 500px) {
					grid-template-columns:auto 30px;
				}

				.Title {
					width:auto;
					grid-column:1 / -2;

					@media screen and (width <= 768px) {
						width:auto;
					}

					html.Scale-Small & {
						@media screen and (width > 768px) {
							width:auto;
						}
					}

					.Identifier {
						margin-left:5px;
						color:var(--colorMedium);
						font-weight:400;
						font-style:italic;
					}
				}

				.DataItem-Required {
					display:flex;
					width:fit-content;
					margin:0;
					padding:0;
					font-size:0;
					line-height:0;
					flex:0 0 fit-content;

					.Label {
						font-size:.8rem;
						font-weight:inherit;
						line-height:36px;

						@container (width <= 500px) {
							display:none;
						}

						html.Scale-Small & {
							@media screen and (width > 768px) {
								line-height:30px;
							}
						}
					}

					.las {
						margin-left:5px;

						&::before {
							line-height:36px;

							html.Scale-Small & {
								@media screen and (width > 768px) {
									line-height:30px;
								}
							}
						}
					}
				}
			}
		}
	}
}
