@layer reset {
	html {
		-webkit-font-smoothing:antialiased;
		-webkit-text-size-adjust:none;
		text-size-adjust:none;
	}

	* {
		margin:0;
		padding:0;

		&,
		&::before,
		&::after {
			box-sizing:border-box;
		}
	}

	table {
		border-collapse:collapse;
		border-spacing:0;
	}

	caption,
	th {
		text-align:left;
	}

	th, td {
		padding:0 0 0 var(--lineHeightMain);

		&:first-child {
			padding-left:0;
		}
	}

	:where(p, h1, h2, h3, h4, h5, h6, hr, ul, ol, blockquote, table, pre) {
		&:not(:last-child) {
			margin-bottom:1.5rem;
		}
	}

	p, h1, h2, h3, h4, h5, h6, hr, ul, ol, blockquote {
		overflow-wrap:break-word;
		hyphens:auto;
	}

	:is(h1, h2, h3, h4, h5, h6) {
		//max-inline-size:80%;
		font:inherit;
		text-wrap:balance;

		.Env-Development & {
			&:hover {
				&::before {
					opacity:1;
				}
			}

			&::before {
				content:'H1';
				display:inline-block;
				width:40px;
				aspect-ratio:1;
				margin:0 -40px -20px 0;
				padding-inline:5px;
				border-radius:10px;
				background-color:var(--colorBright);
				@if (variable-exists(colorContrast) and $colorContrast != '') {
					color:var(--colorContrast);
				} @else {
					color:var(--colorText);
				}
				font-size:1rem;
				font-weight:700;
				line-height:40px;
				text-align:center;
				white-space:nowrap;
				transform:translate(-46px, -20px);
				opacity:.5;
				transition:opacity .3s ease-in-out;
			}
		}
	}

	.Env-Development {
		h2:before { content:'H2'; }
		h3:before { content:'H3'; }
		h4:before { content:'H4'; }
		h5:before { content:'H5'; }
		h6:before { content:'H6'; }
	}

	$combinedSelector:null;
	$combinedSelectorNoMargin:null;
	@for $i from 1 through 6 {
		$combinedSelector:join($combinedSelector, unquote('h#{$i} + h#{$i}'), comma);

		@if $i < 6 {
			$isSelector:null;

			@for $j from $i + 1 through 6 {
				$isSelector:join($isSelector, unquote('h#{$j}'), comma);
			}

			$combinedSelectorNoMargin:join($combinedSelectorNoMargin, unquote('h#{$i} + :is(#{$isSelector})'), comma);
		}
	}

	#{$combinedSelectorNoMargin} {
		margin-top:calc(var(--lineHeightMain) * -1);
	}

	#{$combinedSelector} {
		outline:3px dashed red;
		outline-offset:10px;
	}

	sup {
		font-size:.75em;
		vertical-align:super;
	}

	sub {
		font-size:.75em;
		vertical-align:sub;
	}

	legend {
		color:inherit;
	}

	input,
	button,
	textarea,
	select,
	optgroup,
	option {
		font:inherit;
	}

	textarea {
		min-height:5rem;
		resize:vertical;
	}

	:is(ul, ol) {
		padding:0;

		&:where(:not(:first-child)) {
			margin-top:1.5rem;
		}
	}

	li {
		margin-left:20px;

		:where(&:not(:last-child)) {
			margin-bottom:calc(var(--lineHeightMain) * .5);
		}

		&:where(ul > *) {
			list-style-type:square;
		}

		&:where(ol > *) {
			list-style-type:decimal;
		}
	}

	b, strong {
		font-weight:700;
	}

	i, em {
		font-style:italic;
	}

	hr {
		height:2px;
		border:0 none;
		background-color:currentColor;
		color:inherit;
	}

	:where(img, picture, video, canvas, svg) {
		display:inline-block;
		max-width:100%;

		@media (scripting:none) {
			width:auto;
			height:auto;
		}
	}

	picture {
		font-size:0;
		line-height:0;
	}

	img {
		&:where(.Lazyload) {
			height:auto;
			aspect-ratio:var(--imageAspectRatio);
			color:#000000;

			&::before {
				content:attr(alt);
				display:block;
				aspect-ratio:var(--imageAspectRatio);
				padding:20px;
				background-color:var(--imageBackgroundColor);
				font-size:1rem;
				line-height:1;
				text-overflow:ellipsis;
				overflow:hidden;
				white-space:nowrap;
			}
		}

		&:where([data-src]) {
			&.Loaded {
				width:auto;
			}

			@media (scripting:none) {
				display:none;
			}
		}
	}

	:target {
		scroll-margin-top:9rem;
	}

	#cc-main {
		.cm {
			> div {
				&:first-of-type {
					&:focus-visible {
						outline:3px solid #63d1a5;
					}
				}
			}

			&__title {
				margin-bottom:0;
			}
		}
	}
}