$fontNameMain:Helvetica !default;
$fontStackFallbackMain:Arial, Geneva, sans-serif !default;
$fontStackMain:quote($fontNameMain), $fontStackFallbackMain;
$fontWeightMain:400 !default;
$fontStyleMain:'normal' !default;
$fontSizeMain:18px !default;
$lineHeightMain:1.625rem !default;

//$fontSizeClampMain:clamp(16px, $fontSizeMain, 20px) !default;

$fontNameAlternative:'' !default;
$fontStackFallbackAlternative:Georgia, Times, serif !default;
$fontStackAlternative:quote($fontNameAlternative), $fontStackFallbackAlternative;
$fontWeightAlternative:400 !default;
$fontStyleAlternative:'normal' !default;
$fontSizeAlternative:1em !default;
$lineHeightAlternative:1.5rem !default;

$colorText:#202C39 !default;
$colorDark:#131a21 !default;
$colorMedium:#7E8B99 !default;
$colorLight:#EDF2F4 !default;
$colorBright:#FFFFFF !default;
$colorMain:#63d1a5 !default;
$colorContrast:#FFC53A !default;

$pageWidth:1280px !default;
$pagePadding:50px !default;
$columnMargin:3% !default;
$menuBreakpoint:768px !default;
$singleColumnBreakpoint:860px !default;
