#DuplicateConfigurationOverlay {
	@extend %DialogNoTitle;

	width:calc(100% - 40px);
	max-width:1280px;

	&:not(:has(.Form)) {
		@extend %LoaderIcon;
	}

	.Form.DuplicateConfiguration {
		@extend %OverlayForm;

		&::after {
			content:attr(data-title, 'Select Content to duplicate');
		}

		.Fieldsets {
			margin-bottom:40px;
		}

		.FormInputName-DuplicateOfPageId {
			&:last-child {
				margin-bottom:0;
			}
		}

		.Overview-Fieldset {
			padding:30px 10px 10px;
			border-radius:5px;
			background-color:transparent;
			border:1px solid rgba(0, 0, 0, .1);
			box-shadow:none;
			grid-column:1 / -1;

			&:not(.Collapsed) {
				&:not(:has(.ListItem)) {
					.Contents-List {
						height:72px;
					}
				}
			}

			&:first-of-type {
				margin-top:var(--lineHeightMain);
			}

			&:last-of-type {
				margin-bottom:0;
			}
		}

		.Contents-List {
			&.NestedList-Compact {
				.ListItem {
					padding-right:5px;
				}

				.ListItem-Inner {
					display:block;

					&:has(input:checked) {
						border-color:var(--colorSuccess);
						background-color:color-mix(in srgb, var(--colorSuccess), transparent 75%);
					}
				}
			}

			&.Level1 {
				margin:0 -5px;
			}
		}

		.ListItem {
			margin-right:0;
			padding-right:0;
		}

		.ListItem-Inner {
			display:block;

			&:has(input:checked) {
				background-color:var(--colorSuccess);
			}

			&:not(:has(input)) {
				pointer-events:none;
				opacity:.5;
			}

			label {
				position:absolute;
				inset:-1px;
			}

			input {
				display:none;
			}
		}
	}
}