.ContentsController {
	.Fieldset-Data,
	.Fieldset-PublicationData {
		grid-column:auto / span 2;
	}

	.FormInputName-Data {
		.FormInputType-ListItem {
			display:grid;
			padding-right:57px;
			gap:0 5px;
			grid-template-columns:repeat(2, 1fr);

			.Scale-Small& {
				padding-right:47px;
			}
		}

		.Button-Remove {
			width:52px;
			height:52px;
			top:0;
			right:0;

			.Scale-Small& {
				width:42px;
				height:42px;
			}

			&.Disabled {
				opacity:.25;
				visibility:visible;
				pointer-events:none;
			}
		}
	}
}