#ModuleConfigurationOverlay {
	@extend %DialogNoTitle;

	max-width:860px;

	&[open] {
		display:block;
	}

	&:not(:has(.Form)) {
		@extend %LoaderIcon;
	}

	.Form.ModuleConfiguration {
		@extend %OverlayForm;

		&::after {
			content:attr(data-title, 'Module Configuration');
		}

		.FormInput {
			&:nth-last-child(1 of .FormInput) {
				@media screen and (width <= 768px) {
					margin-bottom:20px;
				}
			}
		}
	}
}