#ModuleConfigurationOverlay {
	@extend %DialogNoTitle;

	width:calc(100% - 40px);
	max-width:860px;

	&:not(:has(.Form)) {
		@extend %LoaderIcon;
	}

	.Form.ModuleConfiguration {
		@extend %OverlayForm;

		&::after {
			content:attr(data-title, 'Module Configuration');
		}
	}
}