.Contents.Overview {
	@extend %ContentAreasFieldsets;

	.Overview-Fieldset {
		&.Overview-Fieldset-Unknown {
			border:2px solid var(--colorError);

			legend {
				background-color:var(--colorError);
				color:var(--colorBright);
			}
		}
	}
}
