.ContentsController {
	.ButtonArea {
		&.CannotMoveUpwards {
			.Button-ColumnView {
				bottom:calc(var(--lineHeightMain) * -1);
			}
		}

		&.ButtonArea-Bottom {
			.Button-ColumnView {
				border-radius:0 0 5px 5px;
				top:calc(var(--lineHeightMain) * -2);
				bottom:auto;
			}
		}

		.Button-ColumnView {
			width:80px;
			height:40px;
			padding:0;
			box-shadow:none;
			border-radius:5px 5px 0 0;
			background-color:var(--colorMedium);
			background-image:none;
			font-size:0;
			line-height:0;
			text-align:center;
			position:absolute;
			bottom:calc(var(--lineHeightMain) * -1);
			right:20px;
			opacity:.25;
			transition:opacity .3s ease-in-out;

			@at-root #{selector-append('.🌚', &)} {
				background-color:var(--backgroundColorContent);
			}

			&[disabled] {
				background-color:var(--colorBright);
				color:var(--colorText);
				opacity:1;

				@at-root #{selector-append('.🌚', &)} {
					background-color:var(--backgroundColorContent);
					color:var(--colorBright);
				}
			}

			&:hover {
				opacity:1;
			}

			&::after {
				@include la('\f0c9', 30px);
				line-height:40px;
			}
		}

		.Button-ColumnView-Enable {
			right:105px;

			&::after {
				content:'\f58d';
			}
		}
	}

	.Overview {
		h1 {
			font-size:1.25rem;
			line-height:1;
		}

		h2 {
			margin-top:0;
			color:var(--colorMedium);
		}

		&:has(.SortableChosen[data-nestable="false"]) {
			ul.Contents-List {
				&:not(:has(.ListItem)) {
					--emptyListHeight:40px;
					background-color:transparent;
				}
			}
		}

		&:has(.SortableChosen[data-disallow-top-level="true"]) {
			.Overview-Fieldset {
				&:has(.SortableDragging) {
					background-color:var(--backgroundColorContent);

					@at-root #{selector-append('.🌚', &)} {
						background-color:var(--backgroundColorContent);
					}
				}
			}

			ul.Contents-List {
				&.Level1 {
					&:not(:has(.ListItem)) {
						--emptyListHeight:40px;
						background-color:transparent;
					}

				}
			}
		}
	}

	.Overview-Fieldset {
		grid-column:1 / span 4;

		&.Overview-Fieldset-Unknown {
			border:2px solid var(--colorError);

			legend {
				background-color:var(--colorError);
				color:var(--colorBright);
			}
		}

		&.Collapsed {
			/*legend {
				border-bottom-right-radius:0;
			}*/

			.NestedList-Compact {
				display:none;
			}
		}

		&:first-of-type {
			border-top-right-radius:0;
		}

		&:last-of-type {
			border-bottom-right-radius:0;
		}

		&:not(.Collapsed) {
			&:not(:has(.ListItem)) {
				padding-bottom:40px;

				&:has(.SortableDragging) {
					background-color:#D5F1E5;

					@at-root #{selector-append('.🌚', &)} {
						background-color:var(--colorSemiDark)
					}
				}

				&::after {
					@extend %EmptyList;

					@at-root #{selector-append('.🌚', &)} {
						@extend %EmptyListDarkMode;

					}
				}

				.Contents-List {
					margin-left:-52px;
					height:40px;

					&.SortableDragging {
						--emptyListHeight:60px;
					}

					&.NestedList-Compact {
						margin-left:0;
					}
				}
			}
		}
	}

	.NestedList-Compact {
		display:flex;
		flex-wrap:wrap;

		.ListItem {
			@each $columnWidth in $columnWidths {
				&.#{map-get($columnWidth, 'class')} {
					$numerator:map-get($columnWidth, 'numerator');
					$denominator:map-get($columnWidth, 'denominator');
					$width:round(($numerator / $denominator) * 1000000) / 1000000;
					width:#{percentage($width)};
					flex:0 0 #{percentage($width)};

					@if $width < .5 {
						.Title,
						.ListItem-Inner .Title {
							font-size:.6rem;
						}
					}
					@else if $width < 1 {
						.Title {
							font-size:.8rem;
						}
					}
				}
			}

			@each $column in $columnIndents {
				&.#{map-get($column, 'class')} {
					$numerator:map-get($column, 'numerator');
					$denominator:map-get($column, 'denominator');
					$width:round(($numerator / $denominator) * 1000000) / 1000000;
					margin-left:#{percentage($width)};
				}
			}


			&.Narrow {
				width:100%;
				margin-left:0;
				flex-basis:auto;
			}
		}
	}
}
