.MediaElementsController {
	.FormInputName-MediaElementSelectors,
	.FormInputName-MediaCompAssignableModels {
		.FormInputType-ListItem {
			display:grid;
			padding-right:57px;
			gap:5px;
			//grid-template-columns:repeat(3, 1fr) 200px 200px;
			grid-template-columns:repeat(4, 1fr);

			html.Scale-Small & {
				padding-right:47px;
			}

			.FormInput {
				grid-column:auto / auto;
				margin-bottom:0;
			}
		}

		.AdditionalOptions {
			display:none;
		}
	}

	.FormInputName-MediaCompAssignableModels {
		.FormInputType-ListItem {
			grid-template-columns:repeat(2, 1fr);
		}
	}
}
