/* Miligram overrides */
html {
	font-family:Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size:16px;
	font-weight:400;
	letter-spacing:0;
}

body {
	font-family:inherit;
	font-size:inherit;
	font-weight:400;
	letter-spacing:inherit;
}

h1, h2, h3, h4, h5, h6 {
	margin-top:2rem;
	font-family:Bebas Neue, Impact, Arial Display, sans-serif;
	color:#ff2a67;
	font-size:3rem;
	font-weight:700;
	letter-spacing:0;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	margin-top:0;
}

input, select, textarea {
	margin-bottom:0;
}

fieldset {
	margin:0 0 2rem 0;
	background-color:#FFFFFF;
	border:1px solid rgba(0, 0, 0, .1);
	border-radius:3px;
	padding:40px 20px 20px;
	position:relative;
}

legend {
	margin:0;
	padding:2px .25em;
	box-shadow:2px 2px 0 rgba(0, 0, 0, .75);
	background-image:linear-gradient(-20deg, transparent 0%, rgba(0, 0, 0, .2) 100%);
	background-color:#ff2a67;
	color:#FFFFFF;
	font-size:.75rem;
	line-height:inherit;
	position:absolute;
	top:0;
	left:0;
}

legend a {
	color:inherit;
}

label {
	margin:0;
	font-size:1rem;
	line-height:inherit;
}

label input[type="checkbox"] {
	margin-right:5px;
}

a {
	color:#00ffa6;
	-webkit-transition:all 0.2s linear;
	transition:all 0.2s linear;
}

a:hover,
a:focus,
a:active {
	color:#E7C100;
	color:#ff2a67;
	-webkit-transition:all 0.2s ease-out;
	transition:all 0.2s ease-out;
}

.side-nav a,
.top-nav-links a,
th a,
.actions a {
	color:#606C76;
}

.side-nav a:hover,
.side-nav a:focus,
.actions a:hover,
.actions a:focus {
	color:#00ffa6;
}

button,
.Button {
	display:inline-block;
	height:auto;
	padding:20px 30px;
	border:0 none;
	box-shadow:2px 2px 0 rgba(0, 0, 0, .75);
	background-image:linear-gradient(-20deg, transparent 0%, rgba(0, 0, 0, .2) 100%);
	background-color:#E7C100;
	background-color:#ff2a67;
	background-color:#00ffa6;
	color:#FFFFFF;
	font-size:1rem;
	letter-spacing:0;
	line-height:1;
	text-transform:none;
}

button:hover,
.Button:hover {
	border-color:#222222;
	background-color:#222222;
	color:#FFFFFF;
}

.CustomSelect {
	display:inline-block;
	margin-bottom:2rem;
	border:1px solid;
	padding:10px 20px 12px;
	position:relative;
	z-index:100;

	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

.CustomSelect:hover {
	box-shadow:2px 2px 0 rgba(0, 0, 0, .75);
	border-color:#222222;
	background-color:#222222;
	color:#FFFFFF;
}

.CustomSelect:hover > .List {
	visibility:inherit;
	opacity:inherit;

	-webkit-transition-delay:0s;
	transition-delay:0s;
}

.CustomSelect > .List {
	min-width:calc(100% + 2px);
	max-height:60vh;
	box-shadow:2px 2px 0 rgba(0, 0, 0, .75);
	background-image:linear-gradient(-20deg, transparent 0%, rgba(0, 0, 0, .2) 100%);
	background-color:#E7C100;
	background-color:#ff2a67;
	color:#FFFFFF;
	position:absolute;
	top:100%;
	left:-1px;
	overflow:hidden auto;
	opacity:0;
	visibility:hidden;

	-webkit-transition:opacity .3s ease-in-out, visibility 0s linear .3s;
	transition:opacity .3s ease-in-out, visibility 0s linear .3s;

	scrollbar-color:#00ffa6 #ff2a67;
	scrollbar-width:thin;
}

.CustomSelect > .List a {
	color:inherit;

	-webkit-transition-delay:0s;
	transition-delay:0s;
}

.CustomSelect > .List li.Active a,
.CustomSelect > .List a:hover {
	color:#222222;
}

.CustomSelect .Item {
	margin:0 20px;
	padding:5px 0;
	border-top:1px solid rgba(0, 0, 0, .1);
	list-style-type:none;
}

.CustomSelect .Item:first-child {
	border-top-width:0;
}

.CustomSelect a {
	display:block;
	padding:5px 0;
}

/* Utility */
.table-responsive {
	display:block;
	width:100%;
	background-color:#FFFFFF;
	border:1px solid rgba(0, 0, 0, .1);
	border-radius:3px;
	padding:40px 20px 20px;
	overflow-x:auto;
	-webkit-overflow-scrolling:touch;
}

/* Main */
body {
	background:#F5F7FA;
}

.content {
	padding:2rem;
	background:#FFFFFF;
	border-radius:0.4rem;
	/* Thanks Stripe */
	box-shadow:0 7px 14px 0 rgba(60, 66, 87, 0.1),
	0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.actions a {
	font-weight:bold;
	padding:0 0.4rem;
}

th {
	white-space:nowrap;
}

li:last-child {
	margin-bottom:0;
}

/* Nav bar */

.top-nav-links a {
	margin:0 0.5rem;
}

.top-nav-title a,
.top-nav-links a {
	font-weight:bold;
}

.side-nav-item {
	display:block;
	padding:0.5rem 0;
}

/* View action */
.view.content .text {
	margin-top:1.2rem;
}

.related {
	margin-top:2rem;
}

/* Flash messages */
.message {
	padding:1rem;

	background:#EFF8FF;
	color:#00ffa6;

	border-color:#006464;
	border-width:1px;
	border-style:solid;
	border-radius:4px;
	margin-bottom:2rem;
}

.message.hidden {
	display:none;
}

.message.success {
	background:#E3FCEC;
	color:#1F9D55;
	border-color:#51D88A;
}

.message.error {
	background:#FCEBEA;
	color:#CC1F1A;
	border-color:#EF5753;
}

/* Forms */
.input.radio,
.input.checkbox {
	margin-bottom:2.0rem;
}

.input.radio input,
.input.checkbox input {
	margin:0;
}

.input.radio label,
.input.checkbox label {
	margin:0;
	display:flex;
	align-items:center;
}

.input.radio label > input,
.input.checkbox label > input {
	margin-right:1.0rem;
}

.input.radio label:first-of-type {
	margin-bottom:2.0rem;
}

/* Paginator */
.paginator {
	/*text-align:right;*/
}

.pagination {
	/*display:flex;*/
	/*justify-content:center;*/
	list-style:none;
	padding:0;
	margin:0 0 1rem;
}

.pagination li {
	margin:0 0.5rem;
	border:1px solid #EEEEEE;
}

.prev.disabled a,
.next.disabled a {
	cursor:not-allowed;
	color:#606C76;
}

.asc:after {
	content:" \2193";
}

.desc:after {
	content:" \2191";
}

/* Error */
.error-container {
	align-items:center;
	display:flex;
	flex-direction:column;
	height:100vh;
	justify-content:center;
}

.usergroups.form li.Permission {
	font-size:1rem;
}

.usergroups.form li.Permission input {
	position:absolute;
	visibility:hidden;
}

.usergroups.form li.Permission label {
	display:inline-block;
	width:20px;
	height:20px;
	margin:0 0 0 10px;
	border:1px solid #00ffa6;
	font-size:0;
	line-height:0;
	vertical-align:middle;
}

.usergroups.form li.Permission label:nth-of-type(2) {
	border-color:rgba(0, 0, 0, .1);

}

.usergroups.form li.Permission label:nth-of-type(3) {
	border-color:rgb(128, 0, 0);
}

.usergroups.form li.Permission input:nth-of-type(1):checked ~ label:nth-of-type(1) {
	background-color:#00ffa6;
}

.usergroups.form li.Permission input:nth-of-type(2):checked ~ label:nth-of-type(2) {
	background-color:rgba(0, 0, 0, .1);
}

.usergroups.form li.Permission input:nth-of-type(3):checked ~ label:nth-of-type(3) {
	background-color:rgb(128, 0, 0);
}

ul.NoList > li {
	list-style-type:none;
}

@media screen and (max-width:640px) {
	.top-nav {
		margin:0 auto;
	}

	.side-nav {
		margin-bottom:1rem;
	}

	.heading {
		margin-bottom:1rem;
	}

	.side-nav-item {
		display:inline;
		margin:0 1.5rem 0 0;
	}

	.asc:after {
		content:" \2192";
	}

	.desc:after {
		content:" \2190";
	}
}


#Sidebar {
	width:260px;
	height:100vh;
	background-color:#222222;
	color:#FFFFFF;
	position:fixed;
	top:0;
	left:0;
	overflow:hidden auto;
}

#Sidebar .Title {
	margin:0 20px;
	color:#FFFFFF;
	font-size:2.4rem;
	font-weight:700
}

#Sidebar .Title span {
	color:#00ffa6;
}

#Menu-System li {
	margin:0 0 0 20px;
	padding:5px 0;
	border-top:1px solid rgba(255, 255, 255, .1);
	list-style-type:none;
}

#Menu-System li:first-child {
	border-top-width:0;
}

#Menu-System a {
	display:block;
	padding:5px 0;
}

#Menu-System ul ul {
	margin:0 0 1rem 0;
}

#Body {
	margin-left:260px;
	padding:20px;
}

footer {
	margin-top:4rem;
	padding:1rem 20px;
	background-color:#E1E1E1;
}


.Permissions li.Permission .SimpleRadio {
	position:relative;
}

.Permissions li.Permission .SimpleRadio input {
	position:absolute;
	visibility:hidden;
}

.Permissions li.Permission .SimpleRadio input:nth-child(1):checked ~ .Labels::after {
	border-color:#1F9D55;
	background-color:#51D88A;

	-webkit-transform:translateX(-33px);
	-ms-transform:translateX(-33px);
	transform:translateX(-33px);
}

.Permissions li.Permission .SimpleRadio input:nth-child(3):checked ~ .Labels::after {
	border-color:#CC1F1A;
	background-color:#EF5753;

	-webkit-transform:translateX(33px);
	-ms-transform:translateX(33px);
	transform:translateX(33px);
}

.Permissions li.Permission .SimpleRadio .Labels {
	display:inline-block;
	width:103px;
	height:30px;
	border:1px solid #E1E1E1;
	padding:1px;
	font-size:0;
	line-height:0;
	position:relative;
	vertical-align:top;
}

.Permissions li.Permission .SimpleRadio .Labels::after {
	content:'';
	width:33px;
	height:28px;
	border:1px solid #AAAAAA;
	background-color:#E1E1E1;
	margin:auto;
	position:absolute;
	top:0;
	left:0;
	right:0;

	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

.Permissions li.Permission .SimpleRadio .Labels label {
	display:inline-block;
	width:33px;
	height:100%;
	font-size:0;
	line-height:0;
	position:relative;
	z-index:1;
}


.InputType-TranslatableText > .TranslatableTexts {
	display:flex;
	margin-bottom:2em;
	justify-content:space-between;
}


.InputType-TranslatableText > .TranslatableTexts > .Input {
	flex:0 0 24%;
}

.ContentElements li {
	display:flex;
	margin-bottom:0;
	padding-block:.25em;
	border-top:1px solid rgba(0, 0, 0, .15);
}

.ContentElements li:nth-child(even) {
	border-top-color:rgba(0, 0, 0, .1);
	background-color:rgba(0, 0, 0, .05);
}

.ContentElements li:last-child {
	border-bottom:1px solid rgba(0, 0, 0, .1);
}

.ContentElements input {
	margin-right:5px;
}

.ContentElements label {
	flex:0 0 200px;
}
.ContentElements select {
	display:inline-block;
	width:200px;
	margin-left:auto;
}

.ContentElements label:nth-child(2) {
	display:flex;
	padding-left:50px;
	flex:0 0 350px;
}

.ContentElements label:nth-child(3) {
	margin-left:auto;
	padding-left:50px;
	flex:0 0 280px;
}

table.PageTemplates th,
table.PageTemplates td {
	padding-block:.25em;
	vertical-align:top;
}

table.PageTemplates td:first-child {
	width:200px;
}

table.PageTemplates tr:nth-child(even) td {
	border-top-color:rgba(0, 0, 0, .1);
	background-color:rgba(0, 0, 0, .05);
}

table.PageTemplates .InputType-Checkbox {
	min-width:150px;
	margin-left:50px;
	float:left;
}

table.PageTemplates .InputType-Checkbox:first-child {
	margin-left:0;
}

.Form > form > .Fieldsets {
	display:grid;
	grid-template-columns:repeat(2, 1fr);
}

.Fieldset-General,
.Fieldset-Content {
	grid-column-start:span 2;
}


.FlashMessage {
	margin-bottom:2rem;
	border:2px solid;
	padding:20px 30px;
}

.FlashMessage.Success {
	display:inline-block;
	color:#00FFA6;
}

.Fieldset-Data {
	display:grid;
	grid-template-columns:repeat(2, 1fr);
	gap:25px;
}

.NestedList {
	--first-column-width:100px;
}

.NestedList .ListItem {
	margin:10px 0 0 0;
	padding:5px 5px 0 5px;
	list-style-type:none;
}

.NestedList .ListItem.Inactive > .ListItem-Inner {
	background-image:repeating-linear-gradient(-55deg, rgba(51, 51, 51, 0.05), rgba(51, 51, 51, 0.05) 10px, rgba(51, 51, 51, 0.01) 10px, rgba(51, 51, 51, 0.01) 20px);
}

.NestedList .ListItem.ParentsInactive > .ListItem-Inner {
	opacity:0.5;
	border-style:dashed;
	font-style:italic;
}

.NestedList .ListItem-Inner {
	display:grid;
	padding:10px;
	font-size:1rem;
	border:1px solid rgba(0, 0, 0, .1);
	grid-template-columns:var(--first-column-width) 100px 1fr 200px;
}

.NestedList ul {
	margin:0 0 0 20px;
}

.NestedList.Level1 {
	margin-left:0;
	overflow:hidden;
}

.NestedList ul.Level2 {
	--first-column-width:80px;
}

.NestedList ul.Level4 {
	--first-column-width:60px;
}

.NestedList ul.Level5 {
	--first-column-width:40px;
}

.NestedList ul.Level6 {
	--first-column-width:20px;
}

.NestedList .Actions a {
	display:block;
}

.NestedList .Id {
	font-size:12px;
	font-style:italic;
}


.Pages-List .ListItem-Inner,
.Contents-List .ListItem-Inner {
	grid-template-columns:var(--first-column-width) 1fr 200px;
}

.Contents-List.ColumnSystem-Awyiss {
	overflow:hidden;
}

.Contents-List.ColumnSystem-Awyiss .ListItem {
	width:100%;
	flex:0 0 100%;
	float:left;
}

.Contents-List.ColumnSystem-Awyiss .Column-16\.67 {
	width:16.67%;
	flex-basis:16.67%;
}

.Contents-List.ColumnSystem-Awyiss .Column-20 {
	width:20%;
	flex-basis:20%;
}

.Contents-List.ColumnSystem-Awyiss .Column-25 {
	width:25%;
	flex-basis:25%;
}

.Contents-List.ColumnSystem-Awyiss .Column-33\.33 {
	width:33.33%;
	flex-basis:33.33%;
}

.Contents-List.ColumnSystem-Awyiss .Column-40 {
	width:40%;
	flex-basis:40%;
}

.Contents-List.ColumnSystem-Awyiss .Column-50 {
	width:50%;
	flex-basis:50%;
}

.Contents-List.ColumnSystem-Awyiss .Column-60 {
	width:60%;
	flex-basis:60%;
}

.Contents-List.ColumnSystem-Awyiss .Column-66\.67 {
	width:66.67%;
	flex-basis:66.67%;
}

.Contents-List.ColumnSystem-Awyiss .Column-75 {
	width:75%;
	flex-basis:75%;
}

.Contents-List.ColumnSystem-Awyiss .Column-80 {
	width:50%;
	flex-basis:50%;
}

.Contents-List.ColumnSystem-Awyiss .Column-83\.33 {
	width:83.33%;
	flex-basis:83.33%;
}

.Contents-List.ColumnSystem-Awyiss .Column-Last + .ListItem {
	clear:left;
}


.Contents-List.ColumnSystem-Awyiss .ColumnIndent-16\.67 {
	margin-left:16.67%;
}

.Contents-List.ColumnSystem-Awyiss .ColumnIndent-20 {
	margin-left:20%;
}

.Contents-List.ColumnSystem-Awyiss .ColumnIndent-25 {
	margin-left:25%;
}

.Contents-List.ColumnSystem-Awyiss .ColumnIndent-33\.33 {
	margin-left:33.33%;
}

.Contents-List.ColumnSystem-Awyiss .ColumnIndent-40 {
	margin-left:40%;
}

.Contents-List.ColumnSystem-Awyiss .ColumnIndent-50 {
	margin-left:50%;
}

.Contents-List.ColumnSystem-Awyiss .ColumnIndent-60 {
	margin-left:60%;
}

.Contents-List.ColumnSystem-Awyiss .ColumnIndent-66\.67 {
	margin-left:66.67%;
}

.Contents-List.ColumnSystem-Awyiss .ColumnIndent-75 {
	margin-left:75%;
}

.Contents-List.ColumnSystem-Awyiss .ColumnIndent-80 {
	margin-left:50%;
}

.Contents-List.ColumnSystem-Awyiss .ColumnIndent-83\.33 {
	margin-left:83.33%;
}


.Contents-List.ColumnSystem-Bootstrap {
	overflow:hidden;
}

.Contents-List.ColumnSystem-Bootstrap .ListItem {
	width:100%;
	flex:0 0 100%;
	float:left;
}

.Contents-List.ColumnSystem-Bootstrap .col-1 {
	width:8.333333%;
	flex-basis:8.333333%;
}

.Contents-List.ColumnSystem-Bootstrap .col-2 {
	width:16.666667%;
	flex-basis:16.666667%;
}

.Contents-List.ColumnSystem-Bootstrap .col-3 {
	width:25%;
	flex-basis:25%;
}

.Contents-List.ColumnSystem-Bootstrap .col-4 {
	width:33.333333%;
	flex-basis:33.333333%;
}

.Contents-List.ColumnSystem-Bootstrap .col-5 {
	width:41.666667%;
	flex-basis:41.666667%;
}

.Contents-List.ColumnSystem-Bootstrap .col-6 {
	width:50%;
	flex-basis:50%;
}

.Contents-List.ColumnSystem-Bootstrap .col-7 {
	width:58.333333%;
	flex-basis:58.333333%;
}

.Contents-List.ColumnSystem-Bootstrap .col-8 {
	width:66.666667%;
	flex-basis:66.666667%;
}

.Contents-List.ColumnSystem-Bootstrap .col-9 {
	width:75%;
	flex-basis:75%;
}

.Contents-List.ColumnSystem-Bootstrap .col-10 {
	width:83.333333%;
	flex-basis:83.333333%;
}

.Contents-List.ColumnSystem-Bootstrap .col-11 {
	width:91.666667%;
	flex-basis:91.666667%;
}


.Contents-List.ColumnSystem-Bootstrap .offset-1 {
	margin-left:8.333333%;
}

.Contents-List.ColumnSystem-Bootstrap .offset-2 {
	margin-left:16.666667%;
}

.Contents-List.ColumnSystem-Bootstrap .offset-3 {
	margin-left:25%;
}

.Contents-List.ColumnSystem-Bootstrap .offset-4 {
	margin-left:33.333333%;
}

.Contents-List.ColumnSystem-Bootstrap .offset-5 {
	margin-left:41.666667%;
}

.Contents-List.ColumnSystem-Bootstrap .offset-6 {
	margin-left:50%;
}

.Contents-List.ColumnSystem-Bootstrap .offset-7 {
	margin-left:58.333333%;
}

.Contents-List.ColumnSystem-Bootstrap .offset-8 {
	margin-left:66.666667%;
}

.Contents-List.ColumnSystem-Bootstrap .offset-9 {
	margin-left:75%;
}

.Contents-List.ColumnSystem-Bootstrap .offset-10 {
	margin-left:83.333333%;
}

.Contents-List.ColumnSystem-Bootstrap .offset-11 {
	margin-left:91.666667%;
}

.Contents-List.ColumnSystem-Bootstrap .Column-Last + .ListItem {
	clear:left;
}