%AvailableTemplateElementsFieldset {
	grid-column:1 / -1;

	&:has(.SortableDragging) {
		background-color:color-mix(in srgb, var(--colorSuccess) 20%, #FFFFFF);

		html.🌚 & {
			background-color:var(--colorSemiDark)
		}
	}

	&:not(.Collapsed) {
		&:not(:has(.Item)) {
			padding-bottom:40px;

			&::after {
				@extend %EmptyList;

				html.🌚 & {
					@extend %EmptyListDarkMode;
				}
			}

			.List {
				height:40px;
			}
		}
	}

	&:last-child {
		margin-bottom:0;
	}
}

%AvailableTemplateElementsList {
	margin-bottom:0;
	position:sticky;
	top:110px;
	grid-column:1 / 1;

	@media screen and (width <= 1024px) {
		position:relative;
		top:0;
	}

	&:not(.Collapsed) {

	}

	html.👀 & {
		top:40px;
	}

	&:not(:has(.Item)) {
		padding-bottom:40px;

		&:has(.SortableDragging) {
			background-color:color-mix(in srgb, var(--colorSuccess) 20%, #FFFFFF);

			html.🌚 & {
				background-color:var(--colorSemiDark)
			}
		}

		&::after {
			@extend %EmptyList;

			html.🌚 & {
				@extend %EmptyListDarkMode;
			}
		}

		.List {
			height:40px;
		}
	}

	.List {
		max-height:calc(100dvh - 240px);
		margin:0 -10px 0;
		padding-inline:10px;
		border-radius:5px;
		overscroll-behavior:contain;
		overflow-y:auto;
		scrollbar-color:var(--colorMedium) var(--colorLight);
		scrollbar-width:thin;

		html.🌚 & {
			scrollbar-color:var(--colorSemiDark) oklch(from var(--colorBackgroundContentDarkMode) calc(l - 0.0473) calc(c - 0.005) calc(h + 1.12) / .85);
		}

		html.👀 & {
			max-height:calc(100dvh - 140px);
		}

		&:focus-visible {
			box-shadow:0 0 10px var(--colorSuccess);
			outline:2px solid var(--colorSuccess);
			outline-offset:2px;
		}
	}
}

%AvailableTemplateElementsListItem {
	display:grid;
	min-height:50px;
	margin:5px 20px 0;
	padding:10px 20px;
	border-radius:5px;
	background-color:var(--colorNeutralLight);
	list-style-type:none;
	transition:background-color .3s ease-in-out;
	cursor:move;
	align-items:center;
	position:relative;

	@media screen and (width <= 540px) {
		margin-inline:10px;
		padding-inline:10px;
	}

	html.🌚 & {
		background-color:var(--colorSemiDark);
	}

	html.Scale-Small & {
		@media screen and (width > 768px) {
			margin-inline:10px;
			padding:5px 10px;
		}
	}

	&.SortableGhost {
		background-color:var(--colorSuccess);
		outline:2px solid var(--colorSuccess);
		outline-offset:-2px;

		html.🌚 & {
			&:is(
				*,
				[data-assignable="false"],
				:hover
			) {
				background-color:var(--colorSuccess);
			}
		}

		&:hover {
			background-color:var(--colorSuccess);
		}
	}

	&[data-assignable="false"] {
		background-color:color-mix(in srgb, var(--colorNeutralLight), transparent 50%);

		html.🌚 & {
			background-color:oklch(from var(--colorSemiDarkDarkMode) calc(l - 0.0403) calc(c - 0.004) calc(h + 0.88));
		}

		.Title {
			color:var(--colorMedium);
		}
	}

	.List[data-fieldset="unused"] > & {
		@media screen and (width <= 1024px) {
			padding-right:60px;
		}
	}

	.List:not([data-fieldset="unused"]) > & {
		gap:10px 20px;
		grid-template-columns:auto fit-content(120px) fit-content(250px) 52px;

		@media screen and (1024px < width <= 1280px),
			screen and (768px < width <= 860px),
			screen and (width <= 680px) {
			grid-template-columns:auto fit-content(250px) 52px;
		}

		@media screen and (680px < width <= 768px) {
			grid-template-columns:auto fit-content(100px) 175px 52px;
		}

		@media screen and (width <= 640px) {
			grid-template-columns:50% 1fr 52px;
		}

		@media screen and (width <= 540px) {
			gap:10px;
		}

		&:is(
			[class*="-TitleTag"],
			[class*="-SubtitleTag"]
		) {
			.FormInput {
				display:none;
			}
		}

		&:hover {
			.Button-AddRemove {
				opacity:unset;
			}
		}

		&[data-assignable="false"] {
			.FormInputType-Checkbox {
				color:var(--colorText);
			}
		}

		.Title {
			@media screen and (1024px < width <= 1280px),
				screen and (768px < width <= 860px),
				screen and (width <= 680px) {
				//grid-column:1 / -1;
			}
		}

		.FormInputType-Checkbox {
			display:block;
			margin-bottom:0;
			white-space:nowrap;
			grid-column:2 / span 1;

			@media screen and (1024px < width <= 1280px),
				screen and (768px < width <= 860px),
				screen and (width <= 680px) {
				grid-column-start:1;
			}

			@media screen and (width <= 640px) {
				grid-column:2 / -1;
				grid-row:auto;
			}

			label {
				font-size:.8rem;
				line-height:1;

				&::before {
					top:-2px;

					@media screen and (width <= 1024px) {
						top:-4px;
					}
				}
			}
		}

		.FormInputType-Select {
			display:flex;
			margin-bottom:0;
			grid-column:3 / span 1;
			align-items:center;

			@media screen and (1024px < width <= 1280px),
				screen and (768px < width <= 860px),
				screen and (width <= 680px) {
				grid-column-start:2;
				grid-row:1 / span 2;
			}

			@media screen and (width <= 640px) {
				grid-column:1 / span 2;
				grid-row:auto;
			}

			.Label {
				display:inline-block;
				width:200px;
				margin-bottom:0;
				padding-left:0;
				line-height:1;
			}
		}

		.FormInputType-TranslatableText {
			display:block;
			height:52px;
			grid-column:4 / span 1;

			@media screen and (1024px < width <= 1280px),
				screen and (768px < width <= 860px),
				screen and (width <= 680px) {
				grid-column-start:3;
				grid-row:1 / span 2;
			}

			@media screen and (width <= 640px) {
				grid-column:3 / -1;
				grid-row:auto;
			}

			@media screen and (width <= 768px) {
				height:42px;
			}

			&:has(input:not([value=""])) {
				.ShowTranslationDialog {
					background-color:var(--colorSuccess);
				}
			}

			> .Label {
				display:none;
			}

			.FormInputType-Text {
				&.IsCurrentLanguage {
					> input {
						display:none;
					}
				}
			}

			.ShowTranslationDialog {
				width:52px;
				height:52px;
				margin-top:0;
				top:0;
				right:0;

				@media screen and (width <= 768px) {
					width:42px;
					height:42px;
				}
			}
		}

		.Button-AddRemove {
			border-radius:0 5px 5px 0;
			right:auto;
			left:100%;
			opacity:.2;
			transition:opacity .3s ease-in-out;

			@media screen and (width <= 540px) {
				width:30px;
				height:30px;
				right:-30px;
				left:auto;
				opacity:unset;
			}
		}
	}

	&:first-child {
		margin-top:0;
	}

	&:hover {
		background-color:var(--colorLight);

		html.🌚 & {
			background-color:oklch(from var(--colorSemiDarkDarkMode) calc(l + 0.0389) calc(c + 0.004) calc(h - 0.55));
		}

		.Button-AddRemove {
			opacity:inherit;
			pointer-events:auto;
		}
	}

	.Title {
		display:block;
		line-height:1;

		:is(
			label,
			input
		) {
			pointer-events:none;
		}

		input {
			display:none;
		}
	}

	> :is(
		label,
		.FormInputType-TranslatableText,
		.FormInputType-Select,
		.FormInputType-Checkbox
	) {
		display:none;
	}

	.Button-AddRemove {
		@extend %InFieldButton;

		margin:auto;
		font-size:0;
		line-height:0;
		opacity:0;
		pointer-events:none;
		transition:opacity .3s ease-in-out;

		&:is(.Button-Delete):is(.Button-Delete) {
			background-color:var(--colorError);
			opacity:0;

			&::after {
				border:0 none;
				top:-1px;
			}
		}

		&:is(.Button-Add) {
			//background-color:var(--colorSuccess);
		}

		&:is(.Button) {
			width:40px;
			height:40px;
			inset:0 10px 0 auto;
		}

		&::after {
			width:auto;
			height:auto;
			margin:0;
			font-size:20px;
			line-height:.9;
			vertical-align:-2px;
			position:relative;

			@media screen and (width <= 768px) {
				transform:none;
			}
		}
	}
}