%ButtonGlow {
	content:'';
	height:10px;
	border-radius:50%;
	box-shadow:0 0 15px 1px #ffe935;
	//noinspection CssInvalidPropertyValue
	mix-blend-mode:plus-lighter;
	position:absolute;
	bottom:-15px;
	right:10px;
	left:10px;
	opacity:0;
	pointer-events:none;
	transform:translate(var(--x), var(--y));
	transition:opacity .3s ease-in-out, transform .1s ease;
}

%InFieldButton {
	width:50px;
	height:50px;
	border-radius:4px;
	padding:0;
	font-size:0;
	line-height:0;
	background-color:var(--colorMedium);
	position:absolute;
	top:calc(1.05rem + 1px);
	right:1px;

	@media screen and (width <= 768px) {
		width:40px;
		height:40px;
		padding-block:0;
	}

	html.🌚 & {
		background-color:var(--backgroundColor);
	}

	html.Scale-Small & {
		@media screen and (width > 768px) {
			width:40px;
			height:40px;
			padding-block:0;
		}
	}
}

%HoverEffect {
	width:0;
	height:0;
	border-radius:50%;
	background-color:var(--colorSuccess);
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	pointer-events:none;
	will-change:width, height;

	transform:translate(-50%, -50%);
	transition:width .3s ease-in-out, height .3s ease-in-out;
}