%ContentAreasFieldsets {
	.Overview {
		&:has(.SortableChosen[data-nestable="false"]) {
			ul.NestedList {
				&:not(:has(.ListItem)) {
					background-color:transparent;
				}

				.NestedList {
					padding-bottom:0;
					outline:0 none;
					box-shadow:none;
				}
			}
		}
	}

	.Overview-Fieldset {
		grid-column:1 / -1;

		&.Collapsed {
			.NestedList-Compact {
				display:none;
			}
		}

		&:not(.Collapsed) {
			&:not(:has(.ListItem)) {
				padding-bottom:40px;

				&:has(.SortableDragging) {
					background-color:color-mix(in srgb, var(--colorSuccess) 20%, #FFFFFF);

					html.🌚 & {
						background-color:var(--colorSemiDark)
					}
				}

				&::after {
					@extend %EmptyList;

					html.🌚 & {
						@extend %EmptyListDarkMode;
					}
				}

				.NestedList {
					margin-left:-52px;
					height:40px;

					&.NestedList-Compact {
						margin-left:0;
					}
				}
			}
		}
	}

	.NestedList-Compact {
		@extend %ColumnList;
	}
}