%DialogTitle {
	&::before,
	&::after {
		content:attr(data-title, 'Question:');
		width:100%;
		height:52px;
		padding:0 20px;
		border-radius:5px;
		background-color:color-mix(in srgb, var(--colorDark), transparent 50%);
		color:var(--colorBright);
		//noinspection CssNoGenericFontName
		font-family:var(--fontStackHeading);
		font-size:1.1rem;
		line-height:52px;
		position:absolute;
		top:0;
		left:0;
		z-index:9;
		text-overflow:ellipsis;
		overflow:hidden;
		white-space:nowrap;

		@media screen and (width <= 768px) {
			height:42px;
			line-height:42px;
		}

		@media screen and (width <= 540px) {
			padding-inline:10px;
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				height:42px;
				line-height:42px;
			}
		}
	}

	&::before {
		content:'';
		background-image:url($relativePath + 'img/awyiss-v' + $awyissVersionMajor + '-' + $awyissVersionName + '.jpg');
		background-color:var(--colorDark);
		background-position:center;
		background-size:cover;
	}
}

%DialogNoTitle {
	height:fit-content;
	min-height:80px;
	max-height:80dvh;
	padding:0;
	overflow:hidden;

	&::before,
	&::after {
		display:none;
	}
}