%ContentFormElements {
	.FormInputName-Title {
		&:has(.FormInputName-TitleTag) {
			padding-right:140px;
		}
	}

	.FormInputName-Subtitle {
		&:has(.FormInputName-SubtitleTag) {
			padding-right:140px;
		}
	}

	:is(
		.FormInputName-TitleTag,
		.FormInputName-SubtitleTag
	) {
		width:120px;
		position:absolute;
		top:0;
		right:0;
	}

	.FormInputName-Data {
		.FormInputType-ListItem {
			grid-template-columns:repeat(2, 1fr);
		}
	}
}

%Input {
	--backgroundColor:#f2f6f8;

	display:block;
	width:100%;
	padding:10px;
	border:1px solid rgba(0, 0, 0, .1);
	border-radius:5px;
	outline:0 none;
	background-image:url($relativePath + 'img/background-pattern-light.png');
	background-color:var(--backgroundColor);
	accent-color:var(--colorSuccess);
	color:var(--colorText);
	caret-color:var(--colorSuccess);
	font-family:inherit;
	font-size:1rem;
	line-height:30px;
	transition:border-color .3s ease-in-out, background-color .3s ease-in-out;

	@media screen and (width <= 768px) {
		padding-block:5px;
	}

	html.🌚 & {
		--backgroundColor:var(--colorSemiDark);

		background-blend-mode:multiply;
		background-image:url($relativePath + 'img/background-pattern-dark.png');
		border-color:rgba(255, 255, 255, .1);
	}

	html.Scale-Small & {
		@media screen and (width > 768px) {
			padding-block:5px;
		}
	}

	&[disabled] {
		opacity:.5;
		cursor:not-allowed;
	}
}

/**
 * Not to be confused with the #OverlayForm
 */
%OverlayForm {
	width:100%;
	height:100%;
	margin-bottom:0;
	padding:62px 10px 10px 10px;

	@media screen and (width <= 768px) {
		padding-top:52px;
	}

	@media screen and (width <= 540px) {
		padding:47px 5px 5px;
	}

	html.Scale-Small & {
		@media screen and (width > 768px) {
			padding-top:52px;
		}
	}

	@extend %DialogTitle;

	> .ButtonArea {
		&:not(.ButtonArea-Bottom) {
			width:max-content;
			margin:0;
			padding:2px;
			position:absolute;
			top:0;
			right:0;
			z-index:10;

			@media screen and (width <= 640px) {
				display:flex;
			}

			.Button {
				width:auto;
				height:48px;
				margin-bottom:0;
				background-color:transparent;
				line-height:26px;

				@media screen and (width <= 768px) {
					height:38px;
				}

				@media screen and (width <= 540px) {
					padding-inline:10px;
				}

				@media screen and (width <= 480px) {
					font-size:0;
					line-height:0;
				}

				html.Scale-Small & {
					@media screen and (width > 768px) {
						height:38px;
					}
				}

				&::after {
					@media screen and (width <= 480px) {
						margin-left:0;
					}
				}
			}
		}
	}

	> form {
		display:block;
		height:100%;
		max-height:calc(80dvh - 112px);
		padding:30px;
		border-radius:5px;
		overscroll-behavior:contain;
		overflow-y:auto;
		scrollbar-color:var(--scrollbarColor);
		scrollbar-width:thin;

		@media screen and (width <= 768px) {
			padding:10px;
		}

		@media screen and (width <= 540px) {
			padding:5px;
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				padding:10px;
			}
		}

		&:focus-visible {
			box-shadow:0 0 10px var(--colorSuccess);
			outline:2px solid var(--colorSuccess);
			outline-offset:2px;
		}
	}

	.Fieldsets {
		--columns:12;

		display:grid;
		margin:0 0 20px 0;
		padding:0;
		box-shadow:none;
		background-color:transparent;
		align-items:start;
		gap:20px;
		grid-auto-rows:min-content;
		grid-template-columns:repeat(var(--columns), 1fr);

		@container (width <= 680px) {
			--columns:6;
		}

		@container (width <= 460px) {
			--columns:1;
		}

		@media screen and (width <= 768px) {
			margin-bottom:0;
		}

		@media screen and (width <= 540px) {
			gap:10px;
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				margin-bottom:0;
			}
		}
	}

	.ButtonArea {
		&.ButtonArea-Bottom {
			display:flex;
			width:100%;
			margin-right:0;
			margin-bottom:0;

			.Button {
				width:auto;
				margin-right:0;
				margin-bottom:0;
				outline-offset:2px;

				@media screen and (width <= 480px) {
					width:100%;
				}

				&:first-child {
					margin-right:auto;
				}
			}
		}
	}
}