/**
 * Frontend Editor
 * This file is only used in the frontend,
 * but compiled only in the backend.
 */
@layer Awyiss {
	html:has(#AwyissFrontendEditor.Visible) {
		overflow:hidden;
	}

	:is(
		#AwyissEditLink,
		#AwyissFrontendEditorHighlight,
		#AwyissFrontendEditor
	) {
		position:absolute;
		top:0;
		z-index:247365;
		opacity:0;
		visibility:hidden;
		transition:opacity .3s ease-in-out, visibility 0s linear .3s;

		&.Visible {
			opacity:1;
			visibility:visible;
			transition-delay:0s;

		}
	}

	#AwyissEditLink {
		width:40px;
		height:40px;
		border-radius:5px;
		background-color:var(--colorFrontendEditorColor, var(--awyissColor, #63d1a5));
		background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYZJREFUeNrs2YFtwjAQAEAHMYA3aEZwN3A3yEZVJ2g3yAh0A9gAugEbhA1Sv+RUIf0mNvw/38gvvUDGQn/ym8jGmDVF3/da04ZsQ3b9dcBYPczTDnEIYBzwWTNAqgGiLFzIfUi7MO8S8rmqqvNGYaenIkyc86qxtf5qJxjzcV8cpx9qg8wh3GhejUE2ytsJ9sBLyNOknX7FNr56oYLPMe9BtMi8n9aSiGmL5LTT8Ew5InNbSQgXAuZaKQgnwk2f7P8WsQTxD/6JTUY8AsKCkIawISQhrAgpCDtCAiKC4IaIITghogguiDiCA8KFcOOLBgnIjgnRLdVDfbByieeJfeLcnLM72YpY5DsagpVIqodyRRwydutKmOyVIIR4pEA40tYhm0yEyUWMz+z3xhMy1s0UNIe4KbZMrWUXbgdJEdx7RAxBBUm5SoL98smFoGotjxQNxX6FPMT3F+4LMwoIFPkmWTQX5EPDnavGvxUKpEAKpEAKpEDUPNndWiDvpbUKpEDWFd8CDADUxOn0SJCdQAAAAABJRU5ErkJggg==');
		background-repeat:no-repeat;
		background-position:11px 8px;
		background-size:20px;
		color:#FFFFFF;
		font-size:0;
		line-height:0;
		text-align:center;
	}

	#AwyissFrontendEditorHighlight {
		border-radius:5px;
		outline:3px solid var(--colorFrontendEditorColor, var(--awyissColor, #63d1a5));
		pointer-events:none;
	}

	#AwyissFrontendEditor {
		background-color:rgba(0, 0, 0, .8);
		backdrop-filter:blur(5px);
		position:fixed;
		inset:0;
		z-index:247365;

		.Inner {
			width:calc(100% - 80px);
			max-width:1280px;
			max-height:80vh;
			margin:auto;
			background-color:#FFFFFF;
			border-radius:5px;
			position:absolute;
			inset:0;
			overflow:hidden;

			@media screen and (width <= 768px) {
				width:calc(100dvw - 40px);
			}

			@media screen and (width <= 540px) {
				width:calc(100dvw - 20px);
			}
		}

		iframe {
			display:block;
			border:0 none;
			width:100%;
			height:100%;
		}
	}
}