$relativePath:'../../' !default;

@import '../line-awesome/mixins';

@import '../helper/reset';
@import '../helper/variables';

@import '../extendables';

@import '../general/fonts';
@import '../general/general';
@import '../general/body';

/**
 * Frontend Error message styles
 * This file is only used in the frontend,
 * but compiled only in the backend.
 */

body {
	padding:0;
}

#Content {
	display:flex;
	min-height:100dvh;
	padding:40px;
	text-align:center;
	align-content:center;
	flex-wrap:wrap;
	justify-content:center;
	overscroll-behavior:contain;
	overflow-y:auto;

	> * {
		flex:0 0 100%;
	}

	img {
		max-width:100%;
		margin-block:calc(var(--lineHeightMain) * 2);
		flex:0 0 auto;
	}
}

h1 {
	margin:0 auto;
}