.#{$la-css-prefix-lab} {
  font-family: $la-font-name-lab;
  font-weight: 400;
}

.#{$la-css-prefix-lar} {
  font-family: $la-font-name-lar;
  font-weight: 400;
}

.#{$la-css-prefix-las} {
  font-family: $la-font-name-las;
  font-weight: 900;
}
