.WidgetTemplatesController {
	.Fieldset-WidgetElements {
		padding-inline:20px;
		//box-shadow:none;
		//background-color:transparent;
		row-gap:var(--rowGap);
		grid-template-columns:1fr;

		@media screen and (width <= 768px) {
			padding-top:40px;
		}

		@media screen and (width <= 640px) {
			row-gap:var(--lineHeightMain);
		}

		@media screen and (width <= 540px) {
			padding-inline:10px;
		}
	}

	.Fieldset-WidgetElements-Available,
	.Fieldset-Fieldset {
		display:block;
		padding-inline:20px;

		@media screen and (width <= 768px) {
			padding-top:40px;
			padding-bottom:20px;
		}

		@media screen and (width <= 540px) {
			padding-top:30px;
			padding-inline:10px;
			padding-bottom:10px;
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				padding-bottom:20px;
			}
		}
	}

	.Fieldset-WidgetElements-Available {
		@extend %AvailableTemplateElementsList;
	}

	.WidgetElement {
		@extend %AvailableTemplateElementsListItem;
	}

	.Fieldset-Fieldset {
		@extend %AvailableTemplateElementsFieldset;

		legend {
			top:-10px;
		}
	}
}