.BackendMenuEntries {
	&.Form {
		.AccessHelper,
		.LinkHelper {
			display:none;
		}

		:is(
			.Button-AccessHelper,
			.Button-LinkHelper
		) {
			@extend %InFieldButton;

			&::after {
				@extend %LineAwesomeIcon;
				content:'\f023';
				font-size:24px;
				line-height:50px;

				@media screen and (width <= 768px) {
					line-height:40px;
				}

				html.Scale-Small & {
					@media screen and (width > 768px) {
						line-height:40px;
					}
				}
			}
		}

		.Button-LinkHelper {
			&::after {
				content:'\f0c1';
			}
		}
	}
}

#LinkHelperDialog {
	.FormInputName-UrlParams {
		.FormInputType-ListItem {
			display:grid;
			padding-right:57px;
			gap:0 5px;
			grid-template-columns:repeat(2, 1fr);

			@media screen and (width <= 768px) {
				padding-right:47px;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					padding-right:47px;
				}
			}
		}

		.SortableHandle {
			top:6px;

			@media screen and (width <= 540px) {
				top:11px;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					top:1px;
				}
			}
		}

		.Button-Remove {
			width:52px;
			height:52px;
			top:0;
			right:0;

			@media screen and (width <= 768px) {
				width:42px;
				height:42px;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					width:42px;
					height:42px;
				}
			}

			&.Disabled {
				opacity:.25;
				visibility:visible;
				pointer-events:none;
			}
		}
	}
}

#LinkHelperDialog,
#AccessHelperDialog {
	.FormInput {
		grid-column:1 / -1;

		&:nth-last-child(1 of .FormInput) {
			@media screen and (width <= 540px) {
				margin-bottom:10px;
			}
		}
	}

	.FormInputType-Select {
		width:100%;
		flex:0 0 100%;
	}
}