.BackendMenuEntries {
	&.Form {
		.AccessHelper,
		.LinkHelper {
			display:none;
		}

		.Button-AccessHelper,
		.Button-LinkHelper {
			@extend %InFieldButton;

			&::after {
				@include la('\f023', 24px);
				line-height:50px;

				.Scale-Small & {
					line-height:40px;
				}
			}
		}

		.Button-LinkHelper {
			&::after {
				content:'\f0c1';
			}
		}
	}
}

#LinkHelperDialog {
	.FormInputName-UrlParams {
		.FormInputType-ListItem {
			display:grid;
			padding-right:57px;
			gap:0 5px;
			grid-template-columns:repeat(2, 1fr);

			.Scale-Small & {
				padding-right:47px;
			}
		}

		.Button-Remove {
			width:52px;
			height:52px;
			top:0;
			right:0;

			.Scale-Small & {
				width:42px;
				height:42px;
			}

			&.Disabled {
				opacity:.25;
				visibility:visible;
				pointer-events:none;
			}
		}
	}
}

#LinkHelperDialog,
#AccessHelperDialog {
	.FormInputType-Select {
		width:100%;
		flex:0 0 100%;
	}
}