/* Miligram overrides */
html {
	font-family:Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size:16px;
	font-weight: 400;
	letter-spacing:0;
}

body {
	font-family:inherit;
	font-size:inherit;
	font-weight:400;
	letter-spacing:inherit;
}

h1, h2, h3, h4, h5, h6 {
	width:fit-content;
	padding:0 20px;
	background-color:teal;
	color:#FFFFFF;
	font-size:3rem;
}

input, select, textarea {
	margin-bottom:0;
}

fieldset {
	border:1px solid rgba(0, 0, 0, .1);
	border-radius:3px;
	padding:40px 20px 20px;
	position:relative;
}

legend {
	margin:0;
	padding:2px .25em;
	background-color:teal;
	color:#FFF;
	font-size:.75rem;
	line-height:inherit;
	position:absolute;
	top:0;
	left:0;
}

label {
	margin:0;
	font-size:1rem;
	line-height:inherit;
}

label input[type="checkbox"] {
	margin-right:5px;
}

a {
	color:teal;
	-webkit-transition:all 0.2s linear;
	transition:all 0.2s linear;
}

a:hover,
a:focus,
a:active  {
	color:#E7C100;
	-webkit-transition:all 0.2s ease-out;
	transition:all 0.2s ease-out;
}

.side-nav a,
.top-nav-links a,
th a,
.actions a {
	color: #606c76;
}

.side-nav a:hover,
.side-nav a:focus,
.actions a:hover,
.actions a:focus {
	color:teal;
}

.Button {
	padding:4px 20px 6px;
	background-color:#E7C100;
	color:#FFFFFF;
	font-size:1.25rem;
}

.Button:hover {
	border-color:#222222;
	background-color:#222222;
	color:#FFFFFF;
}

.CustomSelect {
	display:inline-block;
	border:1px solid;
	padding:10px 20px 12px;
	position:relative;

	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

.CustomSelect:hover {
	border-color:#222222;
	background-color:#222222;
	color:#FFFFFF;
}

.CustomSelect:hover > .List {
	visibility:inherit;
	opacity:inherit;

	-webkit-transition-delay:0s;
	transition-delay:0s;
}

.CustomSelect > .List {
	min-width:calc(100% + 2px);
	background-color:#E7C100;
	color:#FFFFFF;
	position:absolute;
	top:100%;
	left:-1px;
	opacity:0;
	visibility:hidden;

	-webkit-transition:opacity .3s ease-in-out, visibility 0s linear .3s;
	transition:opacity .3s ease-in-out, visibility 0s linear .3s;
}

.CustomSelect > .List a {
	color:inherit;

	-webkit-transition-delay:0s;
	transition-delay:0s;
}

.CustomSelect > .List a:hover {
	color:#222222;
}

.CustomSelect li {
	margin:0 20px;
	padding:5px 0;
	border-top:1px solid rgba(0, 0, 0, .1);
	list-style-type:none;
}

.CustomSelect li:first-child {
	border-top-width:0;
}

.CustomSelect a {
	display:block;
	padding:5px 0;
}

/* Utility */
.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

/* Main */
body {
	background: #f5f7fa;
}
.content {
	padding: 2rem;
	background: #ffffff;
	border-radius: 0.4rem;
	/* Thanks Stripe */
	box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
	0 3px 6px 0 rgba(0, 0, 0, 0.07);
}
.actions a {
	font-weight: bold;
	padding: 0 0.4rem;
}
th {
	white-space: nowrap;
}

li:last-child {
	margin-bottom:0;
}

/* Nav bar */

.top-nav-links a {
	margin: 0 0.5rem;
}
.top-nav-title a,
.top-nav-links a {
	font-weight: bold;
}

.side-nav-item {
	display: block;
	padding: 0.5rem 0;
}

/* View action */
.view.content .text {
	margin-top: 1.2rem;
}
.related {
	margin-top: 2rem;
}

/* Flash messages */
.message {
	padding: 1rem;

	background: #eff8ff;
	color:teal;

	border-color:#006464;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	margin-bottom: 2rem;
}
.message.hidden {
	display: none;
}
.message.success {
	background: #e3fcec;
	color: #1f9d55;
	border-color: #51d88a;
}
.message.error {
	background: #fcebea;
	color: #cc1f1a;
	border-color: #ef5753;
}

/* Forms */
.input.radio,
.input.checkbox {
	margin-bottom: 2.0rem;
}
.input.radio input,
.input.checkbox input {
	margin: 0;
}
.input.radio label,
.input.checkbox label {
	margin: 0;
	display: flex;
	align-items: center;
}
.input.radio label > input,
.input.checkbox label > input {
	margin-right: 1.0rem;
}
.input.radio label:first-of-type {
	margin-bottom: 2.0rem;
}

/* Paginator */
.paginator {
	text-align: right;
}
.pagination {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0 0 1rem;
}
.pagination li {
	margin: 0 0.5rem;
}
.prev.disabled a,
.next.disabled a {
	cursor: not-allowed;
	color: #606c76;
}
.asc:after {
	content: " \2193";
}
.desc:after {
	content: " \2191";
}

/* Error */
.error-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}

.usergroups.form li.Permission {
	font-size:1rem;
}

.usergroups.form li.Permission input {
	position:absolute;
	visibility:hidden;
}

.usergroups.form li.Permission label {
	display:inline-block;
	width:20px;
	height:20px;
	margin:0 0 0 10px;
	border:1px solid teal;
	font-size:0;
	line-height:0;
	vertical-align:middle;
}

.usergroups.form li.Permission label:nth-of-type(2) {
	border-color:rgba(0, 0, 0, .1);

}
.usergroups.form li.Permission label:nth-of-type(3) {
	border-color:rgb(128, 0, 0);
}

.usergroups.form li.Permission input:nth-of-type(1):checked ~ label:nth-of-type(1) {
	background-color:teal;
}

.usergroups.form li.Permission input:nth-of-type(2):checked ~ label:nth-of-type(2) {
	background-color:rgba(0, 0, 0, .1);
}

.usergroups.form li.Permission input:nth-of-type(3):checked ~ label:nth-of-type(3) {
	background-color:rgb(128, 0, 0);
}

ul.NoList > li {
	list-style-type:none;
}

@media screen and (max-width: 640px) {
	.top-nav {
		margin: 0 auto;
	}
	.side-nav {
		margin-bottom: 1rem;
	}
	.heading {
		margin-bottom: 1rem;
	}
	.side-nav-item {
		display: inline;
		margin: 0 1.5rem 0 0;
	}
	.asc:after {
		content: " \2192";
	}
	.desc:after {
		content: " \2190";
	}
}


#Sidebar {
	width:260px;
	height:100vh;
	background-color:#222222;
	color:#FFFFFF;
	position:fixed;
	top:0;
	left:0;
	overflow:hidden auto;
}

#Sidebar .Title {
	margin:0 20px;
	color:#FFFFFF;
	font-size:2.4rem;
	font-weight:700
}

#Sidebar .Title span {
	color:teal;
}

.Menu-System li {
	margin:0 20px;
	padding:5px 0;
	border-top:1px solid rgba(255, 255, 255, .1);
	list-style-type:none;
}

.Menu-System li:first-child {
	border-top-width:0;
}

.Menu-System a {
	display:block;
	padding:5px 0;
}

#Body {
	margin-left:260px;
	padding:20px;
}

footer {
	margin-top:4rem;
	padding:1rem 20px;
	background-color:#E1E1E1;
}