.UrlsNotFound.Overview {
	:is(
		.TableHeader-IsRobot,
		.TableHeader-CreatedOn,
		.TableHeader-FirstOccurrence,
		.TableHeader-LastOccurrence,
		.TableHeader-Occurrences
	) {
		width:min-content;
	}

	.TableHeader-IsRobot {
		hyphens:manual;
	}

	.TableHeader-Actions {
		width:240px;
	}

	:is(
		.TableHeader-CreatedOn,
		.TableHeader-FirstOccurrence,
		.TableHeader-LastOccurrence
	) {
		min-width:205px;
	}

	:is(
		.TableCell-Url,
		.TableCell-Referrer
	) {
		word-break:break-word;
	}

	:is(
		.TableCell-IsRobot,
		.TableCell-IsRobot,
		.TableCell-Occurrences
	) {
		text-align:center;
	}

	:is(
		.TableCell-CreatedOn,
		.TableCell-CreatedOn,
		.TableCell-FirstOccurrence,
		.TableCell-LastOccurrence
	) {
		text-align:right;
	}

	.TableCell-Actions {
		.Actions {
			width:100%;
		}
	}
}
