.ConfigurationController,
.UserConfigurationController {
	&.AddAction,
	&.EditAction {
		.Fieldset-General {
			grid-column:auto / span 2;
		}

		.FormInputType-ListItem {
			.Button-Remove {
				top:0;
			}
		}

		.FormInputName-LanguageShortcode {
			display:block;
		}
	}
}