.ConfigurationController,
.UserConfigurationController {
	&.OverviewAction {
		.Fieldset-RealmFrontend,
		.Fieldset-RealmBackend {
			grid-column:1 / -1;

			&:not(.Collapsed) {
				&:not(:has(.ListItem)) {
					padding-bottom:40px;

					&::after {
						@extend %EmptyList;

						.🌚& {
							@extend %EmptyListDarkMode;

						}
					}

					.Attributes-List {
						height:40px;
						margin-left:-52px;
					}
				}
			}
		}
	}

	.Configuration-List {
		grid-column:1 / -1;

		&.Level1 {
			margin:0 -20px 20px;

			.Scale-Small& {
				margin-inline:0;
			}

			> .ListItem {
				border-left-width:0;
			}
		}

		.Configuration-List {
			padding:5px 0 5px 5px;
			border-radius:5px;
			border-left:2px solid var(--colorMedium);

			.🌚& {
				border-left-color:var(--colorBackgroundContentDarkMode-Darkened-4);
			}

			&:has(> .ListItem-Category:first-child) {
				padding-top:0;
			}

			&:has(> .ListItem-Category:last-child) {
				padding-bottom:0;
			}
		}

		.ListItem {
			--listItemAuditInfoColumnWidth:36px;
			--listItemLastColumnWidth:10rem;

			display:grid;
			margin:5px 0 0 0;
			padding:1rem 20px;
			border-radius:5px;
			position:relative;
			list-style-type:none;
			grid-template-columns:auto var(--listItemAuditInfoColumnWidth) var(--listItemLastColumnWidth);
			transition:background-color .3s ease-in-out;

			.Scale-Small& {
				padding-bottom:.75rem;
			}

			&.RepeatedIdentifier {
				padding-block:12px 10px;

				.AuditInfo {
					margin-top:-15px;
					top:7px;
				}

				.Actions {
					margin-block:-8px;
				}
			}

			&:not(.RepeatedIdentifier) {
				&:has(+ .RepeatedIdentifier) {
					padding-bottom:10px;
				}
			}

			&.Odd {
				+ .Odd {
					margin-top:1px;
				}
			}

			&:not(.ListItem-Category) {
				background-color:var(--colorLight);

				.🌚& {
					background-color:var(--colorBackgroundContentDarkMode-Lightened-4);
				}

				&:hover {
					background-color:var(--colorLight-Darkened-8);

					.🌚& {
						background-color:var(--colorSemiDarkDarkMode);
					}

					.DataItem {

					}

					.Actions {
						@extend %ActionsHover;

						.Button {
							.🌚& {
								--backgroundColor:var(--colorSemiDarkDarkMode-Darkened-8);
							}
						}
					}
				}

				&:focus-within {
					.Actions {
						@extend %ActionsHover;
					}
				}
			}

			&:first-child {
				margin-top:0;
			}

			&:hover {
				> .AuditInfo {
					&:not(.Hidden) {
						opacity:1;
					}
				}
			}

			.AuditInfo {
				margin-top:.1rem;
				z-index:3;

				.Scale-Small& {
					margin-top:0;
					top:-2px;
				}
			}

			.Data {
				@extend %ListData;

				.DataItem {
					width:32%;
					color:var(--colorText);
					font-weight:700;
					margin-top:0;

					&:nth-child(3n) {
						margin-right:0;
					}

					&:nth-child(4n+1) {
						margin-right:2%;
					}
				}

				.Label {
					color:var(--colorMedium);
					font-weight:400;
				}
			}

			.Actions {
				@extend %ListActions;

				align-self:center;

				.Scale-Small& {
					top:-2px;
				}

				.Button {
					&-Delete {
						.Scale-Small& {
							width:30px;
							height:30px;
							text-indent:-1px;

							&::after {
								line-height:30px;
								transform:none;
							}
						}
					}
				}
			}
		}

		.ListItem-Category {
			display:grid;
			padding:0;
			border-left-width:0;
			border-bottom-width:0;
			grid-template-columns:9rem auto;

			.Scale-Small& {
				padding-bottom:0;
			}

			&:first-child {
				margin-top:0;
			}

			.Title {
				display:block;
				margin-block:13px;
				padding:1rem 20px;
				border-radius:5px 0 0 5px;
				background-color:var(--colorMedium);
				color:var(--colorBright);
				font-size:1rem;
				//noinspection CssNoGenericFontName
				font-family:var(--fontStackHeading);
				line-height:1.2;
				position:sticky;
				top:100px;
				align-self:start;
				overflow:hidden;

				.🌚& {
					background-color:var(--colorBackgroundContentDarkMode-Darkened-4);
				}

				&::after {
					content:'';
					width:10px;
					height:100%;
					border-radius:50%;
					box-shadow:0 0 10px rgba(0, 0, 0, .25);
					position:absolute;
					top:0;
					right:-10px;
				}
			}

			.List {
				grid-column:auto / -1;
			}
		}
	}
}