.ConfigurationController {
	&.OverviewAction {
		.Fieldset-RealmFrontend,
		.Fieldset-RealmBackend {
			grid-column:1 / -1;

			&:not(.Collapsed) {
				&:not(:has(.ListItem)) {
					padding-bottom:40px;

					&::after {
						@extend %EmptyList;

						html.🌚 & {
							@extend %EmptyListDarkMode;
						}
					}

					.Attributes-List {
						height:40px;
						margin-left:-52px;
					}
				}
			}
		}
	}

	.Overview-Fieldset {
		@media screen and (width > 768px) {
			padding-inline:20px;
		}
	}

	.Configuration-List {
		grid-column:1 / -1;

		&.Level1 {
			margin:0;

			@media screen and (width <= 768px) {
				margin-inline:0;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					margin-inline:0;
				}
			}

			> .ListItem {
				border-left-width:0;
			}
		}

		.Configuration-List {
			padding:5px 0 5px 5px;
			border-radius:5px;
			border-left:2px solid var(--colorMedium);

			@media screen and (width <= 1220px) {
				border-top-left-radius:0;
			}

			html.🌚 & {
				border-left-color:oklch(from var(--colorBackgroundContentDarkMode) calc(l - 0.0473) calc(c - 0.005) calc(h + 1.12));
			}

			&:has(> .ListItem-Category:first-child) {
				padding-top:0;
			}

			&:has(> .ListItem-Category:last-child) {
				padding-bottom:0;
			}
		}

		.ListItem {
			--listItemAuditInfoColumnWidth:36px;
			--listItemLastColumnWidth:10rem;

			display:grid;
			margin:5px 0 0 0;
			padding:1rem 20px;
			border-radius:5px;
			position:relative;
			list-style-type:none;
			container:listItem / inline-size;
			grid-template-columns:auto var(--listItemAuditInfoColumnWidth) var(--listItemLastColumnWidth);
			transition:background-color .3s ease-in-out;

			@media screen and (width <= 768px) {
				padding-block:.5rem;
			}

			@media screen and (width <= 540px) {
				padding-inline:10px;
			}

			@media screen and (width <= 500px) {
				grid-template-columns:auto var(--listItemAuditInfoColumnWidth);
			}

			&.RepeatedIdentifier {
				padding-block:12px 10px;

				.AuditInfo {
					margin-top:-15px;
					top:7px;
				}

				.Actions {
					margin-block:-8px;
				}
			}

			&:not(.RepeatedIdentifier) {
				&:has(+ .RepeatedIdentifier) {
					padding-bottom:10px;
				}
			}

			&.Odd {
				+ .Odd {
					margin-top:1px;
				}
			}

			&:not(.ListItem-Category) {
				background-color:var(--colorLight);

				html.🌚 & {
					background-color:oklch(from var(--colorBackgroundContentDarkMode) calc(l + 0.0448) calc(c + 0.005) calc(h - 0.4));
				}

				&:hover {
					background-color:oklch(from var(--colorLight) calc(l - 0.0588) calc(c + 0.009) calc(h + 1.05));

					html.🌚 & {
						background-color:var(--colorSemiDarkDarkMode);
					}

					.DataItem {

					}

					.Actions {
						@extend %ActionsHover;

						.Button {
							html.🌚 & {
								--backgroundColor:oklch(from var(--colorSemiDarkDarkMode) calc(l - 0.0833) calc(c - 0.007) calc(h - 3.11));
							}
						}
					}
				}

				&:focus-within {
					.Actions {
						@extend %ActionsHover;
					}
				}
			}

			&:first-child {
				margin-top:0;
			}

			&:hover {
				> .AuditInfo {
					&:not(.Hidden) {
						opacity:1;
					}
				}
			}

			.AuditInfo {
				margin-top:.1rem;
				z-index:3;

				@media screen and (width <= 768px) {
					margin-top:0;
				}

				@media screen and (width <= 500px) {
					align-self:start;
				}

				html.Scale-Small & {
					@media screen and (width > 768px) {
						margin-top:0;
						top:-2px;
					}
				}
			}

			.Data {
				@extend %ListData;

				&:has(> .DataItem:nth-child(2):last-child),
				&:has(> .DataItem:nth-child(3):last-child) {
					grid-template-columns:1fr 1fr 70px;

					@media screen and (width <= 860px) {
						grid-template-columns:1fr;
					}

					@media screen and (420px < width <= 500px) {
						grid-template-columns:auto 70px;
					}
				}

				.DataItem {
					color:var(--colorText);
					font-weight:700;
					margin-top:0;

					&.Value {
						@media screen and (420px < width <= 500px) {
							order:2;
							grid-column:1 / -1;
						}
					}

					.UntranslatedIdentifier,
					.DefaultValue,
					.GlobalValue,
					.GlobalLanguage {
						color:var(--colorMedium);
						font-weight:400;
						font-style:italic;
					}
				}

				.Label {
					color:var(--colorMedium);
					font-weight:400;

					@media screen and (560px < width <= 860px) {
						display:inline-block;
						min-width:95px;
					}

					@media screen and (width <= 540px) {
						display:block;
					}
				}
			}

			.Actions {
				@extend %ListActions;

				form {
					@media screen and (width <= 500px) {
						grid-column:1 / -1;
					}
				}

				.Button {
					&-Add {
						@media screen and (width <= 500px) {
							grid-column:1 / -1;
						}
					}
				}
			}
		}

		.ListItem-Category {
			display:grid;
			padding:0;
			border-left-width:0;
			border-bottom-width:0;
			grid-template-columns:10rem auto;

			@media screen and (width <= 1220px) {
				grid-template-columns:1fr;
			}

			@media screen and (width <= 768px) {
				padding-bottom:0;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					padding-bottom:0;
				}
			}

			&:first-child {
				margin-top:0;
			}

			.Title {
				@extend %CategoryListTitle;

				@media screen and (width <= 1220px) {
					margin-block:0;
					border-radius:5px 5px 0 0;
					z-index:1;
				}
			}

			.List {
				grid-column:auto / -1;
			}
		}
	}
}