#Content,
#OverlayForm {
	.Overview,
	.Form .Fieldsets {
		display:grid;
		width:100%;
		gap:0 20px;
		grid-template-columns:repeat(4, 1fr);

		> .sf-dump {
			grid-column:1 / -1;
			margin-bottom:calc(var(--lineHeightMain) * 2);
		}
	}

	.Overview {
		.ButtonArea {
			&-Bottom {
				margin-bottom:0;
			}
		}
	}

	h1,
	h2 {
		width:fit-content;
		grid-column:1 / -1;

		.Button-Subtle {
			margin:0 0 0 -4px;
			padding:5px;
			box-shadow:none;
			background-image:none;
			background-color:transparent;
			color:var(--colorMedium);
			font-size:0;
			line-height:0;
			vertical-align:middle;

			&:hover {
				color:var(--colorBright);
			}

			&:first-of-type {
				margin-left:5px;
			}

			&::after {
				margin-left:0;
			}
		}
	}

	h1 {
		&:has(+ h2) {
			font-size:1.25rem;
			line-height:1;
		}

		+ h2 {
			margin-top:0;
			color:var(--colorMedium);
		}
	}

	a {
		&.BackToOverview {
			display:block;
			width:fit-content;
			margin-top:-1.25em;
			border-bottom-width:0;
			color:var(--colorMedium);
			font-size:.8rem;
			line-height:1;
			position:relative;
			z-index:1;

			&::before {
				@extend %LineAwesomeIcon;
				content:'\f060';
				margin-right:5px;
				font-size:20px;
				vertical-align:-1px;
				transform:translateX(0);
				transition:margin-right .3s ease-in-out, transform .3s ease-in-out;
				position:relative;
			}

			&:hover {
				color:var(--colorSuccess);

				&::before {
					margin-right:10px;
					transform:translateX(-5px);
				}
			}

			+ h1 {
				margin-top:0;
			}
		}
	}
}

#Content {
	min-height:calc(100dvh - 80px - 54px - 60px);
	padding:calc(var(--lineHeightMain) * 2) 40px var(--lineHeightMain);
}

.Overview-Table,
.Overview-List,
fieldset {
	min-width:0;
	margin:0 0 calc(var(--lineHeightMain) * 2) 0;
	padding:40px 40px 20px 40px;
	border-radius:5px;
	box-shadow:0 0 10px rgba(0, 0, 0, .05);
	background-color:var(--backgroundColorContent);
	border:0 none;
	position:relative;
	z-index:5;

	html.Scale-Small & {
		padding:30px 20px 0 20px;
	}
}

.Overview-List,
.Overview-Table {
	grid-column:1 / -1;
}

.Overview-Fieldset {
	grid-column:1 / -1;

	&:not(:has(> legend)) {
		padding-top:20px;

		h1 + & {
			margin-top:var(--lineHeightMain);
		}
	}

	&:not(:has(*)) {
		height:80px;

		&::after {
			@extend %EmptyList;

			html.🌚 & {
				@extend %EmptyListDarkMode;

			}
		}
	}

	h1 + & {
		margin-top:calc(var(--lineHeightMain) * 2);
	}
}

.Overview-List {
	padding-top:20px;

	html.Scale-Small & {
		padding-top:20px;
	}

	&:not(:has(.ListItem)) {
		height:80px;

		&::after {
			@extend %EmptyList;

			html.🌚 & {
				@extend %EmptyListDarkMode;

			}
		}
	}
}

.Grid-12,
fieldset {
	display:grid;
	align-items:start;
	gap:0 40px;
	grid-auto-rows:min-content;
	grid-template-columns:repeat(12, 1fr);

	> details,
	> .sf-dump {
		grid-column:1 / -1;
	}
}

fieldset {
	transition:box-shadow .3s ease-in-out;

	&.Hidden {
		display:none;
	}

	.Overview > &,
	.Form .Fieldsets > &,
	&.Collapsible {
		&.Collapsed {
			legend {
				&::before {
					content:'\f107';
				}
			}
		}
	}

	&.Collapsed {
		height:40px;
		padding-block:10px;
		opacity:.5;
		transition:opacity .3s ease-in-out;

		> *:not(legend) {
			display:none;

			&.FormInputName-Slug {
				&:not(:has(select[data-options-for])) {
					display:none;
				}
			}
		}

		&:has(> legend:last-child) {
			padding-bottom:0;
		}

		&:hover {
			opacity:inherit;
		}
	}

	&:has(> legend:last-child) {
		padding-bottom:40px;

		&::after {
			@extend %EmptyList;

			html.🌚 & {
				@extend %EmptyListDarkMode;
			}
		}
	}

	&:focus-within {
		box-shadow:0 0 10px rgba(0, 0, 0, .25);

		> legend {
			box-shadow:0 0 10px rgba(0, 0, 0, .25);
		}
	}

	@for $i from 1 through 12 {
		.ColumnSpan-#{$i} {
			grid-column-end:span #{$i};
		}
	}

	@for $i from 1 through 12 {
		.RowSpan-#{$i} {
			grid-row-end:span #{$i};
		}
	}
}

legend {
	margin:0;
	padding:5px 20px;
	border-radius:5px ;
	box-shadow:0 0 10px rgba(0, 0, 0, .05);
	background-color:var(--colorBright);
	color:var(--colorSemiDark);
	//noinspection CssNoGenericFontName
	font-family:var(--fontStackHeading);
	font-size:1rem;
	line-height:30px;
	overflow:hidden;
	position:absolute;
	top:-20px;
	left:20px;
	z-index:6;
	cursor:default;
	transition:background-color .3s ease-in-out, color .3s ease-in-out, box-shadow .3s ease-in-out;

	html.Scale-Small & {
		margin-left:0;
	}

	html.🌚 & {
		background-color:var(--backgroundColor);
		color:var(--colorLight);
	}

	.Overview > fieldset > &,
	.Form .Fieldsets > fieldset > &,
	fieldset.Collapsible > & {
		padding-right:60px;
		cursor:pointer;

		&:hover {
			background-color:var(--colorSuccess);
			color:var(--colorBright);

			&::before {
				opacity:1;
			}

			&::after {
				opacity:inherit;

				html.🌚 & {
					opacity:.5;
				}
			}
		}

		&::before {
			@extend %LineAwesomeIcon;
			content:'\f106';
			height:16px;
			margin:auto;
			font-size:16px;
			position:absolute;
			top:0;
			right:20px;
			bottom:0;
			opacity:.5;

			transition:opacity .3s ease-in-out;
		}
	}

	&:hover {
		transition-delay:.3s, 0s;

		html.👀 & {
			transition-delay:0s;
		}

		&::after {
			opacity:inherit;
			transition-delay:.1s, 0s;
		}
	}

	&::after {
		@extend %ButtonGlow;
	}

	.Hover {
		@extend %HoverEffect;
	}

	a {
		border-bottom-width:0;
		color:inherit;
	}
}
