#Content,
#OverlayForm {
	.Overview,
	.Form .Fieldsets {
		display:grid;
		width:100%;
		gap:0 20px;
		grid-template-columns:repeat(4, 1fr);

		> .sf-dump {
			grid-column:1 / -1;
			margin-bottom:calc(var(--lineHeightMain) * 2);
		}
	}

	.Overview {
		.ButtonArea {
			margin-bottom:calc(var(--lineHeightMain) * 1);

			&.CannotMoveUpwards {
				margin-bottom:var(--lineHeightMain);
			}

			&-Bottom {
				margin-bottom:0;
			}
		}
	}

	h1,
	h2 {
		width:fit-content;
		grid-column:1 / -1;
	}

	a {
		&.BackToOverview {
			display:block;
			width:fit-content;
			margin-top:-1.25em;
			border-bottom-width:0;
			color:var(--colorMedium);
			font-size:.8rem;
			line-height:1;
			position:relative;
			z-index:1;

			&::before {
				@include la('\f060', 20px);
				margin-right:5px;
				vertical-align:-1px;
				transform:translateX(0);
				transition:margin-right .3s ease-in-out, transform .3s ease-in-out;
				position:relative;
			}

			&:hover {
				color:var(--colorSuccess);

				&::before {
					margin-right:10px;
					transform:translateX(-5px);
				}
			}

			+ h1 {
				margin-top:0;
			}
		}
	}
}

#Content {
	min-height:calc(100dvh - 80px - 54px - 60px);
	padding:calc(var(--lineHeightMain) * 2) 40px var(--lineHeightMain);
}

.Overview-Table,
.Overview-List,
fieldset {
	min-width:0;
	margin:0 0 calc(var(--lineHeightMain) * 2) 0;
	padding:40px 40px 20px 40px;
	border-radius:5px;
	box-shadow:0 0 10px rgba(0, 0, 0, .05);
	background-color:var(--backgroundColorContent);
	border:0 none;
	position:relative;

	.Scale-Small & {
		padding:20px 20px 0 20px;
	}
}

.Overview-List,
.Overview-Table {
	//margin-top:calc(var(--lineHeightMain) * -1);
	grid-column:1 / -1;
}

.Overview-Fieldset {
	grid-column:1 / -1;

	&:not(:has(> legend)) {
		//margin-top:calc(var(--lineHeightMain) * -1);

		h1 + & {
			margin-top:var(--lineHeightMain);
		}
	}

	&:not(:has(*)) {
		height:80px;

		&::after {
			@extend %EmptyList;

			.🌚 & {
				@extend %EmptyListDarkMode;

			}
		}
	}

	h1 + & {
		margin-top:calc(var(--lineHeightMain) * 2);
	}
}

.Overview-List {
	&:not(:has(.ListItem)) {
		height:80px;

		&::after {
			@extend %EmptyList;

			.🌚 & {
				@extend %EmptyListDarkMode;

			}
		}
	}
}

.Grid-12,
fieldset {
	display:grid;
	align-items:start;
	gap:0 40px;
	grid-auto-rows:min-content;
	grid-template-columns:repeat(12, 1fr);

	> .sf-dump {
		grid-column:1 / -1;
	}
}

fieldset {
	transition:box-shadow .3s ease-in-out;

	&.Hidden {
		display:none;
	}

	.Overview > &,
	.Form .Fieldsets > &,
	&.Collapsible {
		&.Collapsed {
			legend {
				&::before {
					content:'\f107';
				}
			}
		}
	}

	&.Collapsed {
		height:0;
		padding-block:0;

		> *:not(legend) {
			display:none;
		}

		&:has(> legend:last-child) {
			padding-bottom:0;
		}

		legend {
			border-radius:5px;
			//background-color:var(--backgroundColorContent);
			//color:var(--colorText);
			right:0;
			left:0;

			.🌚 & {
				background-color:var(--colorDark);
			}

			&:hover {
				color:var(--colorBright);
			}
		}
	}

	&:has(> legend:last-child) {
		padding-bottom:40px;

		&::after {
			@extend %EmptyList;

			.🌚 & {
				@extend %EmptyListDarkMode;
			}
		}
	}

	&:focus-within {
		box-shadow:0 0 10px rgba(0, 0, 0, .25);

		> legend {
			background-color:var(--colorDark);

			&::after {
				opacity:inherit;

				.🌚 & {
					opacity:.25;
				}
			}
		}
	}

	@for $i from 1 through 12 {
		.ColumnSpan-#{$i} {
			grid-column-end:span #{$i};
		}
	}

	@for $i from 1 through 12 {
		.RowSpan-#{$i} {
			grid-row-end:span #{$i};
		}
	}
}

legend {
	--gradientColor:var(--colorMedium-Darkened-8);

	margin:0;
	padding:5px 20px;
	border-radius:5px 5px 0 0;
	background-image:linear-gradient(45deg, var(--gradientColor) 0%, transparent 100%);
	background-color:var(--colorMedium);
	color:var(--colorBright);
	//noinspection CssNoGenericFontName
	font-family:var(--fontStackHeading);
	font-size:1rem;
	line-height:inherit;
	overflow:hidden;
	position:absolute;
	bottom:100%;
	left:20px;
	cursor:default;
	transition:background-color .3s ease-in-out, color .3s ease-in-out, right .3s ease-in-out, left .3s ease-in-out;

	.🌚 & {
		--gradientColor:#{darken(desaturate($colorText, 10), 8)};

		background-color:var(--backgroundColor);
		color:var(--colorLight);
	}

	.Overview > fieldset > &,
	.Form .Fieldsets > fieldset > &,
	fieldset.Collapsible > & {
		padding-right:60px;
		cursor:pointer;

		&:hover {
			background-color:var(--colorSemiDark);

			&::before {
				opacity:1;
			}

			&::after {
				opacity:inherit;

				.🌚 & {
					opacity:.5;
				}
			}
		}

		&::before {
			@include la('\f106', 16px);

			height:16px;
			margin:auto;
			position:absolute;
			top:0;
			right:20px;
			bottom:0;
			opacity:.5;

			transition:opacity .3s ease-in-out;
		}
	}

	&::after {
		content:'';
		height:10px;
		border-radius:50%;
		box-shadow:0 0 15px 1px var(--colorInfo);
		//noinspection CssInvalidPropertyValue
		mix-blend-mode:plus-lighter;
		position:absolute;
		bottom:-15px;
		right:10px;
		left:10px;
		opacity:0;

		transition:opacity .3s ease-in-out;
	}

	a {
		border-bottom-width:0;
		color:inherit;
	}
}