#Content {
	min-height:calc(100dvh - 80px - 54px - 60px);
	padding:var(--rowGap) 40px;

	@media screen and (width <= 1024px) {
	}

	@media screen and (width <= 768px) {
		padding-top:var(--lineHeightMain);
		padding-inline:20px;
	}

	@media screen and (width <= 540px) {
		padding-top:calc(var(--lineHeightMain) * .5);
		padding-inline:10px;
	}

	html.Scale-Small & {
		@media screen and (width > 768px) {
			padding-top:var(--lineHeightMain);
			padding-inline:20px;
		}
	}

	:is(
		h1,
		h2
	) {
		width:fit-content;
		hyphens:auto;
		text-wrap:balance;

		@media screen and (width <= 768px) {
			font-size:clamp(2rem, 10vw, 3rem);
		}

		@media screen and (width <= 640px) {
			padding-right:60px;
		}

		&:has(.Button-Subtle) {
			padding-right:40px;
			position:relative;
		}

		&:has(.Button-Subtle:nth-last-child(2)) {
			padding-right:75px;
		}

		.Button-Subtle {
			height:30px;
			margin:auto 0;
			padding:5px;
			outline-offset:-2px;
			box-shadow:none;
			background-image:none;
			background-color:transparent;
			color:var(--colorMedium);
			font-size:0;
			line-height:0;
			vertical-align:middle;
			position:absolute;
			top:calc((var(--fontSizeHeading) - 30px) / 2 - 2px);
			right:0;

			@media screen and (width <= 540px) {
				top:0;
			}

			&:hover {
				color:var(--colorBright);
			}

			&:nth-last-child(2) {
				right:35px;
			}

			&::after {
				margin-left:0;
			}
		}
	}

	h1 {
		&:has(+ h2) {
			font-size:1.25rem;
			line-height:1;
		}

		+ h2 {
			margin-top:0;
			color:var(--colorMedium);
		}
	}

	h2 {
		display:-webkit-box;
		overflow:hidden;
		-webkit-box-orient:vertical;
		-webkit-line-clamp:3;
	}

	a {
		&.BackToOverview {
			display:block;
			width:fit-content;
			border-bottom-width:0;
			color:var(--colorMedium);
			font-size:.8rem;
			line-height:1;
			position:relative;
			z-index:1;
			white-space:nowrap;
			grid-column-start:1;
			grid-row-start:1;

			&:focus-visible {
				border-radius:5px;
				box-shadow:0 0 10px var(--colorSuccess);
				outline:2px solid var(--colorSuccess);
				outline-offset:2px;
			}

			&:hover {
				color:var(--colorSuccess);

				&::before {
					margin-right:10px;
					transform:translateX(-5px);
				}
			}

			&::before {
				@extend %LineAwesomeIcon;
				content:'\f060';
				margin-right:5px;
				font-size:20px;
				vertical-align:-1px;
				transform:translateX(0);
				transition:margin-right .3s ease-in-out, transform .3s ease-in-out;
				position:relative;
			}

			+ h1 {
				margin-top:0;
			}
		}
	}
}

:is(
	.Overview,
	.Form
) {
	@extend %ContentGrid;
}

:is(
	.Overview-Table,
	.Overview-List,
	fieldset
) {
	min-width:0;
	padding:40px;
	border-radius:5px;
	box-shadow:0 0 10px rgba(0, 0, 0, .05);
	background-color:var(--backgroundColorContent);
	border:0 none;
	position:relative;
	z-index:5;

	@media screen and (width <= 1280px) {
		padding-inline:20px;
	}

	@media screen and (width <= 768px) {
		padding-block:30px 20px;
	}

	@media screen and (width <= 540px) {
		padding:20px 10px 10px 10px;
	}

	&:has(.tox-tbtn--active) {
		z-index:4000;
	}

	html.Scale-Small & {
		@media screen and (width > 768px) {
			padding:30px 20px 20px 20px;
		}
	}
}

:is(
	.Table-Overflow,
	.Overview-Fieldset,
	.Overview-List,
	.Overview-Table
) {
	grid-column:1 / -1;
}

.Overview-Fieldset {
	&:not(:has(> legend)) {
		padding-block:20px;

		@media screen and (width <= 540px) {
			padding-block:10px;
		}
	}

	&:not(:has(*)) {
		height:80px;

		&::after {
			@extend %EmptyList;

			html.🌚 & {
				@extend %EmptyListDarkMode;

			}
		}
	}

	h1 + & {
		margin-top:var(--rowGap);
	}
}

.Overview-List {
	padding-block:20px;

	@media screen and (width <= 768px) {
		padding-block:20px;
	}

	@media screen and (width <= 540px) {
		padding-block:10px;
	}

	html.Scale-Small & {
		@media screen and (width > 768px) {
			padding-block:20px;
		}
	}

	&:not(:has(.ListItem)) {
		height:80px;

		&::after {
			@extend %EmptyList;

			html.🌚 & {
				@extend %EmptyListDarkMode;
			}
		}
	}
}

:is(
	.Grid-12,
	fieldset
) {
	--columns:12;

	display:grid;
	align-items:start;
	gap:20px;
	grid-auto-rows:min-content;
	grid-template-columns:repeat(var(--columns), 1fr);

	@media screen and (width <= 540px) {
		gap:10px;
	}

	@container (width <= 680px) {
		--columns:6;
	}

	@container (width <= 460px) {
		--columns:1;
	}

	> :is(
		details,
		.sf-dump
	) {
		grid-column:1 / -1;
	}

	@for $i from 2 through 12 {
		.ColumnSpan-#{$i} {
			@container (width > 680px) {
				grid-column-end:span #{$i};
			}

			@container (460px < width <= 680px) {
				@if $i < 6 {
					grid-column-end:span ceil($i / 2);
				}
				@else {
					grid-column-end:span floor($i / 2);
				}
			}
		}
	}

	@for $i from 1 through 12 {
		.RowSpan-#{$i} {
			grid-row-end:span #{$i};
		}
	}
}

fieldset {
	transition:box-shadow .3s ease-in-out;

	@media screen and (width <= 768px) {
		// max-width ensures that the fieldset won't be wider than the viewport
		// since they grow to fit the content (https://bugzilla.mozilla.org/show_bug.cgi?id=504622)
		max-width:calc(100dvw - 40px);
	}

	@media screen and (width <= 540px) {
		max-width:calc(100dvw - 20px);
	}

	html.Scale-Small & {
		@media screen and (width > 768px) {
			max-width:calc(100dvw - 40px);
		}
	}

	&.Hidden {
		display:none;
	}

	:is(
		:is(
			.Overview,
			.Form .Main-Fieldsets,
			.Form .Sidebar-Fieldsets
		) > &,
		&.Collapsible
	) {
		&.Collapsed {
			legend {
				&::before {
					content:'\f107';
				}
			}
		}
	}

	&.Collapsed {
		height:40px;
		padding-block:10px;
		opacity:.5;
		transition:opacity .3s ease-in-out;

		> *:not(legend) {
			display:none;

			&.FormInputName-Slug {
				&:not(:has(select[data-options-for])) {
					display:none;
				}
			}
		}

		&:has(> legend:last-child) {
			padding-bottom:0;
		}

		&:hover {
			opacity:inherit;
		}
	}

	&:has(> legend:last-child) {
		padding-bottom:40px;

		&::after {
			@extend %EmptyList;

			html.🌚 & {
				@extend %EmptyListDarkMode;
			}
		}
	}

	&:has(.FormInput.Error) {
		&.Collapsed {
			opacity:unset;
			outline:2px solid var(--colorError);
		}

		> legend {
			box-shadow:0 0 10px var(--colorError);
			background-color:var(--colorError);
			color:var(--colorBright);
		}
	}

	&:focus-within {
		box-shadow:0 0 10px rgba(0, 0, 0, .25);

		> legend {
			box-shadow:0 0 10px rgba(0, 0, 0, .25);
		}
	}
}

legend {
	margin:0;
	padding:5px 20px;
	border-radius:5px ;
	box-shadow:0 0 10px rgba(0, 0, 0, .05);
	background-color:var(--colorBright);
	color:var(--colorSemiDark);
	//noinspection CssNoGenericFontName
	font-family:var(--fontStackHeading);
	font-size:1rem;
	line-height:30px;
	overflow:hidden;
	position:absolute;
	top:-20px;
	left:20px;
	z-index:6;
	cursor:default;
	transition:background-color .3s ease-in-out, color .3s ease-in-out, box-shadow .3s ease-in-out;

	@media screen and (width <= 768px) {
		margin-left:0;
	}

	@media screen and (width <= 540px) {
		padding-inline:10px;
		line-height:20px;
		top:-15px;
		left:10px;
	}

	html.🌚 & {
		background-color:var(--backgroundColor);
		color:var(--colorLight);
	}

	html.Scale-Small & {
		@media screen and (width > 768px) {
			margin-left:0;
		}
	}

	:is(
		:is(
			.Overview,
			.Form .Fieldsets,
			.Form .Main-Fieldsets,
			.Form .Sidebar-Fieldsets
		) > fieldset,
		fieldset.Collapsible
	) > & {
		padding-right:60px;
		cursor:pointer;

		&:hover {
			background-color:var(--colorSuccess);
			color:var(--colorBright);

			&::before {
				opacity:1;
			}

			&::after {
				opacity:inherit;

				html.🌚 & {
					opacity:.5;
				}
			}
		}

		&::before {
			@extend %LineAwesomeIcon;
			content:'\f106';
			height:16px;
			margin:auto;
			font-size:16px;
			position:absolute;
			top:0;
			right:20px;
			bottom:0;
			opacity:.5;

			transition:opacity .3s ease-in-out;
		}
	}

	&:hover {
		transition-delay:.3s, 0s;

		html.👀 & {
			transition-delay:0s;
		}

		&::after {
			opacity:inherit;
			transition-delay:.1s, 0s;
		}
	}

	&::after {
		@extend %ButtonGlow;
	}

	.Hover {
		@extend %HoverEffect;
	}

	a {
		border-bottom-width:0;
		color:inherit;
	}
}
