:root {
	--colorBright:#{$colorBright};
	--colorNeutralLight:#{$colorNeutralLight};
	--colorLight:#{$colorLight};
	--colorMedium:#{$colorMedium};
	--colorSemiDark:#{$colorSemiDark};
	--colorSemiDarkDarkMode:#{$colorSemiDarkDarkMode};
	--colorDark:#{$colorDark};
	--colorText:#{$colorText};
	--colorSuccess:#{$colorSuccess};
	--colorInfo:#{$colorInfo};
	--colorWarning:#{$colorWarning};
	--colorError:#{$colorError};
	--colorBackgroundContentDarkMode:#{$colorBackgroundContentDarkMode};

	--fontStackMain:#{inspect($fontStackMain)};
	--fontSizeMain:#{$fontSizeMain};
	--lineHeightMain:#{$lineHeightMain};

	--fontStackHeading:#{inspect($fontStackHeading)};
	--fontSizeHeading:#{$fontSizeHeading};
	--lineHeightHeading:#{$lineHeightHeading};

	@media screen and (width <= 1024px) {
		--fontSizeMain:#{$fontSizeMainMedium};
	}

	@media screen and (width <= 768px) {
		--fontSizeMain:#{$fontSizeMainSmall};
	}

	--backgroundColor:var(--colorLight);
	--backgroundColorContent:var(--colorBright);
	--rowGap:calc(var(--lineHeightMain) * 2);
	--negativeRowGap:calc(var(--rowGap) * -1);
	--scrollbarColor:var(--colorMedium) var(--colorBright);
}

html {
	background-color:var(--backgroundColor);
	color:var(--colorText);
	//noinspection CssNoGenericFontName
	font-family:var(--fontStackMain);
	font-size:var(--fontSizeMain);
	font-weight:400;
	letter-spacing:0;
	scrollbar-color:var(--scrollbarColor);
	scrollbar-width:thin;

	&.Scale-Medium {
		@media screen and (width > 1024px) {
			--fontSizeMain:#{$fontSizeMainMedium};
		}
	}

	&.Scale-Small {
		@media screen and (width > 768px) {
			--fontSizeMain:#{$fontSizeMainSmall};
		}
	}

	&:has(#Content .ButtonArea.Visible) {
		@media screen and (width <= 640px) {
			overflow:hidden;
		}
	}

	&:has(.Sidebar-Fieldsets.Visible) {
		@media screen and (width <= 1024px) {
			overflow:hidden;
		}
	}

	&.🌚,
	.🌚 {
		--backgroundColor:#{desaturate($colorText, 10)};
		--backgroundColorContent:var(--colorBackgroundContentDarkMode);
		--colorLight:#C7CED0;
		--colorSemiDark:var(--colorSemiDarkDarkMode);
		--colorText:#{$colorLight};
		--scrollbarColor:var(--backgroundColorContent) var(--colorSemiDark);
	}

	.🌚 {
		background-blend-mode:color-burn;
		background-color:var(--backgroundColor);
		background-image:url($relativePath + 'img/background-pattern-dark.png');
	}
}

body {
	min-height:100dvh;
	padding-top:80px;
	padding-bottom:var(--rowGap);
	font-family:inherit;
	font-size:inherit;
	font-weight:400;
	letter-spacing:inherit;
	line-height:var(--lineHeightMain);
	position:relative;
	transition:margin-bottom .3s ease-in-out;

	html.👀 & {
		padding-bottom:0;
	}

	&:has(#Menu-System .Overflow.Visible) {
		@media screen and (width > 768px) and (height <= 660px),
		screen and (width <= 768px) {
			#Header {
				z-index:3000;
			}

			&::after {
				opacity:inherit;
				visibility:inherit;
				transition-delay:0s;
			}
		}
	}

	&:has(#Content .ButtonArea.Visible) {
		&::after {
			@media screen and (width <= 640px) {
				opacity:inherit;
				visibility:inherit;
				transition-delay:0s;
			}
		}
	}

	&:has(.Sidebar-Fieldsets.Visible) {
		&::after {
			@media screen and (width <= 1024px) {
				opacity:inherit;
				visibility:inherit;
				transition-delay:0s;
				z-index:2005;
			}
		}
	}

	&::before {
		content:'';
		background-attachment:fixed;
		background-color:var(--backgroundColor);
		background-image:url($relativePath + 'img/background-pattern-light.png');
		position:fixed;
		inset:0;
		bottom:var(--bottomOffset, 0);
		z-index:-1;
		transition:bottom .3s ease-in-out;

		html.🌚 & {
			background-image:url($relativePath + 'img/background-pattern-dark.png');
			background-blend-mode:color-burn;
		}
	}

	&::after {
		content:'';
		backdrop-filter:blur(5px);
		background-color:rgba(0, 0, 0, .75);
		position:fixed;
		inset:0;
		z-index:2020;
		opacity:0;
		visibility:hidden;
		transition:opacity .3s ease-in-out, visibility 0s ease-in-out .3s;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-top:2rem;
	//noinspection CssNoGenericFontName
	font-family:var(--fontStackHeading);
	font-size:var(--fontSizeHeading);
	line-height:var(--lineHeightHeading);

	@media screen and (width <= 768px) {
		font-size:3rem;
	}

	&:first-child {
		margin-top:0;
	}
}

h3 {
	font-size:calc(var(--fontSizeHeading) * .8);
}

h4 {
	font-size:calc(var(--fontSizeHeading) * .6);
}

h5 {
	font-size:calc(var(--fontSizeHeading) * .4);
}

a {
	color:var(--colorSuccess);
	text-decoration:none;

	main & {
		border-bottom:1px solid;
	}

	&,
	&::before,
	&::after {
		transition:color .3s ease-in-out;
	}
}

table {
	width:100%;
}

code {
	display:block;
	padding:20px;
	border-radius:5px;
	background-color:var(--colorDark);
	color:var(--colorBright);
	font-family:Consolas, "Liberation Mono", "Courier New", monospace;
	font-size:16px;
	line-height:1.2;
}

::selection {
	background-color:var(--colorSuccess);
	color:var(--colorBright);
	text-shadow:1px 1px 0 rgba(0, 0, 0, .1);
}

.NoTextSelect {
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
}

.NoList {
	> li {
		margin:0;
		list-style-type:none;
	}
}

.FileType-Icon {
	display:inline-block;
	width:2rem;
	aspect-ratio:.75;
	border-radius:5px;
	border:2px solid var(--colorSuccess);
	background-color:color-mix(in srgb, var(--colorSuccess) 20%, #FFFFFF);
	position:relative;

	&::after {
		content:attr(data-extension);
		padding:2px 5px;
		background-color:var(--colorSuccess);
		color:var(--colorBright);
		//noinspection CssNoGenericFontName
		font-family:var(--fontStackHeading);
		font-size:16px;
		line-height:1;
		position:absolute;
		bottom:.5rem;
		left:50%;
	}
}

details {
	border:1px solid rgba(0, 0, 0, .1);
	padding:20px;
	border-radius:5px;
	container-type:inline-size;
	grid-column:1 / -1;

	@media screen and (width <= 540px) {
		padding:10px;
	}

	html.🌚 & {
		border-color:rgba(255, 255, 255, .1);
	}

	&.HelpText {
		border:1px solid var(--colorInfo);
		background-color:color-mix(in srgb, var(--colorInfo), transparent 85%);

		&[open] {
			border-color:var(--colorInfo);
		}

		> summary {
			padding-right:50px;
			font-size:1.5rem;
			line-height:1;

			&::before {
				@extend %LineAwesomeIcon;
				content:'\f05a';
				color:var(--colorInfo);
				font-size:30px;
				line-height:1.5rem;
				position:absolute;
				top:0;
				right:0;
			}

			&::after {
				font-size:30px;
				line-height:1.5rem;
			}
		}

		p, ul {
			margin-top:var(--lineHeightMain);

			&:first-child {
				margin-top:0;
			}
		}

		li {
			margin-top:calc(var(--lineHeightMain) / 2);

			&:first-child {
				margin-top:0;
			}
		}
	}

	&[open] {
		border-color:var(--colorSuccess);

		> summary {
			&::after {
				transform:rotate(180deg);
			}
		}
	}

	> summary {
		padding-left:40px;
		position:relative;
		cursor:pointer;

		&::after {
			@extend %LineAwesomeIcon;
			content:'\f107';
			font-size:inherit;
			line-height:inherit;
			position:absolute;
			top:0;
			left:0;
		}

		&:first-child {
			list-style-type:none;
		}
	}
}

summary {
	//noinspection CssNoGenericFontName
	font-family:var(--fontStackHeading);
	font-size:calc(var(--fontSizeHeading) * .4);
	line-height:var(--lineHeightHeading);
}

.sf-dump {
	grid-column:1 / -1;
	margin-block:var(--lineHeightMain);
}

.las {
	&:is(
		.la-check,
		.la-exclamation,
		.la-times
	) {
		font-size:0;
		line-height:0;

		&::before {
			font-size:1rem;
			line-height:1;
		}
	}

	&.la-check {
		color:var(--colorSuccess);

		html.🌚 & {
			text-shadow:0 0 3px var(--colorSuccess);
		}
	}


	&.la-exclamation {
		color:var(--colorWarning);

		html.🌚 & {
			text-shadow:0 0 3px var(--colorWarning);
		}
	}

	&.la-times {
		color:var(--colorError);
		vertical-align:-1px;

		html.🌚 & {
			text-shadow:0 0 3px var(--colorError);
		}
	}
}

progress {
	width:100%;
	height:26px;
	border:none;
	border-radius:5px;
	background-color:var(--colorLight);

	&::-webkit-progress-bar {
		border-radius:5px;
		background-color:var(--colorLight);
	}

	&::-webkit-progress-value {
		border-radius:5px;
		background-color:var(--colorSuccess);
		background-image:repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(0, 0, 0, .2) 10px, rgba(0, 0, 0, .2) 20px);
		background-size:28px 100%;
		animation:ProgressStripes 5s linear infinite;
	}

	&::-moz-progress-bar {
		border-radius:5px;
		background-color:var(--colorSuccess);
		background-image:repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(0, 0, 0, .2) 10px, rgba(0, 0, 0, .2) 20px);
		background-size:28px 100%;
		animation:ProgressStripes 3s linear infinite;
	}
}

@keyframes ProgressStripes {
   100% { background-position:84px 0; }
}