html {
	--backgroundColor:var(--colorLight);
	--backgroundColorContent:var(--colorBright);
	--scrollbarColor:var(--colorMedium) var(--colorBright);

	background-color:var(--backgroundColor);
	color:var(--colorText);
	//noinspection CssNoGenericFontName
	font-family:var(--fontStackMain);
	font-size:var(--fontSizeMain);
	font-weight:400;
	letter-spacing:0;
	scrollbar-color:var(--scrollbarColor);
	scrollbar-width:thin;

	&.Scale-Medium {
		--fontSizeMain:#{$fontSizeMainMedium};
	}

	&.Scale-Small {
		--fontSizeMain:#{$fontSizeMainSmall};
	}

	&.🌚,
	.🌚 {
		--backgroundColor:#{desaturate($colorText, 10)};
		--backgroundColorContent:var(--colorBackgroundContentDarkMode);
		--colorLight:#C7CED0;
		--colorSemiDark:var(--colorSemiDarkDarkMode);
		--colorText:#{$colorLight};
		--scrollbarColor:var(--backgroundColorContent) var(--colorSemiDark);
	}

	.🌚 {
		background-blend-mode:color-burn;
		background-color:var(--backgroundColor);
		background-image:url($relativePath + 'img/background-pattern-dark.png');

	}
}

body {
	min-height:100dvh;
	padding-top:80px;
	padding-bottom:60px;
	font-family:inherit;
	font-size:inherit;
	font-weight:400;
	letter-spacing:inherit;
	line-height:var(--lineHeightMain);
	position:relative;
	transition:margin-bottom .3s ease-in-out;

	.👀 & {
		padding-bottom:0;
	}

	&::before {
		content:'';
		background-image:url($relativePath + 'img/background-pattern-light.png');
		background-color:var(--backgroundColor);
		position:fixed;
		inset:0;
		bottom:var(--bottomOffset, 0);
		z-index:-1;
		transition:bottom .3s ease-in-out;

		.🌚 & {
			background-image:url($relativePath + 'img/background-pattern-dark.png');
			background-blend-mode:color-burn;
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-top:2rem;
	//noinspection CssNoGenericFontName
	font-family:var(--fontStackHeading);
	font-size:var(--fontSizeHeading);
	line-height:var(--lineHeightHeading);

	&:first-child {
		margin-top:0;
	}
}

h3 {
	font-size:calc(var(--fontSizeHeading) * .8);
}

h4 {
	font-size:calc(var(--fontSizeHeading) * .6);
}

h5 {
	font-size:calc(var(--fontSizeHeading) * .4);
}

a {
	color:var(--colorSuccess);
	text-decoration:none;

	main & {
		border-bottom:1px solid;
	}

	&,
	&::before,
	&::after {
		transition:color .3s ease-in-out;
	}
}

table {
	width:100%;
}

code {
	display:block;
	margin-block:calc(var(--lineHeightMain) * 2);
	padding:20px;
	border-radius:5px;
	background-color:var(--colorDark);
	color:var(--colorBright);
	font-family:Consolas, "Liberation Mono", "Courier New", monospace;
	font-size:16px;
	line-height:1.2;
}

::-moz-selection {
	background-color:var(--colorSuccess);
	color:var(--colorBright);
	text-shadow:1px 1px 0 rgba(0, 0, 0, .1);
}

::selection {
	background-color:var(--colorSuccess);
	color:var(--colorBright);
	text-shadow:1px 1px 0 rgba(0, 0, 0, .1);
}

.NoTextSelect {
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
}

.NoList {
	> li {
		margin:0;
		list-style-type:none;
	}
}

.FileType-Icon {
	display:inline-block;
	width:2rem;
	aspect-ratio:.75;
	border-radius:5px;
	border:2px solid var(--colorSuccess);
	background-color:#D5F1E5;
	position:relative;

	&::after {
		content:attr(data-extension);
		padding:2px 5px;
		background-color:var(--colorSuccess);
		color:var(--colorBright);
		//noinspection CssNoGenericFontName
		font-family:var(--fontStackHeading);
		font-size:16px;
		line-height:1;
		position:absolute;
		bottom:.5rem;
		left:50%;
	}
}

.HelpText {
	margin:0 0 calc(var(--lineHeightMain) * 2) 0;
	padding:20px;
	border:1px solid var(--colorInfo);
	border-radius:5px;
	background-color:color-mix(in srgb, var(--colorInfo), transparent 85%);
	grid-column:1 / -1;

	fieldset > & {
		margin-bottom:var(--lineHeightMain);

		&:last-child {
			margin-bottom:20px;
		}
	}

	&.Visible {
		h3 {
			&::after {
				content:'\f106';
			}
		}

		> *:not(h3) {
			display:block;
		}
	}

	> *:not(h3) {
		display:none;
	}

	h3 {
		padding-right:50px;
		padding-left:40px;
		font-size:1.5rem;
		line-height:1;
		position:relative;
		cursor:pointer;

		&::before {
			@include la('\f05a', 30px);

			color:var(--colorInfo);
			line-height:1.5rem;
			position:absolute;
			left:0;
			top:0;
		}

		&::after {
			@include la('\f107', 30px);
			line-height:1.5rem;
			position:absolute;
			right:0;
			top:0;
		}
	}

	p, ul {
		margin-top:var(--lineHeightMain);

		&:first-child {
			margin-top:0;
		}
	}

	li {
		margin-top:calc(var(--lineHeightMain) / 2);

		&:first-child {
			margin-top:0;
		}
	}
}

.las {
	&.la-check,
	&.la-exclamation,
	&.la-times {
		font-size:0;
		line-height:0;

		&::before {
			font-size:1rem;
			line-height:1;
		}
	}

	&.la-check {
		color:var(--colorSuccess);

		.🌚 & {
			text-shadow:0 0 3px var(--colorSuccess);
		}
	}


	&.la-exclamation {
		color:var(--colorWarning);

		.🌚 & {
			text-shadow:0 0 3px var(--colorWarning);
		}
	}

	&.la-times {
		color:var(--colorError);

		.🌚 & {
			text-shadow:0 0 3px var(--colorError);
		}
	}
}

progress {
	width:100%;
	height:26px;
	border:none;
	border-radius:5px;
	background-color:var(--colorLight);

	&::-webkit-progress-bar {
		border-radius:5px;
		background-color:var(--colorLight);
	}

	&::-webkit-progress-value {
		border-radius:5px;
		background-color:var(--colorSuccess);
		background-image:repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(0, 0, 0, .2) 10px, rgba(0, 0, 0, .2) 20px);
		background-size:28px 100%;
		animation:ProgressStripes 5s linear infinite;
	}

	&::-moz-progress-bar {
		border-radius:5px;
		background-color:var(--colorSuccess);
		background-image:repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(0, 0, 0, .2) 10px, rgba(0, 0, 0, .2) 20px);
		background-size:28px 100%;
		animation:ProgressStripes 3s linear infinite;
	}
}

@keyframes ProgressStripes {
   100% { background-position:84px 0; }
}