#Menu-System {
	display:flex;
	box-shadow:0 0 10px rgba(0, 0, 0, .25);
	border-radius:0 5px 5px 0;
	border:2px solid var(--colorBorder);
	background-color:var(--backgroundColorMenu);
	flex:0 1 auto;
	position:relative;

	&.Calculating {
		overflow:hidden;
	}

	li {
		display:block;
		margin:0;
		list-style-type:none;
		position:relative;
	}

	a {
		color:inherit;
		text-decoration:none;
	}

	.Submenu-Toggle {
		display:none;
	}

	ul.Level1 {
		display:flex;
		height:100%;
		z-index:10;
	}

	li.Level1 {
		margin-right:2px;
		border-radius:5px;
		background-color:var(--colorMenu);
		z-index:1;

		html.👀 & {
			&:is(
				:focus-within,
				:hover
			) {
				.Level1:is(a, span) {
					transition-delay:0s;
				}
			}
		}

		&.MenuItem-Dashboard {
			display:none;
		}

		&:last-child {
			margin-right:0;
			border-right-width:0;
		}

		&:is(
			:focus-within,
			:hover
		) {
			z-index:10;

			&::after {
				content:'';
				width:100%;
				height:4px;
				position:absolute;
				top:100%;
				left:0;
			}

			.Level1:is(a, span) {
				background-color:var(--colorSuccess);
				transition-delay:.3s;

				&::after {
					opacity:inherit;
					transition-delay:.1s, 0s;
				}
			}

			ul.Level2 {
				opacity:inherit;
				visibility:inherit;

				transition-delay:0s;
			}
		}

		&:focus-within {
			.Level1:is(a, span) {
				background-color:var(--colorSuccess);
			}
		}
	}

	.Level1:is(a, span) {
		display:block;
		height:56px;
		padding:0 20px;
		border-radius:5px;
		color:inherit;
		line-height:54px;
		position:relative;
		overflow:hidden;
		transition:background-color .3s ease-in-out;

		@media screen and (width <= 860px) {
			padding-inline:15px;
		}

		&.Active {
			background-color:var(--colorSuccess);

			&::after {
				opacity:inherit;
				transition-delay:.1s, 0s;
			}
		}

		&:focus-visible {
			box-shadow:0 0 10px var(--colorSuccess);
			outline:2px solid var(--colorSuccess);
			outline-offset:2px;
		}

		&::after {
			@extend %ButtonGlow;
		}

		.Hover {
			@extend %HoverEffect;
		}
	}

	span:is(
		.Level1,
		.Level2,
		.Level3,
		.Level4
	) {
		cursor:default;
	}

	ul.Level2 {
		width:max-content;
		margin-top:4px;
		padding:0 10px;
		box-shadow:0 0 10px rgba(0, 0, 0, .25);
		border:10px solid transparent;
		border-radius:5px;
		background-color:var(--backgroundColorMenu);
		position:absolute;
		top:100%;
		left:0;
		opacity:0;
		visibility:hidden;
		transition:opacity .3s ease-in-out, visibility 0s linear .3s;

		html.🌚 & {
			background-color:var(--colorMenu);
		}
	}

	li.Level2 {
		border-bottom:1px solid rgba(255, 255, 255, .1);

		&:is(
			:hover,
			:focus-within
		) {
			ul.Level3 {
				opacity:inherit;
				visibility:inherit;
				transition-delay:0s;
			}
		}

		&:last-child {
			border-bottom-width:0;
		}
	}

	:is(a, span):is(.Level2, .Level3, .Level4) {
		position:relative;

		&:focus-visible {
			outline:0 none;

			&::before {
				content:'';
				border-radius:5px;
				box-shadow:0 0 10px var(--colorSuccess);
				outline:2px solid var(--colorSuccess);
				position:absolute;
				inset:3px -8px 2px;
			}
		}
	}

	.Level2:is(a, span) {
		display:block;
		padding:10px 0;
		line-height:1.5;

		@media screen and (width > 768px) and (height <= 800px) {
			padding-block:5px;
		}

		@media screen and (width > 768px) and (height <= 660px),
			screen and (width <= 768px) {
			padding-block:5px;
		}

		html.Scale-Small & {
			@media screen and (width > 768px) and (height > 800px) {
				padding-block:5px;
			}
		}

		&.Active {
			color:var(--colorSuccess);
			outline:0 none;
		}
	}

	a.Level2 {
		&:hover {
			color:var(--colorSuccess);
			outline:0 none;
		}
	}

	ul:is(.Level3, .Level4) {
		margin-bottom:1.25em;
		margin-left:10px;
		padding:7px 20px 10px;
		box-shadow:0 0 10px rgba(0, 0, 0, 0.25);
		border-radius:5px;
		background-color:var(--colorMenu);
		position:absolute;
		top:-1px;
		left:100%;
		z-index:2;
		opacity:0;
		visibility:hidden;
		transition:opacity .3s ease-in-out, visibility 0s linear .3s;

		@media screen and (width > 768px) and (height <= 800px) {
			margin-top:1.25em;
			margin-bottom:0;
			top:auto;
			bottom:-1px;
		}

		@media screen and (width <= 580px) {
			right:100%;
			left:auto;
		}

		&::before {
			content:'';
			width:10px;
			height:100%;
			position:absolute;
			top:0;
			left:-10px;

			@media screen and (width <= 580px) {
				right:-10px;
				left:auto;
			}
		}

		html.🌚 & {
			background-color:var(--backgroundColorMenu);
		}
	}

	li.Level3 {
		&:last-child {
			ul.Level4 {
				margin-bottom:5px;
			}
		}

		&:is(
			:hover,
			:focus-within
		) {
			ul.Level4 {
				opacity:inherit;
				visibility:inherit;
				transition-delay:0s;
			}
		}
	}

	li:is(
		.Level3,
		.Level4
	) {
		border-bottom:1px solid rgba(255, 255, 255, .1);

		&:last-child {
			border-bottom-width:0;
		}
	}

	:is(a, span):is(.Level3, .Level4) {
		display:block;
		width:max-content;
		padding:5px 0;
		font-size:.8rem;
		line-height:1.5;

		&.Active {
			color:var(--colorSuccess);
			outline:0 none;
		}
	}

	a:is(.Level3, .Level4) {
		&:hover {
			color:var(--colorSuccess);
			outline:0 none;
		}
	}

	ul.Level4 {
		margin-inline:0 10px;
		background-color:var(--backgroundColorMenu);
		right:100%;
		left:auto;

		@media screen and (width <= 580px) {
			right:auto;
			left:100%;
		}

		html.🌚 & {
			background-color:var(--colorMenu);
		}

		&::before {
			right:-10px;
			left:auto;

			@media screen and (width <= 580px) {
				right:auto;
				left:-10px;
			}
		}
	}

	ul.Level5 {
		display:none;
	}

	.Overflow {
		--scrollbarColor:var(--colorMedium) var(--colorMenu);

		display:none;
		padding:2px;
		box-shadow:0 0 10px rgba(0, 0, 0, .25);
		background-color:var(--backgroundColorMenu);
		border-radius:5px;
		margin-top:4px;
		position:absolute;
		top:100%;
		right:0;
		opacity:0;
		visibility:hidden;
		scrollbar-color:var(--scrollbarColor);
		scrollbar-width:thin;
		transition:opacity .3s ease-in-out, visibility 0s linear .3s;

		@media screen and (width > 768px) and (height <= 660px),
			screen and (width <= 768px) {
			max-height:calc(100vh - 100px);
			padding-top:0;
			position:fixed;
			inset:80px 20px 20px;
			overscroll-behavior:contain;
			overflow-y:auto;
		}

		@media screen and (width <= 540px) {
			max-height:calc(100vh - 85px);
			inset:70px 10px 10px;
		}

		&.Visible {
			display:flex;
			opacity:inherit;
			visibility:inherit;

			transition-delay:0s;

			@media screen and (width > 768px) and (height <= 660px),
				screen and (width <= 768px) {
				display:block;
				height:fit-content;
			}

			~ .ShowMore {
				background-color:var(--colorSuccess);
			}
		}

		&.Narrow {
			@media screen and (width > 768px) and (height > 660px) {
				display:block;
				max-height:calc(100vh - 100px);
				padding-top:0;
				overscroll-behavior:contain;
				scrollbar-color:var(--scrollbarColor);
				scrollbar-width:thin;

				&:focus-visible {
					box-shadow:0 0 10px var(--colorSuccess);
					outline:2px solid var(--colorSuccess);
					outline-offset:2px;
				}

				li.Level1 {
					margin:2px 0 0 0;

					&:nth-child(n+3) {
						ul.Level2 {
							top:auto;
							bottom:0;
						}
					}
				}

				ul.Level2 {
					height:fit-content;
					margin:auto;
					top:-999px;
					left:100%;
					bottom:-999px;
				}
			}
		}

		&:focus-visible {
			box-shadow:0 0 10px var(--colorSuccess);
			outline:2px solid var(--colorSuccess);
			outline-offset:2px;
		}

		.Submenu-Toggle {
			height:30px;
			aspect-ratio:1;
			padding:0;
			font-size:0;
			line-height:0;
			position:absolute;
			top:5px;
			right:15px;

			@media screen and (width > 768px) and (height <= 660px),
				screen and (width <= 768px) {
				display:block;
			}

			&[aria-expanded="true"] {
				background-color:var(--colorSuccess);
				color:var(--colorBright);

				&::after {
					content:'\f106';
				}
			}

			&::after {
				@extend %LineAwesomeIcon;
				content:'\f107';
				font-size:24px;
				line-height:30px;
			}
		}

		ul:is(
			.Level2,
			.Level3,
			.Level4
		) {
			@media screen and (width > 768px) and (height <= 660px),
				screen and (width <= 768px) {
				display:none;
				width:auto;
				max-height:none;
				margin-left:20px;
				margin-bottom:10px;
				opacity:inherit;
				visibility:inherit;
				position:relative;
				top:0;
				left:0;
			}

			&.Visible {
				@media screen and (width > 768px) and (height <= 660px),
					screen and (width <= 768px) {
					display:block;
				}
			}
		}

		li {
			@media screen and (width > 768px) and (height <= 660px),
				screen and (width <= 768px) {
				overflow:hidden;
			}
		}

		li.Level1 {
			@media screen and (width > 768px) and (height <= 660px),
			screen and (width <= 768px) {
				margin-top:2px;
				margin-right:0;
			}
		}

		ul.Level2 {
			@media screen and (width > 768px) and (height > 660px) {
				scrollbar-color:var(--scrollbarColor);
				scrollbar-width:thin;

				&:focus-visible {
					box-shadow:0 0 10px var(--colorSuccess);
					outline:2px solid var(--colorSuccess);
					outline-offset:2px;
				}
			}
		}

		.Level1:is(a, span) {
			@media screen and (width > 768px) and (height <= 660px),
				screen and (width <= 768px) {
				height:40px;
				line-height:40px;
			}
		}

		.Level2:is(a, span) {
			@media screen and (width > 768px) and (height <= 800px) {
				padding-block:5px;
			}
		}

		li.Level2 {
			.Submenu-Toggle {
				height:30px;
				top:2px;

				&::after {
					font-size:20px;
					line-height:30px;
				}
			}
		}

		a:is(.Level3, .Level4) {
			@media screen and (width > 768px) and (height <= 660px),
				screen and (width <= 768px) {
				width:auto;
			}
		}

		li.Level3 {
			.Submenu-Toggle {
				height:24px;

				&::after {
					font-size:16px;
					line-height:24px;
				}
			}
		}
	}

	.ShowMore {
		display:none;
		width:72px;
		margin-left:2px;
		padding:0 10px;
		border:0 none;
		background-color:var(--backgroundColorMenu);
		color:var(--colorText);
		border-radius:5px;
		font-size:0;
		line-height:0;
		text-align:center;
		cursor:pointer;
		flex:0 0 72px;
		transition:background-color .3s ease-in-out;

		&.Visible {
			display:block;
		}

		&:hover {
			background-color:var(--colorSuccess);
			transition-delay:.3s;
		}

		&:focus-visible {
			outline:2px solid var(--colorSuccess);
			outline-offset:2px;
			z-index:100;

			&::before {
				opacity:inherit;
				transition-delay:.1s, 0s;
			}
		}

		&::after {
			@extend %LineAwesomeIcon;
			content:'\f141';
			font-size:32px;
		}
	}
}