%FontAlternative {
	@if variable-exists(fontNameAlternative) and $fontNameAlternative != '' {
		//noinspection CssNoGenericFontName
		font-family:var(--fontStackAlternative);
		font-size:var(--fontSizeAlternative, var(--fontSizeMain));
		font-style:var(--fontStyleAlternative, var(--fontStyleMain));
		font-weight:var(--fontWeightAlternative, var(--fontWeightMain));
		line-height:var(--lineHeightAlternative, var(--lineHeightMain));
	}
}

%ContentRow {
	max-width:calc(var(--pageWidth) + 2 * var(--pagePadding));
	margin-inline:auto;
	padding-inline:var(--pagePadding);

	@media screen and (width <= 1024px) {
		padding-inline:calc(var(--pagePadding) * .5);
	}
}