.DashboardController {
	#Content {
		.Overview {
			grid-template-columns:1fr 400px;

			@media screen and (width <= 1024px) {
				grid-template-columns:1fr;
			}
		}

		h1 {
			grid-column:1 / -1;
		}
	}

	.StatusCells {
		display:grid;
		gap:var(--rowGap) 20px;
		grid-template-columns:1fr;
		grid-column:auto / auto;

		@media screen and (width <= 1024px) {
			order:1;
		}
	}

	.Overview-Fieldset {
		display:block;
		//margin-top:var(--rowGap);
		row-gap:var(--lineHeightMain);
		grid-column:auto / auto;

		&:is(
			.Fieldset-LoggedInAs,
			.Fieldset-QuickActions
		) {
			align-self:start;
		}

		&.Fieldset-LoggedInAs {
			padding-block:40px;

			@media screen and (width <= 768px) {
				padding-block:20px;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					padding-block:20px;
				}
			}
		}

		&.Fieldset-UrlsNotFoundStatus {
			padding:0;

			.Table-Overflow {
				margin:0;
				overflow-x:scroll;

				&:has(tr:nth-child(5)) {
					height:300px;
					overflow:hidden auto;
					scrollbar-color:var(--scrollbarColor);
					scrollbar-width:thin;

					.TableHeader-Actions {
						border-top-right-radius:0;
					}
				}
			}

			.Overview-Table {
				margin-bottom:0;

				@media screen and (width <= 500px) {
					min-width:480px;
				}
			}

			th {
				padding-top:30px;

				@media screen and (width <= 540px) {
					padding-top:20px;
				}
			}

			.TableHeader-Actions {
				width:240px;
			}

			.TableCell-Actions {
				.Actions {
					width:100%;
				}
			}
		}

		&:last-child {
			margin-bottom:0;
		}

		.QuickAction {
			margin:20px 0 0 0;
			list-style-type:none;

			&:first-child {
				margin-top:0;
			}
		}

		.Button {
			width:100%;

			&-Configure {
				&::after {
					content:'\f4fe';
				}
			}
		}
	}
}