.DashboardController {
	#Content {
		.Overview {
			grid-template-columns:1fr 400px;
		}

		h1 {
			grid-column:1 / -1;
		}
	}

	.StatusCells {
		grid-column:auto / auto;
	}

	.Overview-Fieldset {
		display:block;
		margin-top:calc(var(--lineHeightMain) * 2);
		row-gap:var(--lineHeightMain);
		grid-column:auto / auto;

		&.Fieldset-LoggedInAs,
		&.Fieldset-QuickActions {
			align-self:start;
		}

		&.Fieldset-LoggedInAs {
			padding-bottom:40px;
		}

		&.Fieldset-QuickActions {

		}

		&.Fieldset-PagesNotFoundStatus {
			padding:0;

			.Overview-Table {
				margin-bottom:0;
			}

			.TableHeader-Actions {
				width:240px;
			}

			.TableCell-Actions {
				.Actions {
					width:100%;
				}
			}
		}

		.QuickActions {
			margin-bottom:20px;
		}

		.QuickAction {
			margin:20px 0 0 0;
			list-style-type:none;

			&:first-child {
				margin-top:0;
			}
		}

		.Button {
			width:100%;

			&-Configure {
				&::after {
					content:'\f4fe';
				}
			}
		}
	}
}