.FormEntries.Overview {
	:where(.TableHeader-Actions) {
		html.Scale-Medium & {
			@media screen and (width > 1024px) {
				width:calc(10rem + 40px);
			}
		}
	}

	:where(.Actions) {
		html.Scale-Medium & {
			@media screen and (width > 1024px) {
				width:100%;
			}
		}
	}

	#LinkSelect-Form {
		.List {
			right:0;
			left:auto;
		}
	}
}
