.FormEntriesController {
	.View {
		iframe {
			display:block;
			width:100%;
			max-width:1024px;
			max-height:80dvh;
			aspect-ratio:16 / 9;
			border-radius:5px;
			margin:calc(var(--lineHeightMain) * 2) auto 0;
			border:0 none;
			scrollbar-width:thin;
		}
	}
}