.Attributes.Overview {
	&:has(.SortableChosen) {
		.Overview-Fieldset {
			&:not(:has(.ListItem)) {
				background-color:color-mix(in srgb, var(--colorSuccess) 20%, #FFFFFF);

				html.🌚 & {
					background-color:var(--colorSemiDark)
				}
			}
		}
	}

	.Overview-Fieldset {
		grid-column:1 / -1;

		&:not(.Collapsed) {
			&:not(:has(.ListItem)) {
				padding-bottom:40px;

				&::after {
					@extend %EmptyList;

					html.🌚 & {
						@extend %EmptyListDarkMode;
					}
				}

				.Attributes-List {
					height:40px;
					margin-left:-52px;
				}
			}
		}
	}
}
