.EmailTemplatesController {
	.Preview {
		iframe {
			display:block;
			width:100%;
			max-width:1024px;
			max-height:80dvh;
			aspect-ratio:16 / 9;
			border-radius:5px;
			margin:var(--rowGap) auto 0;
			border:0 none;
			scrollbar-width:thin;
		}
	}

	.EmailTemplateBodyText {
		padding:20px;
		background-color:var(--colorBright);

		@media screen and (width <= 540px) {
			padding:10px;
		}
	}
}