#Surveys-Diagram {
	display:none;
	max-width:1280px;
	padding:52px 0 0 0;
	position:fixed;
	inset:0;
	z-index:2030;

	.Surveys.Diagram & {
		display:block;
		width:auto;
		max-width:none;
		padding:0;
		box-shadow:none;
		position:relative;
		z-index:initial;

		&::before,
		&::after {
			display:none;
		}

		.ButtonArea {
			display:none;
		}
	}

	&[open] {
		display:flex;
	}

	.Inner {
		width:100%;
		height:calc(80dvh - 52px);
		background-image:url($relativePath + 'img/background-pattern-light.png');
		background-color:var(--backgroundColor);
		position:relative;

		html.🌚 & {
			background-image:url($relativePath + 'img/background-pattern-dark.png');
			background-blend-mode:color-burn;
		}
	}

	.Diagram {
		display:flex;
		width:100%;
		height:100%;
		align-items:safe center;
		content-visibility:hidden;
		overflow:hidden;
		justify-content:safe center;

		&[data-processed="true"] {
			content-visibility:auto;
		}

		svg {
			display:block;
			margin:40px;
		}
	}

	.Button-Fullscreen,
	.Button-Zoom {
		aspect-ratio:1;
		font-size:0;
		line-height:0;
		position:absolute;
		top:20px;
		right:20px;

		&::after {
			font-size:24px;
			margin:0;
		}
	}

	.Button-ZoomOut {
		right:70px;
	}

	.Button-ZoomIn {
		right:120px;
	}

	.ButtonArea {
		margin:0;
		padding:2px;
		position:absolute;
		top:0;
		right:0;
		z-index:10;

		.Button {
			width:auto;
			height:48px;
			line-height:26px;
			background-color:transparent;

			@media screen and (width <= 768px) {
				height:38px;
			}

			@media screen and (width <= 540px) {
				padding-inline:10px;
			}

			@media screen and (width <= 480px) {
				font-size:0;
				line-height:0;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					height:38px;
				}
			}

			&::after {
				@media screen and (width <= 480px) {
					margin-left:0;
				}
			}
		}
	}

	g.edgeLabel {
		&:has(span.edgeLabel:empty) {
			display:none;
		}

		.labelBkg {
			border-radius:5px;
		}
	}

	g#unused {
		span.nodeLabel {
			padding-top:.5em;
			color:var(--colorError);
		}
	}

	g.Unused,
	g.Unreachable {
		path {
			stroke:var(--colorWarning);

			&:first-child {
				stroke:color-mix(in srgb, var(--colorWarning), transparent 90%);
			}
		}

		.nodeLabel {
			display:inline-block;
			position:relative;

			&::before {
				content:'!';
				display:block;
				width:20px;
				aspect-ratio:1;
				margin:auto;
				border-radius:50%;
				background-color:var(--colorWarning);
				color:var(--colorBright);
				font-weight:700;
				line-height:18px;
				text-align:center;
				text-indent:.5px;
			}
		}
	}

	g.Inactive,
	g.Passive {
		path {
			stroke:var(--colorMedium);

			&:first-child {
				stroke:color-mix(in srgb, var(--colorMedium), transparent 90%);
			}
		}
	}

	g:is(
		[data-id^="Inactive"],
		[data-id^="Passive"]
	) {
		opacity:.5;
	}

	span.Identifier {
		display:block;
		width:fit-content;
		height:26px;
		margin:5px auto 0;
		padding:0 5px;
		border-radius:5px;
		background-color:var(--colorMedium);
		font-size:12px;
		line-height:26px;
		text-align:center;

		@at-root #Surveys-Diagram .flowchart span.Identifier {
			fill:var(--colorBright);
			color:var(--colorBright);
		}

		&::before {
			content:'';
			display:inline-block;
			width:20px;
			aspect-ratio:1;
			margin-top:3px;
			margin-right:5px;
			border-radius:5px;
			background-color:var(--identifierColor, transparent);
			vertical-align:top;
		}
	}

	span.edgeLabel {
		display:inline-block;
		padding-inline:5px;
		border-radius:5px;

		li {
			text-align:left;
		}
	}

	marker.marker.cross,
	path[id^="Inactive"],
	path[id^="Passive"] {
		stroke:var(--colorMedium);
	}
}