.Surveys.Form {
	&:has(.SortableChosen) {
		.Fieldset-Questions-Assigned {
			&:not(:has(.ListItem)) {
				background-color:color-mix(in srgb, var(--colorSuccess) 20%, #FFFFFF);

				html.🌚 & {
					background-color:var(--colorSemiDark)
				}
			}
		}
	}

	.Fieldset-Questions {
		padding:0;
		box-shadow:none;
		background-color:transparent;
		grid-template-columns:400px auto;

		@media screen and (width <= 1280px) {
			grid-template-columns:300px auto;
		}

		@media screen and (width <= 1024px) {
			grid-template-columns:auto;
		}

		:is(
			.Fieldset-Questions-Available,
			.Fieldset-Questions-Assigned
		) {
			&:not(:has(.ListItem)) {
				height:80px;

				&::before {
					@extend %EmptyList;
				}
			}
		}

		&-Available {
			display:block;
			padding:20px 0 0;
			position:sticky;
			top:110px;

			html.👀 & {
				max-height:calc(100dvh - 60px);
			}

			ul.Level1 {
				width:100%;
				max-height:calc(100dvh - 160px);
				margin:0;
				padding:10px;
				border:10px solid transparent;
				grid-column:1 / 2;
				overscroll-behavior:contain;
				overflow-y:auto;
				scrollbar-color:var(--scrollbarColor);
				scrollbar-width:thin;

				html.🌚 & {
					--scrollbarColor:var(--backgroundColorContent) var(--colorSemiDark);
				}
			}

			.ListItem {
				margin-inline:0;
				padding:0;

				&[data-sortable="false"] {
					opacity:.5;
					pointer-events:none;
				}

				&-Inner {
					display:block;
					padding:12px 20px 13px;
					cursor:default;
				}
			}

			.Button-Remove,
			.Answers-List {
				display:none;
			}
		}

		&-Assigned {
			display:block;
			padding:20px 0 0;

			ul.Level1 {
				margin:0;
				padding:20px;
			}

			.ListItem {
				margin-inline:0;
				padding:0 57px 0 0;

				&:has(> .Error) {
					.ListItem-Inner {
						border-color:var(--colorError);
						box-shadow:0 0 10px 5px color-mix(in srgb, var(--colorError), transparent 90%);
					}
				}

				&:last-child {
					.Answers-List {
						margin-bottom:0;
					}
				}

				&-Inner {
					display:block;
					padding:9px 20px;
					border:2px solid transparent;
					cursor:default;

					&:hover {
						.Button-Remove {
							opacity:1;
						}
					}
				}

				> .Error {
					margin-top:0;
					border-top-left-radius:0;
					border-top-right-radius:0;
				}
			}

			.Error {
				width:fit-content;
				margin:20px 10px;
				padding:3px 10px 7px;
				border-radius:5px;
				box-shadow:0 0 10px 5px color-mix(in srgb, var(--colorError), transparent 90%);
				background-color:var(--colorError);
				color:var(--colorBright);
				font-size:.8rem;
				line-height:1.5;
			}
		}

		.ListItem {
			&-Inner {
				> .Label {
					display:-webkit-box;
					font-style:italic;
					line-height:1.2;
					-webkit-box-orient:vertical;
					-webkit-line-clamp:2;
					line-clamp:2;
					text-overflow:ellipsis;
					overflow:hidden;
				}

				> .Type {
					display:block;
					margin-top:-.35rem;
					color:var(--colorMedium);
					font-size:.8rem;
				}
			}
		}

		.Button-Remove {
			@extend %InFieldButton;

			width:52px;
			height:52px;
			top:0;
			right:0;
			transition:background-color .3s linear, outline-color .1s ease-in-out, opacity .3s ease-in-out;

			&::after {
				@extend %LineAwesomeIcon;
				content:'\f00d';
				font-size:24px;
				line-height:52px;

				@media screen and (width <= 768px) {
					line-height:42px;
				}

				html.Scale-Small & {
					@media screen and (width > 768px) {
						line-height:42px;
					}
				}
			}

			&:hover {
				--backgroundColor:var(--colorError);
			}

			.Hover {
				background-color:var(--colorError);
			}
		}

		.NestedListToggle {
			display:none;
		}

		.Answers-List {
			margin:10px 0 20px 60px;

			&Item {
				margin:2px 0;
				padding:0 57px 0 0;
				list-style-type:none;
				position:relative;

				&:not(:has(input[type="checkbox"][name$="][active]"]:checked)) {
					&:where(:not(:hover)) {
						.Answers-ListItem-Inner,
						.Button-Remove {
							opacity:.25;
						}
					}
				}

				&-Inner {
					--backgroundColor:var(--colorLight);

					padding:9px 20px 9px 60px;
					border-radius:5px;
					border:2px solid transparent;
					background-color:var(--backgroundColor);
					transition:background-color .3s ease-in-out, opacity .3s ease-in-out;

					html.🌚 & {
						--backgroundColor:oklch(from var(--colorBackgroundContentDarkMode) calc(l + 0.0448) calc(c + 0.005) calc(h - 0.4));
					}

					&:hover {
						background-color:oklch(from var(--colorLight) calc(l - 0.0588) calc(c + 0.009) calc(h + 1.05));

						html.🌚 & {
							background-color:oklch(from var(--colorSemiDarkDarkMode) calc(l + 0.0389) calc(c + 0.004) calc(h - 0.55));
						}
					}
				}
			}

			.FormInputType-Checkbox {
				position:absolute;
				top:15px;
				left:20px;

				.Label {
					padding-left:0;
					font-size:0;
					line-height:0;

					&::before {
						position:relative;
						top:0;
					}
				}
			}

			input[type="checkbox"][name$="][active]"] {
				display:none;
			}
		}
	}
}