#MediaFolderSelectOverlay {
	@extend %DialogNoTitle;

	&:not(:has(.Form)) {
		@extend %LoaderIcon;
	}

	.Form.MediaFolderSelect {
		@extend %OverlayForm;

		padding:92px 20px 40px 20px;

		html.Scale-Small & {
			padding:52px 10px 10px 10px;
		}

		&::after {
			content:attr(data-title, 'Select Media Folder');
		}

		> #MediaFolders-List {
			display:block;
			height:100%;
			max-height:calc(80dvh - 132px);
			padding:0 20px;
			border-inline-width:0;
			overflow-y:auto;
			scrollbar-color:var(--scrollbarColor);
			scrollbar-width:thin;

			html.Scale-Small & {
				padding:10px;
			}

			.Overview-Fieldset {
				&:last-of-type {
					margin-bottom:40px;
				}
			}
		}

		legend {
			background-color:var(--colorMedium);
			color:var(--colorBright);
		}

		.ListItem-Inner {
			border:1px solid oklch(from var(--colorLight) calc(l - 0.0454) calc(c + 0.006) calc(h + 0.07));


			&:has(input:checked) {
				border-color:var(--colorSuccess);
				background-color:color-mix(in srgb, var(--colorSuccess), #FFFFFF 75%);
			}

			input {
				display:none;
			}

			.Data {
				pointer-events:none;
			}
		}
	}
}