#MediaFolderSelectOverlay {
	@extend %DialogNoTitle;

	max-width:640px;

	&:not(:has(.Form)) {
		@extend %LoaderIcon;
	}

	.Form.MediaFolderSelect {
		@extend %OverlayForm;

		grid-column:1 / -1;

		&::after {
			content:attr(data-title, 'Select Media Folder');
		}
	}

	div#MediaFolders-List {
		display:block;
		height:100%;
		max-height:calc(80dvh - 112px);
		padding:30px;
		border:0 none;
		border-radius:5px;
		overscroll-behavior:contain;
		overflow-y:auto;
		scrollbar-color:var(--scrollbarColor);
		scrollbar-width:thin;
		grid-column:1 / -1;
		grid-row:auto;

		@media screen and (width <= 768px) {
			padding:10px;
		}

		@media screen and (width <= 540px) {
			padding:5px;
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				padding:10px;
			}
		}

		&:focus-visible {
			box-shadow:0 0 10px var(--colorSuccess);
			outline:2px solid var(--colorSuccess);
			outline-offset:2px;
		}
	}

	.Overview-Fieldset {
		&:nth-last-child(1 of .Overview-Fieldset) {
			margin-bottom:40px;

			@media screen and (width <= 768px) {
				margin-bottom:20px;
			}
		}
	}

	legend {
		background-color:var(--colorMedium);
		color:var(--colorBright);
	}

	.ListItem-Inner {
		border:1px solid oklch(from var(--colorLight) calc(l - 0.0454) calc(c + 0.006) calc(h + 0.07));


		&:has(input:checked) {
			border-color:var(--colorSuccess);
			background-color:color-mix(in srgb, var(--colorSuccess), #FFFFFF 75%);
		}

		input {
			display:none;
		}

		.Data {
			pointer-events:none;
		}
	}
}