.Media.Overview {
	&:has(#UploadQueue-DropZone.Visible) {
		overflow:hidden;
	}

	#UploadQueue {
		display:none;
		width:100%;
		border-radius:5px;
		box-shadow:0 0 10px rgba(0, 0, 0, .05);
		background-color:var(--backgroundColorContent);
		grid-column:1 / -1;

		&.Visible {
			display:table;
		}

		&:not(.Visible) {
			~ .Overview-Table {
				th {
					&:last-child {
						border-top-right-radius:0;
					}
				}

				tfoot {
					td {
						&:last-child {
							border-bottom-right-radius:0;
						}
					}
				}
			}
		}

		tr {
			&:last-child {
				border-bottom-left-radius:5px;
				border-bottom-right-radius:5px;

				td {
					&:first-child {
						border-bottom-left-radius:5px;
					}

					&:last-child {
						border-bottom-right-radius:5px;
					}
				}
			}
		}

		th {
			&.TableHeader-Status {
				width:220px;

				@media screen and (width <= 768px) {
					width:100px;
				}
			}

			&.TableHeader-Actions {
				@media screen and (width <= 540px) {
					width:136px;
				}
			}

			&:last-child {
				border-top-right-radius:0;
			}
		}

		td {
			&.TableCell-Name {
				text-overflow:ellipsis;
				overflow:hidden;
				white-space:nowrap;
			}
		}

		progress {
			height:16px;
			margin-block:5px;
		}
	}

	.UploadQueue-Item {
		&-Error {
			.TableCell-Status {
				color:var(--colorError);
			}

			progress {
				background-color:var(--colorError);

				&::-webkit-progress-value {
					background-color:var(--colorError);
				}

				&::-moz-progress-bar {
					background-color:var(--colorError);
					animation-play-state:paused;
				}
			}
		}
	}

	.Overview-Table {
		th {
			&.TableHeader-Preview {
				width:160px;

				@media screen and (width <= 1280px) {
					width:100px;
				}
			}

			&.TableHeader-UsageCount {
				width:220px;

				@media screen and (width <= 1024px) {
					width:160px;
				}
			}
		}

		td {
			&.TableCell-Preview {
				font-size:0;
				line-height:0;
				text-align:center;
				overflow:hidden;

				a {
					display:inline-block;
					border-bottom-width:0;
				}
			}
		}

		img {
			width:120px;
			max-width:100%;
			height:80px;
			overflow:hidden;
			object-fit:cover;
		}
	}
}

#UploadQueue-DropZone {
	display:flex;
	padding:20px;
	border-radius:5px;
	outline:2px solid var(--colorSuccess);
	outline-offset:3px;
	background-color:color-mix(in srgb, var(--colorSuccess), transparent 85%);
	backdrop-filter:blur(10px);
	//noinspection CssNoGenericFontName
	font-family:var(--fontStackHeading);
	font-size:3rem;
	line-height:.9;
	text-align:center;
	position:fixed;
	inset:20px;
	z-index:18785;
	opacity:0;
	visibility:hidden;
	transition:opacity .3s ease-in-out, visibility 0s linear .3s;
	align-items:center;
	justify-content:center;

	@media screen and (width <= 540px) {
		font-size:2rem;
		inset:10px;
	}

	html.🌚 & {
		background-color:oklch(from var(--colorBackgroundContentDarkMode) calc(l - 0.0473) calc(c - 0.005) calc(h + 1.12) / .85);
	}

	&.Visible {
		opacity:1;
		visibility:visible;
		transition-delay:0s;
	}
}

ul#Media-List {
	display:grid;
	padding:40px;
	border-radius:5px 0 0 5px;
	background-color:var(--backgroundColorContent);
	gap:20px;
	grid-auto-rows:min-content;
	grid-template-columns:repeat(auto-fill, minmax(8rem, 1fr));
	grid-column:1 / -1;

	@media screen and (width <= 768px) {
		padding:20px;
	}

	@media screen and (width <= 540px) {
		padding:10px;
		gap:10px;
	}

	html.Scale-Small & {
		@media screen and (width > 768px) {
			padding:20px;
		}
	}

	&.FetchInProgress {
		pointer-events:none;

		.Media-ListItem {
			opacity:.1;
		}

		&::before {
			@extend %LoaderIcon;

			content:'';
			display:block;
			width:220px;
			height:20px;
			margin:auto;
			position:sticky;
			top:110px;
			grid-column:1 / -1;

			html.👀 & {
				top:20px;
			}
		}
	}
}

.Media-ListItem {
	min-width:0;
	aspect-ratio:1;
	margin:0;
	border:2px solid var(--colorLight);
	border-radius:5px;
	background-color:var(--colorBright);
	background-image:repeating-conic-gradient(var(--colorLight) 0deg 25%, transparent 0deg 50%);
	background-size:20px 20px;
	list-style-type:none;
	position:relative;

	html.🌚 & {
		--colorLight:oklch(from var(--colorBackgroundContentDarkMode) calc(l + 0.1041) calc(c + 0.011) calc(h + 2.24));

		border-color:oklch(from var(--colorBackgroundContentDarkMode) calc(l + 0.0448) calc(c + 0.005) calc(h - 0.4));
		background-color:oklch(from var(--colorBackgroundContentDarkMode) calc(l + 0.0448) calc(c + 0.005) calc(h - 0.4));
	}

	&:is(
		.Selected,
		.SortableGhost
	) {
		--colorLight:color-mix(in srgb, var(--colorSuccess), #FFFFFF 25%);

		outline:2px solid var(--colorSuccess);
		outline-offset:-2px;
		background-color:var(--colorSuccess);
		color:var(--colorBright);
	}

	&.SortableGhost {
		.Actions.Actions {
			opacity:0;
		}
	}

	&:is(:hover, :focus-within) {
		:is(
			.Actions,
			.Button-Cancel
		) {
			opacity:1;
		}
	}

	.Actions {
		position:absolute;
		top:10px;
		right:10px;
		opacity:0;
		transition:opacity .3s ease-in-out;

		.Button {
			min-height:0;
			padding:5px;
			font-size:0;
			line-height:0;

			@media screen and (width <= 768px) {
				padding-block:6px;
			}

			&.UsageCount {
				width:30px;
				aspect-ratio:1;
				padding:0;
				border-radius:50%;
				background-color:var(--colorInfo);
				font-size:16px;
				line-height:30px;
				cursor:default;

				.Hover {
					display:none;
				}
			}

			&::after {
				margin-left:0;
			}
		}
	}

	.Button-Cancel {
		width:36px;
		height:36px;
		margin:auto;
		padding:0;
		font-size:0;
		line-height:0;
		text-align:center;
		position:absolute;
		inset:0;
		opacity:0;
		transition:opacity .3s ease-in-out;

		&::after {
			@extend %LineAwesomeIcon;
			content:'\f00d';
			font-size:24px;
			line-height:36px;
		}
	}

	.Name {
		padding:10px;
		background-color:inherit;
		border-radius:0 0 2px 2px;
		font-size:14px;
		line-height:1.1;
		position:absolute;
		right:0;
		bottom:0;
		left:0;
		text-overflow:ellipsis;
		overflow:hidden;
		white-space:nowrap;
	}

	.Link {
		border-radius:5px;
		border-bottom-width:0;
		position:absolute;
		inset:0;

		&:focus-visible {
			box-shadow:0 0 10px var(--colorSuccess);
			outline:2px solid var(--colorSuccess);
			outline-offset:2px;
		}
	}

	.Preview {
		display:block;

		.FileType-Icon {
			margin:auto;
			position:absolute;
			inset:0 0 2rem 0;
		}

		img {
			display:block;
			width:100%;
			aspect-ratio:1;
			border-radius:5px;
			object-fit:cover;
		}

		:is(
			.AwaitingPreview,
			.AwaitingResize
		) {
			&::before {
				border-radius:5px;
			}

			img {
				display:none;
			}
		}
	}

	.Status {
		display:block;
		padding:10px;
		color:var(--colorError);
		font-size:14px;
		line-height:1.2;
		position:absolute;
		top:0;
		right:0;
		left:0;
	}
}

.Preview {
	.FileType-Icon {
		&:is(
			.AwaitingPreview,
			.AwaitingResize
		) {
			background-color:transparent;
			border:0 none;

			&::before {
				background-color:transparent;
			}

			&::after {
				display:none;
			}
		}
	}
}

:is(
	.AwaitingPreview,
	.AwaitingResize
) {
	&::before {
		@extend %LoaderIcon;

		content:'';
		display:block;
		width:160px;
		height:160px;
		margin:auto;
		background-color:var(--colorBright);
		position:absolute;
		inset:-999px;
		z-index:1;
	}

	img {
		display:none;
	}
}

.SelectionRectangle {
	border:2px dashed var(--colorSuccess);
	border-radius:5px;
	position:absolute;
	pointer-events:none;
	z-index:247365;
}