.ContentRow {
	margin-top:var(--contentRowGap);
}

:nth-child(1 of .ContentRow) {
	margin-top:0;
}

.ContentElement,
.WidgetElement {
	@media screen AND (max-width:#{$singleColumnBreakpoint}) {
		margin-top:var(--contentRowGap);
	}
}

.ContentElement,
.FormElement,
.WidgetElement {
	&.BackgroundColor {
		padding:var(--elementPadding);
		background-color:var(--backgroundColor, transparent);
		color:var(--textColor);
	}

	&.BackgroundColor-Text {
		--backgroundColor:var(--colorText);
		--textColor:var(--colorBright);
	}

	&.BackgroundColor-Dark {
		--backgroundColor:var(--colorDark);
		--textColor:var(--colorBright);
	}

	&.BackgroundColor-Medium {
		--backgroundColor:var(--colorMedium);
		--textColor:var(--colorBright);
	}

	&.BackgroundColor-Light {
		--backgroundColor:var(--colorLight);
		--textColor:var(--colorText);
	}

	&.BackgroundColor-Bright {
		--backgroundColor:var(--colorBright);
		--textColor:var(--colorText);
	}

	&.BackgroundColor-Main {
		--backgroundColor:var(--colorMain);
		--textColor:var(--colorBright);
	}

	&.BackgroundColor-Contrast {
		--backgroundColor:var(--colorContrast);
		--textColor:var(--colorBright);
	}
}

:nth-child(1 of .ContentElement),
:nth-child(1 of .FormElement),
:nth-child(1 of .WidgetElement) {
	@media screen AND (max-width:#{$singleColumnBreakpoint}) {
		margin-top:0;
	}
}

@import 'content_areas';
@import 'section';
@import 'standard';