.ContentRow {
	margin-top:var(--contentRowGap);

	&.SmallColumnGap {
		--elementMargin:1%;

		@include Columns(1%);
	}

	&:where(:nth-child(1 of .ContentRow)) {
		margin-top:0;
	}
}

:is(
	.ContentElement,
	.GlobalContentElement
) {
	@media screen and (width <= #{$singleColumnBreakpoint}) {
		margin-top:var(--contentRowGap);
	}
}

:is(
	.ContentElement,
	.FormElement,
	.GlobalContentElement
) {
	@scope (#{&}.BackgroundColor) to (#{&}.BackgroundColor) {
		@at-root :scope {
			padding:var(--elementPadding);
			background-color:var(--backgroundColor, transparent);
			color:var(--textColor);

			@media screen and (width <= 1024px) {
				padding:calc(var(--elementPadding) * .5);
			}
		}
	}

	@scope (#{&}.BackgroundColor-Text) to (#{&}.BackgroundColor) {
		@at-root :scope {
			--backgroundColor:var(--colorText);
			--textColor:var(--colorBright);
		}
	}

	@scope (#{&}.BackgroundColor-Dark) to (#{&}.BackgroundColor) {
		@at-root :scope {
			--backgroundColor:var(--colorDark);
			--textColor:var(--colorBright);

			:is(h1, h2, h3, h4, h5, h6) {
				color:var(--colorBright);
			}
		}
	}

	@scope (#{&}.BackgroundColor-Medium) to (#{&}.BackgroundColor) {
		@at-root :scope {
			--backgroundColor:var(--colorMedium);
			--textColor:var(--colorBright);
		}
	}

	@scope (#{&}.BackgroundColor-Light) to (#{&}.BackgroundColor) {
		@at-root :scope {
			--backgroundColor:var(--colorLight);
			--textColor:var(--colorText);
		}
	}

	@scope (#{&}.BackgroundColor-Bright) to (#{&}.BackgroundColor) {
		@at-root :scope {
			--backgroundColor:var(--colorBright);
			--textColor:var(--colorText);
		}
	}

	@scope (#{&}.BackgroundColor-Main) to (#{&}.BackgroundColor) {
		@at-root :scope {
			--backgroundColor:var(--colorMain);
			--textColor:var(--colorText);
		}
	}

	@scope (#{&}.BackgroundColor-Contrast) to (#{&}.BackgroundColor) {
		@at-root :scope {
			--backgroundColor:var(--colorContrast);
			--textColor:var(--colorBright);
		}
	}

	&:where(
		:nth-child(1 of .ContentElement),
		:nth-child(1 of .FormElement),
		:nth-child(1 of .GlobalContentElement)
	) {
		@media screen and (width <= #{$singleColumnBreakpoint}) {
			margin-top:0;
		}
	}
}

@import 'content_areas';
@import 'section';
@import 'standard';