.Template-Section {
	--sectionMarginBlock:0 #{$lineHeightMain * 4};
	--sectionPaddingBlock:0;
	margin-block:var(--sectionMarginBlock);
	padding-block:var(--sectionPaddingBlock);

	&:is(
		.BackgroundColor,
		.BackgroundImage
	) {
		--sectionPaddingBlock:calc(var(--lineHeightMain) * 4);

		padding:var(--sectionPaddingBlock) 0;

		&:has(+ .BackgroundColor, + .BackgroundImage),
		&:last-child {
			margin-bottom:0;
		}
	}

	&.BackgroundColor-Text {
		transform:skewY(-2deg);
	}

	&.BackgroundImage {
		position:relative;
		overflow:hidden;

		&::before {
			content:'';
			background-position:center;
			background-repeat:no-repeat;
			background-size:cover;
			position:absolute;
			inset:-25px;
			filter:blur(15px);
			opacity:.5;
		}
	}

	&:first-child {
		margin-top:calc(var(--headerHeight) * -1 - 25px);
		padding-top:calc(var(--lineHeightMain) * 4 + var(--headerHeight) + 25px);
	}

	> .ContentRow {
		@extend %ContentRow;
	}
}