.Template-Standard {
	&.BackgroundColor {
		border-radius:5px;
	}

	> .Image {
		font-size:0;
		line-height:0;

		a {
			display:inline-block;
			text-decoration:none;
		}

		img {
			box-shadow:0 0 5px rgba(0, 0, 0, .1);
			border-radius:5px;

			&::before {
				border-radius:5px;
			}
		}

		+ :is(
			.Title,
			.Subtitle,
			.Text
		) {
			margin-top:calc(var(--contentRowGap) * .5);
		}
	}

	> .Children {
		margin-top:var(--contentRowGap);

		&:first-child {
			margin-top:0;
		}
	}
}