.MediaFolders {
	&.Form {
		fieldset {
			&.Collapsed {
				.FormInputName-Path {
					display:none;
				}
			}
		}

		.FormInputName-LanguageShortcode {
			display:block;
		}

		.FormInputName-Path {
			display:flex;
			flex-wrap:wrap;

			&.Error {
				&,
				&:focus-within {
					&::before {
						border-color:var(--colorError);
						box-shadow:0 0 10px 5px rgba(202, 46, 85, 0.1);
					}
				}

				input {
					box-shadow:none;
				}
			}

			&:has(input[readonly]) {
				&:focus-within {
					&::before {
						border-color:rgba(0, 0, 0, .1);
						box-shadow:none;
						background-color:var(--backgroundColor);

						.🌚 & {
							border-color:rgba(255, 255, 255, .1);
							background-color:var(--colorSemiDark);
						}
					}
				}
			}

			&:focus-within {
				&::before {
					border-color:var(--colorSuccess);
					box-shadow:0 0 10px 5px var(--colorSuccess-Alpha-10);
					background-color:var(--colorBright);

					.🌚 & {
						border-color:var(--colorSuccess);
						background-color:var(--colorSemiDarkDarkMode-Lightened-2);
					}
				}
			}

			&::before {
				@extend %Input;

				content:'';
				width:100%;
				height:52px;
				display:block;
				position:absolute;
				top:1rem;
				left:0;
				pointer-events:none;

				.Scale-Small & {
					height:42px;
				}

				.🌚& {
					border-color:rgba(255, 255, 255, .1);
					background-blend-mode:multiply;
					background-image:url($relativePath + 'img/background-pattern-dark.png');
					background-color:var(--colorSemiDark);
				}
			}

			.Label.Label {
				width:100%;
				padding-bottom:calc(52px + .25rem);
				margin-bottom:-52px;
				flex:0 0 100%;

				.Scale-Small & {
					padding-bottom:calc(42px + .25rem);
					margin-bottom:-42px;
				}
			}

			input {
				width:auto;
				border:0 none;
				box-shadow:none;
				background-color:transparent;
				background-image:none;
				position:relative;
				z-index:1;
				flex:1 1 auto;
				order:3;
			}

			.PrePath {
				margin:0 0 1px 1px;
				padding:0 10px;
				border-radius:5px 0 0 5px;
				box-shadow:-3px 0 4px inset rgba(0, 0, 0, .25);
				background-color:var(--colorMedium);
				color:var(--colorBright);
				font-size:.8rem;
				line-height:50px;
				position:relative;
				z-index:1;
				cursor:default;
				pointer-events:none;

				.Scale-Small & {
					line-height:40px;
				}
			}

			div.Error {
				width:100%;
				flex:0 0 100%;
				order:4;
			}
		}
	}
}