.Seo.Analyze {
	@extend %ContentGrid;

	.Summary-List {
		grid-column:1 / -1;

		li {
			margin:5px -20px 0;
			padding:15px 20px;
			border-radius:5px;
			list-style:none;

			@media screen and (width <= 1280px) {
				margin-inline:0;
			}

			@media screen and (width <= 768px) {
				padding-block:7px 9px;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					margin-inline:0;
					padding-block:7px 9px;
				}
			}

			&.Error {
				background-color:var(--colorError);
				color:var(--colorBright);
			}

			&.Warning {
				background-color:var(--colorWarning);
				color:var(--colorText);

				html.🌚 & {
					color:$colorText;
				}
			}

			&:first-child {
				margin-top:0;
			}

			&:last-child {

			}
		}
	}

	.NestedList {
		.NestedList {
			margin-left:0;
		}

		.ListItem {
			--seoButtonWidth:28px;
			--seoTextWidth:20vw;

			container:listItem / inline-size;

			&:has(.ListItem) {
				background-position:62px 16px;
			}

			&-Inner {
				container-name:none;
				grid-template-columns:auto auto repeat(1, var(--seoButtonWidth));
				row-gap:10px;

				@media screen and (width <= 1080px) {
					--seoTextWidth:130px;
					grid-auto-flow:dense;
					grid-template-columns:auto var(--seoButtonWidth);
				}

				&:has(> .NestedListToggle:not(.Hidden)) {
					padding-left:50px;

					@container listItem (width <= 1024px) {
						padding-left:40px;
					}
				}

				&:hover {
					.SeoInfo {
						opacity:1;

						.Icon {
						}
					}
				}
			}
		}

		.Data {
			align-content:start;
			gap:0;

			@container listItem (width <= 1024px) {
				font-size:.8rem;
			}

			.Title {
				font-size:inherit;
			}
		}

		.DataItem {
		}

		.NestedListToggle {
			width:30px;
			height:30px;

			&::before {
				font-size:18px;
				line-height:32px;
			}
		}

		.SeoInfoList {
			display:grid;
			width:fit-content;
			margin-left:auto;
			gap:10px;
			grid-row:span 2;
			grid-template-columns:repeat(2, var(--seoTextWidth));

			@media screen and (width <= 1080px) {
				--seoTextWidth:1fr;
				width:100%;
				grid-column:1 / -1;
				grid-row:auto;
			}

			@media screen and (width <= 580px) {
				grid-template-columns:100%;
			}
		}

		.SeoInfo {
			display:grid;
			gap:0 10px;
			grid-template-columns:var(--seoButtonWidth) auto;
			transition:opacity .3s ease-in-out;
			opacity:.1;
			align-self:start;

			@media screen and (width <= 420px) {
				grid-column:1 / -1;
			}

			.Title {
				font-size:14px;
				line-height:1.1;
				align-self:center;

				@container listItem (width <= 1024px) {
					font-size:12px;
				}

				html.Scale-Small & {
					font-size:11px;
				}
			}

			.Icon {
				display:inline-block;
				width:var(--seoButtonWidth);
				aspect-ratio:1;
				border-radius:4px;
				background-color:var(--colorMedium);
				color:var(--colorBright);
				line-height:0;
				text-align:center;
				cursor:help;
				position:relative;

				&.Loading {
					&::after {
						content:'';
						width:20px;
						height:20px;
						margin:auto;
						border-radius:50%;
						border:2px solid var(--colorBright);
						border-top-color:transparent;
						position:absolute;
						inset:0;
						animation:spin 1s linear infinite;
					}
				}
			}

			:is(
				.la-check,
				.la-exclamation,
				.la-times
			) {
				color:inherit;
				font-size:0;
				line-height:0;

				&::before {
					line-height:var(--seoButtonWidth);
				}
			}
		}

		.SeoInfoStatus-Ok {
			.Icon {
				background-color:var(--colorSuccess);
			}
		}

		:is(
			.SeoInfoStatus-Warning,
			.SeoInfoStatus-Empty
		) {
			opacity:1;

			.Icon {
				background-color:var(--colorWarning);
			}
		}

		.SeoInfoStatus-Error {
			opacity:1;

			.Icon {
				background-color:var(--colorError);
			}
		}

		.SeoInfo-MostlyUsedWords {
			display:block;
			width:100%;
			font-size:14px;
			line-height:1.2;

			@media screen and (width <= 1080px) {
				grid-column:1 / -1;
			}

			@container listItem (width <= 1024px) {
				font-size:.8rem;
			}

			&:not(:has(ul)) {
				display:none;
			}

			ul {
				display:flex;
				margin-inline:-5px;
				flex-wrap:wrap;
			}

			li {
				margin:0 5px;
				list-style-type:none;
			}
		}

		.Actions {
			display:grid;
			width:auto;
			margin-top:0;
			align-self:start;
			gap:10px;

			@media screen and (width <= 420px) {
				width:100%;
				grid-column:auto / span 1;
			}
		}

		.Button-Edit {
			width:var(--seoButtonWidth);
			aspect-ratio:1;
			padding:0;
			font-size:0;
			line-height:0;
			text-indent:2px;

			&::after {
				margin:0;
				line-height:var(--seoButtonWidth);
			}
		}
	}
}
