.SeoController {
	.Analyze {
		@extend %ContentGrid;
	}

	.Summary-List {
		grid-column:1 / -1;

		li {
			margin:5px -20px 0;
			padding:15px 20px;
			border-radius:5px;
			list-style:none;

			@media screen and (width <= 1280px) {
				margin-inline:0;
			}

			@media screen and (width <= 768px) {
				padding-block:7px 9px;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					margin-inline:0;
					padding-block:7px 9px;
				}
			}

			&.Error {
				background-color:var(--colorError);
				color:var(--colorBright);
			}

			&.Warning {
				background-color:var(--colorWarning);
				color:var(--colorText);

				html.🌚 & {
					color:$colorText;
				}
			}

			&:first-child {
				margin-top:0;
			}

			&:last-child {

			}
		}
	}

	.NestedList {


		.ListItem {
			--seoButtonWidth:28px;
			--seoTextWidth:180px;

			container:listItem / inline-size;

			&-Inner {
				container-name:none;
				grid-template-columns:auto repeat(3, calc(var(--seoButtonWidth) + var(--seoTextWidth))) repeat(2, var(--seoButtonWidth)) var(--seoButtonWidth);
				row-gap:10px;

				@container listItem (width <= 1024px) {
					--seoTextWidth:130px;
				}

				@container listItem (width <= 680px) {
					grid-template-columns:auto var(--seoButtonWidth);
					grid-auto-flow:dense;
				}

				@media screen and (width <= 420px) {
					grid-template-columns:repeat(3, 1fr);
				}

				&:has(> .NestedListToggle:not(.Hidden)) {
					padding-left:50px;
				}

				&:hover {
					.SeoInfo {
						opacity:1;

						.Icon {
						}
					}
				}
			}
		}

		.Data {
			align-content:start;
			gap:0;

			@container listItem (width <= 1024px) {
				font-size:.8rem;
				grid-column:1 / -1;
			}

			.Title {
				font-size:inherit;
			}
		}

		.DataItem {
		}

		.NestedListToggle {
			width:30px;
			height:30px;

			&::before {
				font-size:18px;
				line-height:32px;
			}
		}

		.SeoInfo {
			display:grid;
			gap:0 10px;
			grid-template-columns:var(--seoButtonWidth) auto;
			transition:opacity .3s ease-in-out;
			opacity:.1;
			align-self:start;

			@container listItem (width <= 680px) {
				grid-column-start:1;
			}

			@media screen and (width <= 420px) {
				grid-column:1 / -1;
			}

			&:nth-child(1 of .SeoInfo) {
				@container listItem (680px < width <= 1024px) {
					grid-column-start:2;
				}

				@media screen and (width <= 420px) {
					grid-column:1 / -1;
				}
			}

			&:nth-child(4 of .SeoInfo),
			&:nth-child(5 of .SeoInfo) {
				@container listItem (width <= 680px) {
					grid-column-start:2;
				}

				@media screen and (width <= 420px) {
					grid-column:auto / span 1;
				}
			}

			.Title {
				font-size:14px;
				line-height:1.1;
				align-self:center;

				@container listItem (width <= 1024px) {
					font-size:12px;
				}
			}

			.Icon {
				display:inline-block;
				width:var(--seoButtonWidth);
				aspect-ratio:1;
				border-radius:4px;
				background-color:var(--colorMedium);
				color:var(--colorBright);
				line-height:0;
				text-align:center;
				cursor:help;
				position:relative;

				&.Loading {
					&::after {
						content:'';
						width:20px;
						height:20px;
						margin:auto;
						border-radius:50%;
						border:2px solid var(--colorBright);
						border-top-color:transparent;
						position:absolute;
						inset:0;
						animation:spin 1s linear infinite;

						@keyframes spin {
							to {
								transform:rotate(360deg);
							}
						}
					}
				}
			}

			.la-check,
			.la-exclamation,
			.la-times {
				color:inherit;
				font-size:0;
				line-height:0;

				&::before {
					line-height:var(--seoButtonWidth);
				}
			}
		}

		.SeoInfoStatus-Ok {
			.Icon {
				background-color:var(--colorSuccess);
			}
		}

		.SeoInfoStatus-Warning {
			.Icon {
				background-color:var(--colorWarning);
			}

			&.SeoInfo-HeadlineStructure,
			&.SeoInfo-MetaTitle,
			&.SeoInfo-MetaDescription {
				opacity:1;
			}
		}

		.SeoInfoStatus-Empty {
			&.SeoInfo-MetaTitle {
				opacity:1;

				.Icon {
					background-color:var(--colorError);
				}
			}

			&.SeoInfo-MetaDescription {
				opacity:1;

				.Icon {
					background-color:var(--colorWarning);
				}
			}
		}

		.SeoInfoStatus-Error {
			.Icon {
				background-color:var(--colorError);
			}

			&.SeoInfo-HeadlineStructure,
			&.SeoInfo-MetaTitle,
			&.SeoInfo-MetaDescription {
				opacity:1;
			}
		}

		.Actions {
			width:auto;
			margin-top:0;
			align-self:start;

			@container listItem (width <= 680px) {
				width:auto;
				grid-template-columns:auto;
				grid-column-start:2;
			}

			@media screen and (width <= 420px) {
				width:100%;
				grid-column:auto / span 1;
			}
		}

		.Button-Edit {
			width:var(--seoButtonWidth);
			aspect-ratio:1;
			padding:0;
			font-size:0;
			line-height:0;
			text-indent:2px;

			&::after {
				margin:0;
				line-height:var(--seoButtonWidth);
			}
		}
	}
}