fieldset {
	padding:0 var(--elementPadding) var(--elementPadding);
	border:2px solid var(--colorText);
	border-radius:5px;
}

legend {
	margin-left:-10px;
	padding-inline:10px;
	line-height:var(--lineHeightMain);

	+ .FormRow {
		margin-top:calc(var(--elementPadding) - var(--lineHeightMain));
	}
}

.FormRow {
	margin-top:var(--formRowGap);
	margin-left:0;
	flex-basis:100%;

	&:first-child {
		margin-top:0;
	}
}

.FormCaptcha {
	display:block;

	.FormRow {
		margin-top:0;
	}
}

.FormCaptcha-Words {
	display:flex;
	margin-top:calc(var(--lineHeightMain) * -1);
	flex-wrap:wrap;
	gap:10px;

	@for $i from 1 through 6 {
		&[data-active-word="#{$i}"] {
			.FormCaptcha-Word:nth-child(#{$i}) {
				background-color:var(--colorBright);
				color:var(--colorMain);
			}
		}
	}

	.FormCaptcha-Word {
		margin:0;
		padding:5px 10px;
		border-radius:5px;
		border:1px solid;
		list-style-type:none;
	}
}

.FormCaptcha-Word-Spacer {
	width:0;
	display:inline-block;
}

.FormElement {
	@media screen and (width <= #{$singleColumnBreakpoint}) {
		margin-top:var(--formRowGap);
	}
}

.Form-ErrorMessage {
	margin-block:var(--lineHeightMain);
	padding:var(--lineHeightMain) var(--elementPadding);
	border:2px solid;
	border-radius:5px;
	color:var(--colorContrast);

	&:first-child {
		margin-top:0;
	}
}

.FormElementType-Checkbox {
	&:has(> .FormInputType-Checkbox-Item) {
		> .FormElement-Label {
			display:none;
		}
	}

	.FormInputType-Checkbox-Item {
		display:grid;
		grid-template-columns:30px auto;

		> .FormInputType-Checkbox {
			margin-top:.5em;
			align-self:start;
			justify-self:start;

			.BackgroundColor-Main & {
				color:var(--colorMain);
				accent-color:var(--colorText);
				caret-color:var(--colorText);
			}
		}
	}
}

.FormElementType-Submit {
	margin-top:calc(var(--formRowGap) * 2);

	.Button {
		width:100%;
		padding-block:15px;
		cursor:pointer;
	}
}

:is(
	.FormElement-Label,
	.FormInputType-Input,
	.FormInputType-Select,
	.FormInputType-Textarea
) {
	display:block;
	width:100%;
}

:is(
	.FormInputType-Input,
	.FormInputType-Select,
	.FormInputType-Textarea
) {
	padding:.5rem 1rem;
	border:1px solid;
	border-radius:5px;
	outline:0 none;
	accent-color:var(--colorMain);
	caret-color:var(--colorMain);
	background-color:transparent;
	color:inherit;
	font-size:1rem;
	line-height:1;

	&:is(
		:user-invalid,
		.FormElement-IsInvalid > *
	) {
		border-color:var(--colorContrast);
	}

	&:focus-visible {
		border-color:var(--colorMain);
	}

	&[readonly] {
		border-color:color-mix(in srgb, currentColor, transparent 25%);
		color:color-mix(in srgb, currentColor, transparent 25%);
		cursor:default;
	}
}

:is(
	.FormInputType-Checkbox,
	.FormInputType-Radio
) {
	accent-color:var(--colorMain);
	caret-color:var(--colorMain);
}

:is(
	.FormElement-Checkboxes,
	.FormElement-Radios
) {
	display:grid;
	gap:10px;
	grid-template-columns:repeat(2, 1fr);
}

.FormInputType-Select {
	&:focus {
		border-color:var(--colorMain);
	}

	option {
		background-color:var(--colorBright);
		color:var(--colorText);

		&:checked,
		&:hover {
			background-color:var(--colorMain);
			color:var(--colorBright);
		}
	}
}

.FormInputType-Textarea {
	padding-block:1rem;
	line-height:1.4;
}

.FormElement-Error {
	color:var(--colorContrast);
}

//noinspection CssInvalidHtmlTagReference
altcha-widget {
	display:block;
	margin-top:calc(var(--lineHeightMain) * .5);

	+ .FormInputType-Button {
		margin-top:var(--lineHeightMain);
	}
}