#Content53 {
	blockquote {
		margin-right:-100px;
		margin-left:50px;
		padding:50px;
		border-radius:5px;
		background-color:var(--colorMain);
	}
}

#Content85 {
	&.BackgroundColor {
		padding:calc(var(--elementPadding) * .5);
	}

	table {
		width:100%;
	}

	th,
	td {
		padding:.5em calc(var(--elementPadding) * .5);

		&:nth-child(2) {
			background-color:rgba(255 255 255 / .1);
		}
	}

	td {
		border-top:1px solid rgba(255 255 255 / .25);
	}
}

.Widget-Breadcrumbs {
	position:absolute;
	top:calc(var(--lineHeightMain) * 1 + var(--headerHeight) + 25px);
	right:0;
	left:0;
	z-index:10;
}