.MenuEntriesController {
	&.OverviewAction {
		.Overview-List {
			&.Pages-List {
				padding:0;
				border-radius:5px;
				grid-column-end:1;
				align-self:start;
				position:sticky;
				top:100px;
			}

			&:nth-child(2 of .Overview-List) {
				grid-column-start:2;
			}
		}

		#Pages-List {
			display:block;
			max-height:calc(100dvh - 300px);
			margin:0;
			padding:0 10px 0 0;
			border:20px solid transparent;
			border-right-width:10px;
			overflow-y:auto;
			scrollbar-color:var(--scrollbarColor);
			scrollbar-width:thin;

			.🌚 & {
				--scrollbarColor:var(--backgroundColorContent) var(--colorSemiDark);
			}

			.NestedList {
				&.Level1 {
					margin:0;
				}
			}

			.Page-ListItem {
				margin-inline:0;
				padding-inline:0;


				&-Inner {
					display:block;
					padding-block:12px 13px;
					cursor:move;

					&:not(:hover) {
						.NestedListToggle {
							opacity:.5;
						}
					}

					&:has(.NestedListToggle) {
						padding-left:50px;
						border-top-left-radius:5px;
					}

					.NestedListToggle {
						width:24px;
						height:24px;
						margin:auto;
						border-radius:5px;
						aspect-ratio:1;
						top:0;
						bottom:0;
						left:9px;

						&::before {
							font-size:18px;
							line-height:24px;
						}
					}

					.Title {
						width:100%;
						margin-block:0;
						font-weight:400;
						font-size:.9rem;
						flex-basis:100%;
					}
				}
			}
		}
	}
}