.ContentTemplates.Form {
	.Fieldset-ContentElements {
		padding:0;
		box-shadow:none;
		background-color:transparent;
		gap:var(--rowGap) var(--lineHeightMain);
		grid-template-columns:1fr 2fr;

		@media screen and (width <= 1080px) {
			grid-template-columns:1fr;
		}

		@media screen and (width <= 768px) {
			padding:0;
		}

		@media screen and (width <= 640px) {
			row-gap:calc(var(--lineHeightMain) * 1.5);
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				padding:0;
			}
		}

		.Fieldset-ContentElements-Available {
			@media screen and (width <= 1080px) {
				position:relative;
				top:auto;
			}

			.List {
				@media screen and (width <= 1080px) {
					max-height:none;
				}
			}
		}

		.ContentElements-List {
			.Button-AddRemove {
				@media screen and (width <= 1080px) {
					display:inline-block;
				}
			}
		}
	}

	.Fieldset-ContentElements-Assigned {
		padding-inline:20px;
		//box-shadow:none;
		//background-color:transparent;
		row-gap:var(--rowGap);
		grid-template-columns:1fr;

		@media screen and (width <= 768px) {
			padding-top:40px;
		}

		@media screen and (width <= 640px) {
			row-gap:var(--lineHeightMain);
		}

		@media screen and (width <= 540px) {
			padding-inline:10px;
		}

		> legend {
			pointer-events:none;
		}
	}

	:is(
		.Fieldset-ContentElements-Available,
		.Fieldset-Fieldset
	) {
		display:block;
		padding-inline:0;
		padding-bottom:0;

		@media screen and (width <= 768px) {
			padding-top:40px;
		}

		@media screen and (width <= 540px) {
			padding-top:30px;
		}

		> ul {
			padding-bottom:20px;

			@media screen and (width <= 540px) {
				padding-bottom:10px;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					padding-bottom:10px;
				}
			}
		}
	}

	.Fieldset-ContentElements-Available {
		@extend %AvailableTemplateElementsList;
	}

	.ContentElement {
		@extend %AvailableTemplateElementsListItem;
	}

	.Fieldset-Fieldset {
		@extend %AvailableTemplateElementsFieldset;

		legend {
			top:-10px;
		}
	}

	.PageTemplates-List {
		grid-column:1 / -1;

		&.Level1 {
			margin-left:0;

			> .ListItem {
				border-left-width:0;
			}
		}

		.PageTemplates-List {
			display:grid;
			padding:5px 0 5px 5px;
			border-radius:5px;
			border-left:2px solid var(--colorMedium);
			align-content:center;

			@media screen and (width <= 640px) {
				border-top-left-radius:0;
			}

			html.🌚 & {
				border-left-color:oklch(from var(--colorBackgroundContentDarkMode) calc(l - 0.0473) calc(c - 0.005) calc(h + 1.12));
			}

			&.Level2 {
				padding-block:0;
			}
		}

		:is(
			.ListItem-PageRole,
			.ListItem-PageTemplate
		) {
			display:grid;
			margin:20px 0 0 0;
			padding:0;
			border-left-width:0;
			border-bottom-width:0;
			grid-template-columns:9rem auto;

			@media screen and (width <= 640px) {
				grid-template-columns:1fr;
			}

			&:first-child {
				margin-top:0;
			}

			.Title {
				@extend %CategoryListTitle;

				@media screen and (width <= 640px) {
					margin-block:0;
					border-radius:5px 5px 0 0;
					z-index:1;
				}
			}

			.PageTemplates-List {
				grid-column:auto / -1;
			}
		}

		.ListItem-PageRole {
			margin-inline:-20px;

			@media screen and (width <= 1280px) {
				margin-inline:0;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					margin-inline:0;
				}
			}
		}

		.ListItem-PageTemplate {
			&:first-child {
				@media screen and (width <= 640px) {
					margin-top:10px;
				}
			}
		}

		.ListItem-ContentArea {
			margin:5px 0 0 0;
			padding:0;
			background-color:var(--colorLight);
			border-radius:5px;
			position:relative;
			list-style-type:none;
			transition:background-color .3s ease-in-out;

			@media screen and (width <= 768px) {
				padding-block:.75rem;
			}

			html.🌚 & {
				background-color:oklch(from var(--colorBackgroundContentDarkMode) calc(l + 0.0448) calc(c + 0.005) calc(h - 0.4));
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					padding-block:.75rem;
				}
			}

			&:first-child {
				margin-top:0;
			}

			&:hover {
				background-color:oklch(from var(--colorLight) calc(l - 0.0588) calc(c + 0.009) calc(h + 1.05));

				html.🌚 & {
					background-color:var(--colorSemiDarkDarkMode);
				}
			}

			.FormInput {
				margin-bottom:0;
				min-height:0;

				.Label {
					padding:1rem 20px 1rem 60px;

					@media screen and (width <= 768px) {
						padding-block:.5rem;
					}

					html.Scale-Small & {
						@media screen and (width > 768px) {
							padding-block:.5rem;
						}
					}

					&::before {
						top:1rem;
						left:20px;

						@media screen and (width <= 768px) {
							top:.5rem;
						}

						html.Scale-Small & {
							@media screen and (width > 768px) {
								top:.5rem;
							}
						}
					}
				}
			}
		}
	}
}