.ContentTemplatesController {
	.Fieldset-ContentElements {
		padding:0;
		box-shadow:none;
		background-color:transparent;
		grid-template-columns:repeat(3, 1fr);
	}

	.Fieldset-ContentElements-Available,
	.Fieldset-Fieldset {
		display:block;
		padding-inline:20px;

		html.Scale-Small & {
			padding-bottom:20px;
		}
	}

	.Fieldset-ContentElements-Available {
		@extend %AvailableTemplateElementsList;
	}

	.ContentElement {
		@extend %AvailableTemplateElementsListItem;
	}

	.Fieldset-Fieldset {
		@extend %AvailableTemplateElementsFieldset;
	}

	.PageTemplates-List {
		grid-column:1 / -1;

		&.Level1 {
			margin-left:0;

			> .ListItem {
				border-left-width:0;
			}
		}

		.PageTemplates-List {
			display:grid;
			padding:5px;
			border-radius:5px;
			border-left:2px solid var(--colorMedium);
			align-content:center;

			html.🌚 & {
				border-left-color:oklch(from var(--colorBackgroundContentDarkMode) calc(l - 0.0473) calc(c - 0.005) calc(h + 1.12));
			}

			&.Level2 {
				padding-block:0;
			}
		}

		.ListItem-PageRole,
		.ListItem-PageTemplate {
			display:grid;
			margin:10px 0 0 0;
			padding:0;
			border-left-width:0;
			border-bottom-width:0;
			grid-template-columns:9rem auto;

			&:first-child {
				margin-top:0;
			}

			.Title {
				@extend %CategoryListTitle;
			}

			.PageTemplates-List {
				grid-column:auto / -1;
			}
		}

		.ListItem-PageRole {
			margin-inline:-20px;
			margin-bottom:20px;

			html.Scale-Small & {
				margin-inline:0;
			}
		}

		.ListItem-ContentArea {
			margin:5px 0 0 0;
			padding:0;
			background-color:var(--colorLight);
			border-radius:5px;
			position:relative;
			list-style-type:none;
			transition:background-color .3s ease-in-out;

			html.Scale-Small & {
				padding-block:.75rem;
			}

			html.🌚 & {
				background-color:oklch(from var(--colorBackgroundContentDarkMode) calc(l + 0.0448) calc(c + 0.005) calc(h - 0.4));
			}

			&:first-child {
				margin-top:0;
			}

			&:hover {
				background-color:oklch(from var(--colorLight) calc(l - 0.0588) calc(c + 0.009) calc(h + 1.05));

				html.🌚 & {
					background-color:var(--colorSemiDarkDarkMode);
				}
			}

			.FormInput {
				margin-bottom:0;
				min-height:0;

				.Label {
					padding:1rem 20px 1rem 60px;

					html.Scale-Small & {
						padding-block:.5rem;
					}

					&::before {
						top:.9rem;
						left:20px;

						html.Scale-Small & {
							top:.2rem;
						}
					}
				}
			}
		}
	}
}