.UsersController {
	.Form {
		.Fieldset-Usergroups {
			padding:20px;

			.Overview-Table {
				margin:0;
			}

			tr {
				position:relative;
			}

			.TableHeader-UsergroupCheckbox {
				width:60px;
			}

			.TableCell-UsergroupCheckbox {
				position:static;

				&:has(input:checked) {
					background-color:var(--colorSuccess);

					&::before {
						display:none;
					}

					~ td {
						background-color:var(--colorSuccess-Alpha-10);

						&::before {
							background-color:var(--colorSuccess-Darkened-8-Alpha-25);
						}
					}
				}
			}

			.FormInput {
				margin-bottom:0;
				position:static;

				.Label {
					position:absolute;
					inset:0;
					z-index:2;

					&::before {
						top:17px;
						left:19px;

						.Scale-Small& {
							top:10px;
						}
					}
				}
			}
		}
	}
}