.PageTemplates.Form {
	.Fieldset-ContentAreaAssignments {
		padding:0;
		box-shadow:none;
		background-color:transparent;
		gap:var(--rowGap) var(--lineHeightMain);
		grid-template-columns:2fr 3fr;

		@media screen and (width <= 1080px) {
			grid-template-columns:1fr;
		}

		@media screen and (width <= 768px) {
			padding:0;
		}

		@media screen and (width <= 640px) {
			row-gap:calc(var(--lineHeightMain) * 1.5);
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				padding:0;
			}
		}

		.Fieldset-ContentAreasAvailable {
			@media screen and (width <= 1080px) {
				position:relative;
				top:auto;
			}

			.List {
				@media screen and (width <= 1080px) {
					max-height:none;
				}
			}
		}
	}

	:is(
		.Fieldset-ContentAreasAvailable,
		.Fieldset-ContentAreasAssigned
	) {
		padding-inline:0;
		padding-bottom:0;
		position:sticky;
		top:160px;
		grid-template-columns:auto;

		@media screen and (width <= 640px) {
			position:relative;
			top:0;
		}

		html.👀 & {
			top:60px;

			@media screen and (width <= 640px) {
				top:0;
			}
		}

		> ul {
			padding-bottom:20px;

			@media screen and (width <= 540px) {
				padding-bottom:10px;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					padding-bottom:10px;
				}
			}
		}
	}

	.Fieldset-ContentAreasAvailable {
		.ContentTemplates {
			display:none;
		}
	}

	.ContentAreas-List {
		&:not(:has(.ContentAreas-ListItem)) {
			height:72px;
			position:relative;

			&::after {
				@extend %EmptyList;
			}
		}
	}

	.ContentAreas-ListItem {
		display:grid;
		min-height:50px;
		margin:5px 20px 0;
		border-radius:5px;
		background-color:var(--colorNeutralLight);
		list-style-type:none;
		transition:background-color .3s ease-in-out;
		align-items:center;

		@media screen and (width <= 540px) {
			margin-inline:10px;
			line-height:1.2;
		}

		html.🌚 & {
			background-color:var(--colorSemiDark);
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				margin-inline:10px;
			}
		}

		&.Inactive {
			--gradientColor:oklch(from var(--colorLight) calc(l - 0.1514) calc(c + 0.021) calc(h + 0.85) / .2);
			background-image:repeating-linear-gradient(-45deg, transparent, transparent 10px, var(--gradientColor) 10px, var(--gradientColor) 20px);

			html.🌚 & {
				background-image:repeating-linear-gradient(-45deg, rgba(255, 255, 255, .01), rgba(255, 255, 255, .01) 10px, rgba(255, 255, 255, .04) 10px, rgba(255, 255, 255, .04) 20px);
			}
		}

		&.SortableGhost {
			background-color:var(--colorSuccess);
			outline:2px solid var(--colorSuccess);
			outline-offset:-2px;

			html.🌚 & {
				&:is(
				*,
				[data-assignable="false"],
				:hover
			) {
					background-color:var(--colorSuccess);
				}
			}

			&:hover {
				background-color:var(--colorSuccess);
			}
		}

		&:hover {
			background-color:var(--colorLight);

			html.🌚 & {
				background-color:oklch(from var(--colorSemiDarkDarkMode) calc(l + 0.0389) calc(c + 0.004) calc(h - 0.55));
			}
		}

		&:first-child {
			margin-top:0;
		}

		.Title {
			display:block;
			padding:10px 20px;
			line-height:1;

			@media screen and (width <= 540px) {
				padding:10px;
			}
		}

		> .Title {
			cursor:move;
		}

		> .FormInputType-Checkbox {
			display:none;
		}
	}

	.ContentTemplates {
		margin-top:10px;

		.Title {
			padding-block:0;
			font-size:.8rem;
		}
	}

	.ContentTemplates-List {
		display:grid;
		margin-top:5px;
		padding:0 20px 10px;
		gap:5px;
		grid-template-columns:repeat(auto-fill, minmax(180px, 1fr));

		@media screen and (width <= 540px) {
			padding-inline:10px;
		}
	}

	.ContentTemplates-ListItem {

	}

	#NewContentArea {
		display:grid;
		gap:5px;
		grid-template-columns:repeat(2, 1fr);

		> .FormInput {
			grid-column:auto / span 1;
		}

		> .Button {
			--backgroundColor:var(--colorMedium);

			width:100%;
			padding-block:5px;
			font-size:0;
			line-height:0;
			grid-column:1 / -1;

			@media screen and (width <= 768px) {
				width:100%;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					width:100%;
				}
			}

			&::after {
				width:24px;
				height:24px;
				margin-left:0;
				font-size:18px;
				line-height:20px;
				text-indent:1px;
			}
		}
	}
}