.Designs.Overview {
	> form {
		grid-column:1 / -1;

		@media screen and (width > 1280px) {
			display:grid;
			gap:0 var(--lineHeightMain);
			grid-template-columns:1fr 2fr;
		}

		@media screen and (width > 1920px) {
			grid-template-columns:1fr 1fr;
		}
	}

	.ButtonArea {
		&.ButtonArea-Bottom {
			margin-top:0;
		}
	}

	.Title {
		grid-column:1 / -1;
	}

	:is(
		.Fieldsets,
		#Preview
	) {
		container:container / inline-size;

		@media screen and (width > 1280px) {
			position:sticky;
			top:120px;
		}

		html.👀 & {
			@media screen and (width > 1280px) {
				top:40px;
			}
		}
	}

	#Preview {
		width:100%;
		height:80dvh;
		box-shadow:0 0 10px rgba(0, 0, 0, 0.05);
		border:0 none;
		border-radius:5px;
		background-color:var(--colorBright);
		align-self:start;

		@media screen and (width > 1280px) {
			height:calc(100dvh - 150px);
		}

		html.👀 & {
			@media screen and (width > 1280px) {
				height:calc(100dvh - 70px);
			}
		}
	}

	.Fieldsets {
		display:grid;
		margin-bottom:var(--rowGap);
		gap:var(--rowGap) var(--lineHeightMain);
		grid-template-columns:1fr;
		align-self:start;

		@media screen and (width > 1280px) {
			margin-bottom:0;
		}
	}

	.Overview-Fieldset {
		@container container (width <= 1200px) {
			grid-template-columns:repeat(8, 1fr);
		}
		
		@container container (width <= 860px) {
			grid-template-columns:repeat(4, 1fr);
		}

		@container container (width <= 640px) {
			grid-template-columns:1fr;
		}

		&.Fieldset-Fonts {
			> .FormInput {
				grid-column:1 / -1;
			}
		}

		&:last-child {
			@media screen and (width > 1280px) {
				margin-bottom:0;
			}
		}
	}

	.FormInputType-Font {
		margin-bottom:20px;
		padding-bottom:40px;
		border-bottom:1px solid rgba(0, 0, 0, .1);

		@container container (width <= 900px) {
			grid-template-columns:1fr;
		}

		&:last-child {
			margin-bottom:0;
			padding-bottom:0;
			border-bottom:none;
		}
	}

	.FormInputType-Color {
		grid-column:auto / span 2;

		@container container (width <= 480px) {
			grid-column:auto / auto;
		}
	}

	:is(
		.FormInputType-Number,
		.FormInputType-Range
	) {
		grid-column:auto / span 4;

		@container container (width <= 480px) {
			grid-column:auto / -1;
		}

		:is(
			.ForcedUnit,
			.FormInputType-Select
		) {
			position:absolute;
			bottom:0;
			right:0;
		}

		.ForcedUnit {
			width:40px;
			line-height:32px;
			text-align:right;
		}

		.FormInputType-Select {
			width:70px;
			margin-bottom:0;

			.Label {
				display:none;
			}

			select {
				height:32px;
				padding-block:0;
				line-height:30px;
			}
		}
	}

	.FormInputType-Range {
		padding-bottom:var(--lineHeightMain);

		&:has(.ForcedUnit) {
			input {
				&[type="text"] {
					right:40px;
				}
			}
		}

		input {
			&[type="range"] {
				margin-bottom:calc(var(--lineHeightMain)  * .25);
				padding:0;
			}

			&[type="text"] {
				width:auto;
				padding-block:0;
				line-height:30px;
				text-align:center;
				position:absolute;
				right:80px;
				bottom:0;
				left:0;
			}
		}
	}

	.FormInputType-AdditionalVariables {
		container-type:inline-size;

		@container container (width <= 1200px) {
			grid-template-columns:repeat(8, 1fr);
		}

		@container container (width <= 860px) {
			grid-template-columns:repeat(4, 1fr);
		}

		@container container (width <= 480px) {
			grid-template-columns:repeat(auto-fit, minmax(150px, 1fr));
		}

		> .FormInput {
			grid-column:auto / span 6;

			@container container (width <= 1200px) {
				grid-column:auto / span 4;
			}

			@container container (width <= 860px) {
				grid-column:auto / span 2;
			}

			@container container (width <= 480px) {
				grid-column:auto / auto;
			}

			&[class*="FormInputName-FontStack"] {
				grid-column:1 / -1
			}
		}
	}

	#SaveDialog {
		.FormInput {
			flex:0 0 100%;
		}
	}

	.Overview-Table {
		margin-top:var(--rowGap);
	}

	.TableHeader-InUse {
		width:150px;
	}
}