.UsergroupsController {
	.Form {
		.Fieldset-Users {
			padding:0;

			.Overview-Table {
				margin:0;
			}

			tr {
				position:relative;
			}

			th {
				padding-top:20px;
			}

			.TableHeader-UserCheckbox {
				width:60px;
				padding:0;
			}

			.TableCell-UserCheckbox {
				padding:0;
				position:static;

				&:has(input:checked) {
					background-color:var(--colorSuccess);

					&::before {
						display:none;
					}

					~ td {
						background-color:color-mix(in srgb, var(--colorSuccess), transparent 90%);

						&::before {
							background-color:oklch(from var(--colorSuccess) calc(l - .0368) calc(c + .018) calc(h - 2.03) / .25);
						}
					}
				}
			}

			.FormInput {
				margin-bottom:0;
				position:static;

				.Label {
					position:absolute;
					inset:0;
					z-index:2;

					&::before {
						top:18px;
						left:18px;

						@at-root #{selector-append('.Scale-Small', &)} {
							top:10px;
						}
					}
				}
			}
		}
	}

	.Fieldset-Permissions {
		padding-inline:20px;
		row-gap:2rem;

		&:not(.Collapsed) {
			padding-bottom:40px;
		}
	}

	.Fieldset-Permission {
		margin:0;
		padding:0;
		box-shadow:none;
		gap:0;
		grid-column:auto / span 6;
		grid-template-columns:9rem auto;

		&:first-child {
			margin-top:0;
		}

		.Title {
			display:block;
			margin-block:8px;
			padding:10px 20px;
			border-radius:5px 0 0 5px;
			background-color:var(--colorMedium);
			color:var(--colorBright);
			font-size:1rem;
			//noinspection CssNoGenericFontName
			font-family:var(--fontStackHeading);
			line-height:1.2;
			position:sticky;
			top:100px;
			align-self:start;
			overflow:hidden;
			cursor:pointer;

			@at-root #{selector-append('.🌚', &)} {
				background-color:oklch(from var(--colorBackgroundContentDarkMode) calc(l - 0.0473) calc(c - 0.005) calc(h + 1.12));
			}

			@at-root #{selector-append('.👀', &)} {
				top:20px;
			}

			&::after {
				content:'';
				width:10px;
				height:100%;
				border-radius:50%;
				box-shadow:0 0 10px rgba(0, 0, 0, .25);
				position:absolute;
				top:0;
				right:-10px;
			}
		}

		.Permissions {
			padding:5px 10px;
			border-radius:5px;
			border-left:2px solid var(--colorMedium);

			@at-root #{selector-append('.🌚', &)} {
				border-left-color:oklch(from var(--colorBackgroundContentDarkMode) calc(l - 0.0473) calc(c - 0.005) calc(h + 1.12));
			}
		}

		.Permission {
			display:flex;
			padding:10px 15px;
			border-radius:5px;

			@at-root #{selector-append('.Scale-Small', &)} {
				padding-block:8px;
			}

			&:nth-child(2n) {
				background-color:var(--colorLight);

				@at-root #{selector-append('.🌚', &)} {
					background-color:var(--colorSemiDark);
				}
			}
		}

		.Label {
			display:inline-block;
			margin-right:20px;
		}

		.SimpleRadio {
			margin-left:auto;
			font-size:0;
			line-height:0;
			position:relative;

			input {
				position:absolute;
				opacity:0;

				&:nth-child(1) {
					&:checked {
						~ .Labels {
							&::after {
								background-color:var(--colorSuccess);
								transform:translate(33px, 0);

								@at-root #{selector-append('.Scale-Small', &)} {
									transform:translate(26px, 0);
								}
							}
						}
					}
				}

				&:nth-child(3) {
					&:checked {
						~ .Labels {
							&::after {
								background-color:var(--colorError);
								transform:translate(-33px, 0);

								@at-root #{selector-append('.Scale-Small', &)} {
									transform:translate(-26px, 0);
								}
							}
						}
					}
				}

				&:focus-visible {
					~ .Labels {
						&::after {
							box-shadow:0 0 10px var(--colorInfo);
							outline:2px solid var(--colorInfo);
							outline-offset:2px;
						}
					}
				}
			}

			.Labels {
				display:inline-block;
				width:120px;
				height:16px;
				margin-top:7px;
				border-radius:5px;
				background-color:var(--colorBright);
				outline:1px solid oklch(from var(--colorLight) calc(l - 0.0588) calc(c + 0.009) calc(h + 1.05));
				font-size:0;
				line-height:0;
				position:relative;
				vertical-align:top;

				@at-root #{selector-append('.Scale-Small', &)} {
					width:87px;
					margin-top:4px;
				}

				@at-root #{selector-append('.🌚', &)} {
					outline-color:oklch(from var(--colorBackgroundContentDarkMode) calc(l - 0.0216) calc(c - 0.002) calc(h - 1.95));
					background-color:oklch(from var(--colorBackgroundContentDarkMode) calc(l - 0.0473) calc(c - 0.005) calc(h + 1.12));
				}

				&.Animate {
					&::after {
						animation:blop .5s infinite ease-in-out;
					}
				}

				&::after {
					content:'';
					width:26px;
					height:26px;
					margin:auto;
					outline:1px solid var(--colorBright);
					border-radius:5px;
					background-color:var(--colorMedium);
					position:absolute;
					top:0;
					right:0;
					bottom:0;
					left:0;
					transition:background-color .3s ease-in-out .1s, transform .3s ease-in-out .1s;
					transform:translate(0, 0);

					@at-root #{selector-append('.Scale-Small', &)} {
						width:20px;
						height:20px;
					}

					@keyframes blop {
						50% {
							border-radius:50%;
							scale:1.5 .5;
						}
					}

					@at-root #{selector-append('.🌚', &)} {
						outline-color:oklch(from var(--colorBackgroundContentDarkMode) calc(l + 0.0847) calc(c + 0.009) calc(h + 1.53));
						background-color:oklch(from var(--colorBackgroundContentDarkMode) calc(l + 0.0448) calc(c + 0.005) calc(h - 0.4));
					}
				}

				label {
					display:inline-block;
					width:40px;
					aspect-ratio:1;
					font-size:0;
					line-height:0;
					position:relative;
					z-index:1;
					transform:translateY(-12px);

					@at-root #{selector-append('.Scale-Small', &)} {
						width:29px;
						transform:translateY(-7px);
					}
				}
			}
		}
	}
}
