.PagesController,
.IsGenericPage {
	.FormInputName-CopyDescendantsWithDifferentPageRole {
		margin-block:calc(var(--lineHeightMain) * -2) calc(var(--lineHeightMain) * 2);
		grid-column:auto / span 2;

		> .Label {
			&[for] {
				display:inline-block;
				width:48%;
			}
		}
	}

	.Fieldset-Presentation {
		grid-column-start:1;
	}
}