.Pages.Form {
	.FormInputName-CopyDescendantsWithDifferentPageRole {
		grid-column:auto / span 2;

		.Label {
			&:first-child {
				@media screen and (width <= 768px) {
					line-height:1.5;
				}

				html.Scale-Small & {
					@media screen and (width > 768px) {
						line-height:1.5;
					}
				}
			}
		}
	}

	.Fieldset-Seo {
		@media screen and (480px < width <= 640px) {
			grid-template-columns:repeat(3, 1fr);
		}
	}

	:is(
		.FormInputName-RobotsIndex,
		.FormInputName-RobotsFollow
	) {
		@media screen and (width <= 900px) {
			grid-column:1 / -1;
		}
	}
}