button,
.Button {
	--backgroundColor:var(--colorDark);
	--colorButtonText:var(--colorBright);

	display:inline-block;
	width:auto;
	padding:11px 20px;
	border:0 none;
	box-shadow:0 0 10px rgba(0, 0, 0, .25);
	background-color:var(--backgroundColor);
	color:var(--colorButtonText);
	//noinspection CssNoGenericFontName
	font-family:var(--fontStackHeading);
	font-size:1.1rem;
	font-weight:400;
	line-height:30px;
	text-align:center;
	text-decoration:none;
	transform:translateZ(0); // Prevents incorrect position of the text when the viewport height is uneven
	overflow:hidden;
	position:relative;
	z-index:1;
	vertical-align:top;
	cursor:pointer;
	transition:background-color .3s linear, outline-color .1s ease-in-out;

	@media screen and (width <= 768px) {
		padding-block:6px;
	}

	html.🌚 & {
		--backgroundColor:oklch(from var(--colorSemiDarkDarkMode) calc(l + 0.0389) calc(c + 0.004) calc(h - 0.55));
		background-image:none;
	}

	html.Scale-Small & {
		@media screen and (width > 768px) {
			padding-block:6px;
		}
	}

	html.👀 & {
		&:hover {
			transition-delay:0s;
		}
	}

	&[disabled],
	&.Disabled {
		pointer-events:none;
		opacity:.1;
	}

	&:hover {
		--backgroundColor:var(--colorSuccess);
		transition-delay:.3s, 0s;

		&::before {
			opacity:inherit;
			transition-delay:.1s, 0s;
		}
	}

	&:focus-visible {
		box-shadow:0 0 10px var(--colorInfo);
		outline:2px solid var(--colorInfo);
		outline-offset:2px;

		&:hover {
			box-shadow:0 0 10px var(--colorSuccess);
			outline-color:transparent;
		}
	}

	&::before {
		@extend %ButtonGlow;
	}

	.Hover {
		@extend %HoverEffect;
	}
}

.Button {
	&#{&}-Delete,
	&#{&}-Error {
		background-color:var(--colorError);
	}

	&#{&}-History,
	&#{&}-Medium {
		background-color:var(--colorMedium);
	}

	&#{&}-History {
		.Hover {
			background-color:var(--colorInfo);
		}
	}

	&#{&}-Info {
		background-color:var(--colorInfo);
	}

	&#{&}-Light {
		background-color:var(--colorLight);
	}

	&#{&}-Neutral {
		background-color:var(--colorNeutralLight);
	}

	&#{&}-Success {
		background-color:var(--colorSuccess);
	}

	&#{&}-Warning {
		background-color:var(--colorWarning);
	}

	&-Small {
		padding:5px 10px 4px;
		border-radius:4px;
		font-size:.9rem;
		line-height:1.5;

		@media screen and (width <= 1024px) {
			//font-size:1rem;
			line-height:27px;
		}

		@media screen and (width <= 768px) {
			min-height:30px;
			padding:2px 5px 4px;
			font-size:1rem;
			line-height:24px;
		}

		&.Button-Edit {
			&::after {
				content:'\f044';
			}
		}

		html.Scale-Medium & {
			@media screen and (width > 1024px) {
				font-size:1rem;
			}
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				min-height:30px;
				padding:2px 5px 4px;
				font-size:1rem;
			}
		}
	}

	&#{&}-Subtle {
		--backgroundColor:var(--colorMedium);
		--colorButtonText:var(--colorLight);

		padding-block:4px 5px;
		font-size:.8rem;

		@media screen and (width <= 768px) {
			padding:4px 10px 0;
			font-size:.9rem;
		}

		html.🌚 & {
			--colorButtonText:var(--colorBright);
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				padding:4px 10px 0;
				font-size:.9rem;
			}
		}

		&::after {
			translate:0 1px;
		}
	}

	#TranslationDialog-Apply &,
	&-Add,
	&-Close,
	&-Configure,
	&-Delete,
	&-Edit,
	&-Folder,
	&-Filter,
	&-History,
	&-Leave,
	&-Menu,
	&-Preview,
	&-Reload,
	&-Save,
	&-SaveClose,
	&-SaveSystemOrder,
	&-View,
	&-ViewContents,
	&-ViewElements,
	&-ViewEntries,
	&-ViewMenuEntries {
		&.Button-Small {
			&::after {
				width:auto;
				height:auto;
				font-size:20px;
				border:0 none;
				line-height:.9;
				vertical-align:-2px;
				position:relative;
				top:-1px;

				@media screen and (width <= 768px) {
					margin-block:0;
					top:0;
					vertical-align:-1px;
				}

				html.Scale-Small & {
					@media screen and (width > 768px) {
						margin-block:0;
						top:0;
						vertical-align:-1px;
					}
				}
			}
		}

		&::after {
			@extend %LineAwesomeIcon;
			content:'\f067';
			display:inline-block;
			width:28px;
			height:28px;
			aspect-ratio:1;
			margin-left:10px;
			border-radius:50%;
			border:2px solid;
			font-size:22px;
			line-height:24px;
			vertical-align:0;

			transform:translateY(0);

			@media screen and (width <= 768px) {
				margin-block:-1px !important;
				transform:translateY(1px);
				vertical-align:-1px;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					margin-block:-1px !important;
					transform:translateY(1px);
					vertical-align:-1px;
				}
			}
		}
	}

	&-Close {
		&::after {
			content:'\f00d';
			vertical-align:-1px;
		}
	}

	&-Configure {
		&::after {
			content:'\f013';
		}
	}

	&-Delete {
		&::after {
			content:'\f2ed';
			text-indent:-1px;

			@media screen and (width <= 768px) {
				text-indent:-1px;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					text-indent:-1px;
				}
			}
		}
	}

	&-Edit {
		&::after {
			content:'\f304';
		}
	}

	&-Folder {
		&::after {
			content:'\f07c';
		}
	}

	&-Filter {
		&::after {
			content:'\f0b0';
		}
	}

	&-History {
		&::after {
			content:'\f1da';
		}
	}

	&-Leave {
		&::after {
			content:'\f2f5';
			border:0 none;
			font-size:30px;
			vertical-align:-1px;
			rotate:180deg;
			transform:translateY(2px);

			@media screen and (width <= 768px) {
				vertical-align:-2px;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					vertical-align:-2px;
				}
			}
		}
	}

	&-Menu {
		&::after {
			content:'\f142';
		}
	}

	&-Preview {
		&::after {
			content:'\f06e';
		}
	}

	&-Reload {
		&::after {
			content:'\f021';
		}
	}

	#TranslationDialog-Apply &,
	&-Save,
	&-SaveClose,
	&-SaveSystemOrder {
		&::after {
			content:'\f00c';
			font-size:18px;
			transform:translateY(-1px);

			@media screen and (width <= 768px) {
				transform:translateY(0);
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					transform:translateY(0);
				}
			}
		}
	}

	&-SaveClose {
		&::after {
			content:'\f0e2';
			margin-bottom:-1px;
			line-height:22px;
			transform:translateY(-2px) rotateX(180deg);

			@media screen and (width <= 768px) {
				transform:translateY(-1px) rotateX(180deg);
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					transform:translateY(-1px) rotateX(180deg);
				}
			}
		}
	}

	&-Delete,
	&-SaveSystemOrder {
		transition:outline-color 0.1s ease-in-out;
	}

	&-Toggle {
		padding-left:50px;

		&::after {
			content:'';
			width:20px;
			aspect-ratio:1;
			margin:auto;
			border:2px solid;
			border-radius:5px;
			position:absolute;
			top:0;
			bottom:0;
			left:20px;
		}

		&:has(input:checked),
		&-Active {
			background-color:var(--colorSuccess);

			&::after {
				@extend %LineAwesomeIcon;

				content:'\f00d';
				font-size:16px;
				line-height:16px;
			}
		}

		input {
			display:none;
		}
	}

	&-View {
		&::after {
			content:'\f06e';
		}
	}

	&-ViewContents,
	&-ViewElements,
	&-ViewMenuEntries {
		&::after {
			content:'\f550';
		}
	}

	&-ViewEntries {
		&::after {
			content:'\f15c';
		}
	}
}