.ButtonArea {
	@extend %ButtonsListview;

	width:fit-content;
	margin:-52px -20px var(--lineHeightMain) auto;
	font-size:0;
	line-height:0;
	text-align:right;
	grid-column:1 / span 4;

	&.CannotMoveUpwards {
		margin-top:var(--lineHeightMain);

		&:has(.Button-ListView),
		&:has(.Button-Filter),
		&:has(.Button-ColumnView-Enable) {
			+ .Overview-List,
			+ .Overview-Table {
				margin-top:0;
			}
		}

		.Button-Filter,
		.Button-ListView {
			bottom:calc(var(--lineHeightMain) * -1);
		}

		+ .Overview-List,
		+ .Overview-Table {
			margin-top:calc(var(--lineHeightMain) * -1);
		}
	}

	&.ButtonArea-Bottom {
		margin-top:0;
		margin-bottom:calc(var(--lineHeightMain) * -1);

		.Button-Filter,
		.Button-ResetFilter,
		.Button-ListView {
			border-radius:0 0 5px 5px;
			top:calc(var(--lineHeightMain) * -2);
			bottom:auto;

			.Scale-Small & {
				margin-top:0;
			}
		}

		.Button-ResetFilter {
			border-bottom-left-radius:0;
		}
	}

	&:has(+ .Overview-Fieldset) {
		.Button-Filter,
		.Button-ResetFilter,
		.Button-ListView {
			bottom:calc(var(--lineHeightMain) * -1);
		}
	}

	&:has(.Button-Filter),
	&:has(.Button-ResetFilter),
	&:has(.Button-ListView) {
		~ .Overview-Table {
			border-bottom-right-radius:0;

			th {
				&:last-child {
					border-top-right-radius:0;
				}
			}

			tbody {
				&:last-child {
					tr {
						&:last-child {
							td {
								border-bottom-right-radius:0;
							}
						}
					}
				}
			}

			tfoot {
				td {
					&:last-child {
						border-bottom-right-radius:0;
					}
				}
			}
		}

		+ .Overview-Fieldset {
			&:not(:has(> legend)) {
				//margin-top:0;
			}
		}

		~ .Overview-Fieldset {
			&:nth-child(1 of .Overview-Fieldset) {
				border-top-right-radius:0;
			}

			&:nth-last-child(1 of .Overview-Fieldset) {
				border-bottom-right-radius:0;
			}
		}

		~ .Overview-List {
			&:nth-child(1 of .Overview-List) {
				border-top-right-radius:0;
			}

			&:nth-last-child(1 of .Overview-List) {
				border-bottom-right-radius:0;
			}
		}
	}

	.Button,
	.LinkSelect {
		margin-right:20px;
		margin-bottom:var(--lineHeightMain);
	}

	.Button-Small {
		margin-top:11px;
		opacity:.25;

		&.Button-ListView-NestedList {
			opacity:.5;

			&[disabled],
			&:hover {
				opacity:1;
			}
		}

		.Scale-Small & {
			margin-top:7px;
		}

		&[disabled],
		&:hover {
			opacity:1;
		}
	}
}