
button,
.Button {
	--backgroundColor:var(--colorDark);
	--colorButtonText:var(--colorBright);

	display:inline-block;
	width:auto;
	padding:11px 20px;
	border:0 none;
	box-shadow:0 0 10px rgba(0, 0, 0, .25);
	background-color:var(--backgroundColor);
	color:var(--colorButtonText);
	//noinspection CssNoGenericFontName
	font-family:var(--fontStackHeading);
	font-size:1.1rem;
	font-weight:400;
	line-height:30px;
	text-align:center;
	text-decoration:none;
	transform:translateZ(0); // Prevents incorrect position of the text when the viewport height is uneven
	overflow:hidden;
	position:relative;
	z-index:1;
	vertical-align:top;
	cursor:pointer;
	transition:background-color .3s linear, outline-color .1s ease-in-out;

	.Scale-Small & {
		padding-block:6px 6px;
	}

	.🌚 & {
		--backgroundColor:oklch(from var(--colorSemiDarkDarkMode) calc(l + 0.0389) calc(c + 0.004) calc(h - 0.55));
		background-image:none;
	}

	.👀 & {
		&:hover {
			transition-delay:0s;
		}
	}

	&[disabled],
	&.Disabled {
		pointer-events:none;
		opacity:.1;
	}

	&:hover {
		--backgroundColor:var(--colorSuccess);
		transition-delay:.3s, 0s;

		&::before {
			opacity:inherit;
			transition-delay:.1s, 0s;
		}
	}

	&:focus-visible {
		box-shadow:0 0 10px var(--colorInfo);
		outline:2px solid var(--colorInfo);
		outline-offset:2px;

		&:hover {
			box-shadow:0 0 10px var(--colorSuccess);
			outline-color:transparent;
		}
	}

	&::before {
		@extend %ButtonGlow;
	}

	.Hover {
		@extend %HoverEffect;
	}
}

.Button {
	&#{&}-Delete,
	&#{&}-Error {
		background-color:var(--colorError);
	}

		&#{&}-History,
	&#{&}-Medium {
		background-color:var(--colorMedium);
	}

	&#{&}-History {
		.Hover {
			background-color:var(--colorInfo);
		}
	}

	&#{&}-Info {
		background-color:var(--colorInfo);
	}

	&#{&}-Light {
		background-color:var(--colorLight);
	}

	&#{&}-Neutral {
		background-color:var(--colorNeutralLight);
	}

	&#{&}-Success {
		background-color:var(--colorSuccess);
	}

	&#{&}-Warning {
		background-color:var(--colorWarning);
	}

	&-Small {
		padding:5px 10px 4px;
		border-radius:4px;
		font-size:.9rem;
		line-height:1.5;

		&.Button-Edit {
			&::after {
				content:'\f044';
			}
		}

		.Scale-Small & {
			min-height:30px;
			padding:2px 5px 4px;
			font-size:1rem;
		}
	}

	&#{&}-Subtle {
		--backgroundColor:var(--colorMedium);
		--colorButtonText:var(--colorLight);

		padding-block:4px 5px;
		font-size:.8rem;

		.Scale-Small & {
			padding-block:4px 0;
			font-size:1rem;
		}

		.🌚 & {
			--colorButtonText:var(--colorBright);
		}

		.Scale-Small & {
			font-size:.9rem;
			padding-inline:10px;
		}

		&::after {
			translate:0 1px;
		}
	}

	#TranslationDialog-Apply &,
	&-Add,
	&-Close,
	&-Configure,
	&-Delete,
	&-Edit,
	&-History,
	&-Leave,
	&-Preview,
	&-Save,
	&-SaveClose,
	&-SaveSystemOrder,
	&-View {
		&.Button-Small {
			&::after {
				width:auto;
				height:auto;
				font-size:20px;
				border:0 none;
				line-height:.9;
				vertical-align:-2px;
				position:relative;
				top:-1px;

				.Scale-Small & {
					margin-block:0;
					top:0;
					vertical-align:-1px;
				}
			}
		}

		&::after {
			@include la('\f067', 22px);
			display:inline-block;
			width:28px;
			height:28px;
			aspect-ratio:1;
			margin-left:10px;
			border-radius:50%;
			border:2px solid;
			line-height:24px;
			vertical-align:0;

			transform:translateY(0);

			.Scale-Small & {
				margin-block:-1px !important;
				transform:translateY(1px);
			}
		}
	}

	&-Close {
		&::after {
			content:'\f00d';
			vertical-align:-1px;
		}
	}

	&-Configure {
		&::after {
			content:'\f013';
		}
	}

	&-Delete {
		&::after {
			content:'\f2ed';
			text-indent:-1px;

			.Scale-Small & {
				text-indent:-1px;
			}
		}
	}

	&-Edit {
		&::after {
			content:'\f304';
		}
	}

	&-History {
		&::after {
			content:'\f1da';
		}
	}

	&-Leave {
		&::after {
			content:'\f2f5';
			border:0 none;
			font-size:30px;
			vertical-align:-1px;
			rotate:180deg;
			transform:translateY(2px);

			.Scale-Small & {
				vertical-align:-2px;
			}
		}
	}

	&-Preview {
		&::after {
			content:'\f06e';
		}
	}

	#TranslationDialog-Apply &,
	&-Save,
	&-SaveClose,
	&-SaveSystemOrder {
		&::after {
			content:'\f00c';
			font-size:18px;
			transform:translateY(-1px);

			.Scale-Small & {
				transform:translateY(0);
			}
		}
	}

	&-SaveClose {
		&::after {
			content:'\f0e2';
			margin-bottom:-1px;
			line-height:22px;
			transform:translateY(-2px) rotateX(180deg);

			.Scale-Small & {
				transform:translateY(-1px) rotateX(180deg);
			}
		}
	}

	&-Delete,
	&-SaveSystemOrder {
		transition:outline-color 0.1s ease-in-out;

		&[disabled],
		&.Disabled {
			&::after {
				//display:none;
			}
		}
	}

	&-Toggle {
		padding-left:50px;

		&::after {
			content:'';
			width:20px;
			aspect-ratio:1;
			margin:auto;
			border:2px solid;
			border-radius:5px;
			position:absolute;
			top:0;
			bottom:0;
			left:20px;
		}

		&-Active {
			background-color:var(--colorSuccess);

			&::after {
				@include la('\f00d', 16px);

				line-height:16px;
			}
		}
	}

	&-View {
		&::after {
			content:'\f06e';
		}
	}
}