#ConfirmDialog {
	&::after {
		content:attr(data-title, 'Confirm');
	}

	&-Message {
		margin-bottom:20px;
		grid-column:1 / -1;

		@media screen and (width <= 768px) {
			margin-bottom:0;
		}

		@media screen and (width <= 480px) {
			margin-bottom:10px;
		}
	}
}