.CustomSelect {
	border-radius:5px;
	position:relative;
	z-index:1;

	dialog:has(&) {
		transform:translateZ(1px);
	}

	.Sidebar-Fieldsets:has(&),
	form:has(&) {
		&::after {
			content:'';
			backdrop-filter:blur(5px);
			background-color:rgba(0, 0, 0, .25);
			position:fixed;
			inset:0;
			z-index:7;
			pointer-events:none;
			opacity:0;
			visibility:hidden;
			transition:opacity .3s ease-in-out, visibility 0s linear .3s;

			html.🌚 & {
				background-color:rgba(0, 0, 0, .5);
			}
		}
	}

	fieldset:has(&) {
		transition-behavior:allow-discrete;
	}

	.FormInput:has(> &) {
		transition:z-index 0s linear .3s;
		z-index:1;

		> select:not([disabled]) {
			&:has(+ .CustomSelect) {
				//display:none;
			}

			&:focus {
				+ .CustomSelect {
					.CustomSelect-Button {
						--backgroundColor:var(--colorBright);

						border-color:var(--colorSuccess);

						html.🌚 & {
							--backgroundColor:oklch(from var(--colorSemiDarkDarkMode) calc(l + 0.0196) calc(c + 0.002) calc(h - 0.3));
						}
					}
				}
			}

			+ .CustomSelect {
				margin-top:-52px;

				@media screen and (width <= 768px) {
					margin-top:-42px;
				}

				html.Scale-Small & {
					@media screen and (width > 768px) {
						margin-top:-42px;
					}
				}
			}
		}
	}

	&:has(+ .InFieldButton) {
		.CustomSelect-Button {
			padding-right:92px;

			@media screen and (width <= 768px) {
				padding-right:82px;
			}

			&::after {
				right:77px;

				@media screen and (width <= 768px) {
					right:67px;
				}
			}
		}
	}

	&:has(+ .InFieldButton + .InFieldButton) {
		.CustomSelect-Button {
			padding-right:132px;

			@media screen and (width <= 768px) {
				padding-right:112px;
			}

			&::after {
				right:117px;

				@media screen and (width <= 768px) {
					right:97px;
				}
			}
		}
	}

	&:has(.CustomSelect-Dropdown.Small) {
		z-index:3;
	}

	&.Opened {
		.Sidebar-Fieldsets:has(&),
		form:has(&) {
			&::after {
				opacity:1;
				visibility:visible;
				transition-delay:0s;
			}
		}

		fieldset:has(&) {
			z-index:auto;
			transition-delay:0s;
		}

		.FormInput:has(> &) {
			z-index:8;
			transition-delay:0s;
		}

		.CustomSelect-Button {
			--backgroundColor:var(--colorBright);
			border-color:var(--colorSuccess);
			box-shadow:0 0 10px 5px color-mix(in srgb, var(--colorSuccess), transparent 90%);

			html.🌚 & {
				--backgroundColor:oklch(from var(--colorSemiDarkDarkMode) calc(l + 0.0196) calc(c + 0.002) calc(h - 0.3));

				border-color:var(--colorSuccess);
				box-shadow:0 0 10px 5px color-mix(in srgb, var(--colorSuccess), transparent 90%);
			}

			&::after {
				color:var(--colorSuccess);
				transform:rotateX(180deg);
			}
		}

		.CustomSelect-Dropdown {
			grid-template-rows:1fr;
			opacity:1;
			visibility:visible;
			transition-delay:0s;
		}
	}

	select[disabled] + & {
		display:none;
	}

	.CustomSelect-Button {
		@extend %Input;

		--backgroundColor:#f2f6f8;

		height:52px;
		padding-right:40px;
		cursor:pointer;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
		transition-delay:0s;

		@media screen and (width <= 768px) {
			height:42px;
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				height:42px;
			}
		}

		html.🌚 & {
			--backgroundColor:var(--colorSemiDark);
		}

		&:focus {
			--backgroundColor:var(--colorBright);

			outline:0 none;
			border-color:var(--colorSuccess);
			box-shadow:0 0 10px 5px color-mix(in srgb, var(--colorSuccess), transparent 90%);

			html.🌚 & {
				--backgroundColor:oklch(from var(--colorSemiDarkDarkMode) calc(l + 0.0196) calc(c + 0.002) calc(h - 0.3));
			}

			&::after {
				color:var(--colorSuccess);
			}
		}

		&::after {
			@include la('\f0d7');

			color:var(--colorMedium);
			font-size:18px;
			line-height:30px;
			position:absolute;
			top:10px;
			right:15px;
			transition:transform .3s ease-in-out, color .3s ease-in-out;

			@media screen and (width <= 768px) {
				font-size:16px;
				top:5px;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					font-size:16px;
					top:5px;
				}
			}
		}
	}

	.Button-ApplyPlaceholder {
		display:none;
	}

	.CustomSelect-Dropdown {
		--filterOffset:62px;

		display:grid;
		width:100%;
		min-width:200px;
		margin:4px auto 0;
		padding:var(--filterOffset) 5px 5px 5px;
		border-radius:5px;
		border:5px solid transparent;
		box-shadow:0 0 10px 0 rgba(0, 0, 0, .2);
		background-color:var(--colorBright);
		position:absolute;
		top:100%;
		left:0;
		gap:10px;
		grid-template-rows:0fr;
		opacity:0;
		overflow:hidden;
		visibility:hidden;
		transition:opacity .3s ease-in-out, visibility 0s linear .3s, grid-template-rows .3s;

		@media screen and (width <= 768px) {
			--filterOffset:52px;
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				--filterOffset:52px;
			}
		}

		&.Small {
			width:auto;
			margin-top:0;
			top:-10px;
			right:-10px;
			left:-10px;

			&.Above {
				margin-block:0;
				top:auto;
				bottom:-10px;
			}

			.CustomSelect-Options {
				max-height:200px;
			}
		}

		&.Above {
			margin-block:0 4px;
			padding-block:5px var(--filterOffset);
			top:auto;
			bottom:100%;

			.CustomSelect-Filter {
				top:auto;
				bottom:5px;
			}
		}

		html.🌚 & {
			box-shadow:0 0 10px 0 rgba(0, 0, 0, .4);
			background-color:var(--backgroundColor);
		}
	}

	.CustomSelect-Filter {
		width:auto;
		position:absolute;
		top:5px;
		right:5px;
		left:5px;
	}

	.CustomSelect-Options {
		min-height:0;
		padding-right:5px;
		max-height:min(320px, max(100px, 100dvh - 220px));
		overscroll-behavior:contain;
		overflow:clip auto;
		scrollbar-color:var(--colorMedium) var(--colorLight);
		scrollbar-width:thin;

		html.🌚 & {
			scrollbar-color:var(--colorDark) oklch(from var(--colorBackgroundContentDarkMode) calc(l + 0.1041) calc(c + 0.011) calc(h + 2.24));
		}
	}

	.CustomSelect-Option {
		min-height:calc(var(--lineHeightMain) + 10px);
		margin:3px 0 0 0;
		padding:5px 10px;
		border-radius:5px;
		color:var(--colorText);
		font-size:1rem;
		line-height:var(--lineHeightMain);
		position:relative;
		cursor:pointer;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
		transition:background-color .3s ease-in-out, color .3s ease-in-out;

		&.Disabled {
			pointer-events:none;
			opacity:.25;
		}

		&:nth-child(1 of :not(.Hidden)) {
			margin-top:0;

			&::before {
				display:none;
			}
		}

		&.Hidden {
			display:none;
		}

		&.Active {
			background-color:var(--colorMedium);
			color:var(--colorBright);
		}

		&.Highlighted {
			background-color:var(--colorSuccess);
			color:var(--colorBright);
		}

		&:hover {
			background-color:color-mix(in srgb, var(--colorSuccess) 50%, transparent);
			color:var(--colorText);
		}

		&::before {
			content:'';
			height:1px;
			background-color:rgba(0, 0, 0, .1);
			position:absolute;
			top:-2px;
			right:5px;
			left:5px;
		}
	}
}

.CustomSelect-Button {
	all:unset;
	box-sizing:inherit;

	&::before,
	.Hover {
		display:none;
	}
}