dialog {
	width:540px;
	max-height:80vh;
	margin:auto;
	padding:92px 40px 40px 40px;
	border:0 none;
	border-radius:5px;
	box-shadow:0 0 10px rgba(0, 0, 0, .25);
	background-color:var(--colorBright);
	color:var(--colorText);
	align-content:flex-start;
	flex-wrap:wrap;
	justify-content:space-between;
	scrollbar-color:var(--scrollbarColor);
	scrollbar-width:thin;

	html.Scale-Small & {
		width:480px;
		padding:62px 20px 20px 20px;
	}

	html.🌚 & {
		background-color:var(--colorDark);
	}

	&[open] {
		display:flex;

		html:has(&) {
			overflow:hidden;
		}
	}

	&::backdrop {
		background-color:rgba(0, 0, 0, .75);
		backdrop-filter:blur(5px);
	}

	@extend %DialogTitle;

	.Button {
		width:11rem;
		padding-inline:10px;

		html.Scale-Small & {
			width:12rem;
		}
	}
}