.FlashMessage {
	--backgroundColor:var(--colorBright);
	--boxShadowColor:color-mix(in srgb, var(--colorInfo), transparent 75%);
	--colorText:var(--colorInfo);

	width:fit-content;
	margin-top:calc(var(--lineHeightMain) * -1);
	padding:10px 20px 10px 70px;
	border-radius:5px;
	border:1px solid;
	box-shadow:0 0 30px var(--boxShadowColor);
	background-color:var(--backgroundColor);
	color:var(--colorText);
	position:relative;
	overflow:hidden;

	@media screen and (width <= 768px) {
		margin-top:0;
	}

	html.🌚 & {
		--backgroundColor:var(--colorSemiDark);
	}

	html.Scale-Small & {
		@media screen and (width > 768px) {
			margin-top:0;
		}
	}

	&.Success {
		--boxShadowColor:color-mix(in srgb, var(--colorSuccess), transparent 75%);
		--colorText:var(--colorSuccess);

		&::before {
			content:'\f00c';
		}
	}

	&.Error {
		--boxShadowColor:color-mix(in srgb, var(--colorError), transparent 75%);
		--colorText:var(--colorError);

		&::before {
			content:'\f00d';
		}
	}

	&::before {
		@extend %LineAwesomeIcon;
		content:'\f05a';

		display:flex;
		width:calc(var(--lineHeightMain) + 20px);
		height:100%;
		border-radius:0 5px 5px 0;
		background-color:var(--colorText);
		color:var(--colorBright);
		font-size:1.5rem;
		text-align:center;
		line-height:var(--lineHeightMain);
		position:absolute;
		top:0;
		left:0;
		align-items:center;
		justify-content:center;
	}

	+ .FlashMessage {
		margin-top:var(--lineHeightMain);
	}

	+ :is(
		.Form,
		.Overview
	) {
		margin-top:var(--lineHeightMain);

		&:has(.BackToOverview) {
			margin-top:calc(var(--lineHeightMain) * 1.5);

			@media screen and (width <= 768px) {
				margin-top:var(--lineHeightMain);
			}
		}
	}
}