#GeocodeMultipleResultsDialog {
	max-width:640px;
	padding:52px 0 0;
	grid-template-columns:auto;

	@media screen and (width <= 768px) {
		padding-top:42px;
	}

	html.Scale-Small & {
		@media screen and (width > 768px) {
			padding-top:42px;
		}
	}

	&::after {
		content:attr(data-title, 'Multiple addresses found');
		padding-right:180px;

		@media screen and (width <= 540px) {
			padding-right:140px;
		}

		@media screen and (width <= 480px) {
			padding-right:80px;
		}
	}

	> .ButtonArea {
		width:max-content;
		margin:0;
		padding:2px;
		position:absolute;
		top:0;
		right:0;

		@media screen and (width <= 640px) {
			display:flex;
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				margin-top:0;
			}
		}

		.Button {
			width:auto;
			height:48px;
			background-color:transparent;
			line-height:26px;

			@media screen and (width <= 768px) {
				height:38px;
			}

			@media screen and (width <= 540px) {
				padding-inline:10px;
			}

			@media screen and (width <= 480px) {
				font-size:0;
				line-height:0;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					height:38px;
				}
			}

			&::after {
				@media screen and (width <= 480px) {
					margin-left:0;
				}
			}
		}
	}

	.Inner {
		display:grid;
		height:100%;
		max-height:calc(80vh - 52px);
		padding:30px;
		border-radius:5px;
		border:10px solid transparent;
		overflow:auto;
		gap:20px;
		grid-auto-rows:min-content;
		grid-template-columns:auto;
		scrollbar-color:var(--scrollbarColor);
		scrollbar-width:thin;

		@media screen and (width <= 768px) {
			padding:10px;
		}

		@media screen and (width <= 540px) {
			padding:5px;
			border-width:5px;
			gap:10px;
		}

		@media screen and (width <= 480px) {
			grid-template-columns:auto;
		}

		&:focus {
			outline:2px solid var(--colorSuccess);
			outline-offset:-3px;
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				padding:10px;
			}
		}
	}

	.AddressList {
		display:grid;
		margin-bottom:20px;
		gap:10px;

		@media screen and (width <= 768px) {
			margin-bottom:0;
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				margin-bottom:0;
			}
		}
	}

	.AddressList-Item {
		--backgroundColorOdd:var(--colorLight);

		margin:0;
		padding:10px;
		border-radius:5px;
		background-color:var(--backgroundColorOdd);
		list-style-type:none;
		position:relative;
		transition:padding-left .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;
		cursor:pointer;

		html.🌚 & {
			--backgroundColorOdd:oklch(from var(--colorBackgroundContentDarkMode) calc(l + 0.0448) calc(c + 0.005) calc(h - 0.4));
		}

		&:hover {
			padding-left:40px;
			background-color:var(--colorSuccess);
			color:var(--colorBright);

			&::after {
				opacity:1;
			}
		}

		&::after {
			@extend %LineAwesomeIcon;

			content:'\f00c';
			display:flex;
			width:40px;
			font-size:1rem;
			line-height:1;
			position:absolute;
			inset:0;
			align-items:center;
			justify-content:center;
			opacity:0;
			pointer-events:none;
			transition:opacity .3s ease-in-out;
		}
	}
}
