.LinkSelect {
	display:inline-block;
	min-width:250px;
	text-align:left;
	position:relative;
	z-index:900;
	vertical-align:top;
	align-self:flex-start;
	transition:z-index 0s linear .3s;
	white-space:normal;

	.ButtonArea-Bottom & {
		&::before {
			top:-4px;
			bottom:auto;
		}
	}

	&:focus-within {
		z-index:1100;
		transition-delay:0s;

		&::before {
			display:block;

			@media screen and (width <= 1024px) {
				height:100%;
				bottom:0;
				cursor:pointer;
			}
		}

		&::after {
			opacity:1;
			visibility:visible;
			transition-delay:0s;
		}

		.Label {
			box-shadow:0 0 10px rgba(0, 0, 0, .25);
			border-color:transparent;
			background-color:var(--colorSemiDark);
			color:var(--colorBright);
			transition-delay:0s;

			@media screen and (width <= 1024px) {
				pointer-events:none;
			}

			html.🌚 & {
				background-color:var(--colorSuccess);
			}

			&::before {
				opacity:inherit;
			}
		}

		.List {
			opacity:1;
			visibility:visible;
			transition-delay:0s;
		}
	}

	&:hover {
		@media screen and (width > 1024px) {
			z-index:1100;
			transition-delay:0s;

			&::before {
				display:block;
			}

			&::after {
				opacity:1;
				visibility:visible;
				transition-delay:0s;
			}

			.Label {
				box-shadow:0 0 10px rgba(0, 0, 0, .25);
				border-color:transparent;
				background-color:var(--colorSemiDark);
				color:var(--colorBright);
				transition-delay:0s;

				html.🌚 & {
					background-color:var(--colorSuccess);
				}

				&::before {
					opacity:inherit;
				}
			}

			.List {
				opacity:1;
				visibility:visible;
				transition-delay:0s;
			}
		}
	}

	&::before {
		content:"";
		display:none;
		height:4px;
		width:100%;
		position:absolute;
		bottom:-4px;
		left:0;
	}

	&::after {
		content:'';
		background-color:rgba(0, 0, 0, .25);
		position:fixed;
		inset:0;
		backdrop-filter:blur(5px);
		pointer-events:none;
		opacity:0;
		visibility:hidden;
		transition:opacity .3s ease-in-out, visibility 0s linear .3s;

		html.🌚 & {
			background-color:rgba(0, 0, 0, .5);
		}
	}

	.Label {
		display:block;
		max-width:300px;
		padding:10px 60px 12px 20px;
		border-radius:5px;
		background-image:linear-gradient(45deg, oklch(from var(--colorMedium) calc(l - 0.0683) calc(c + 0.001) calc(h - 1.9)) 0%, transparent 100%);
		background-color:var(--colorMedium);
		color:var(--colorBright);
		font-size:1rem;
		line-height:30px;
		cursor:default;
		position:relative;
		z-index:2;
		text-overflow:ellipsis;
		overflow:hidden;
		white-space:nowrap;
		transition:box-shadow .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;

		@media screen and (width <= 1024px) {
			cursor:pointer;
		}

		@media screen and (width <= 768px) {
			padding-block:5px 7px;
		}

		@media screen and (width <= 640px) {
			max-width:none;
		}

		html.🌚 & {
			background-image:none;
			background-color:var(--backgroundColorContent);
			color:var(--colorBright);
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				padding-block:5px 7px;
			}
		}

		&:focus-visible {
			outline:0 none;
		}

		&::before {
			content:'';
			height:10px;
			border-radius:50%;
			box-shadow:0 0 15px 1px var(--colorInfo);
			//noinspection CssInvalidPropertyValue
			mix-blend-mode:plus-lighter;
			position:absolute;
			bottom:-15px;
			right:10px;
			left:10px;
			opacity:0;
			transition:opacity .3s ease-in-out;
		}

		&::after {
			@extend %LineAwesomeIcon;
			content:'\f107';
			font-size:20px;
			position:absolute;
			top:16px;
			right:20px;

			@media screen and (width <= 768px) {
				top:10px;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					top:10px;
				}
			}
		}
	}

	.List {
		min-width:100%;
		max-width:300px;
		max-height:min(400px, calc(100dvh - 220px));
		border-radius:5px;
		margin:4px auto 0;
		padding:0 10px;
		border:10px solid transparent;
		box-shadow:0 0 10px 0 rgba(0, 0, 0, .2);
		background-color:var(--colorBright);
		position:absolute;
		top:100%;
		right:-200px;
		left:-200px;
		z-index:1005;
		opacity:0;
		visibility:hidden;
		overscroll-behavior:contain;
		overflow-y:auto;
		transition:opacity .3s ease-in-out, visibility 0s linear .3s;
		scrollbar-color:var(--colorMedium) var(--colorLight);
		scrollbar-width:thin;

		@media screen and (width <= 768px) {
			right:-10px;
			left:-10px;
		}

		html.🌚 & {
			box-shadow:0 0 10px 0 rgba(0, 0, 0, .4);
			background-color:var(--backgroundColor);
			scrollbar-color:var(--colorDark) oklch(from var(--colorBackgroundContentDarkMode) calc(l + 0.1041) calc(c + 0.011) calc(h + 2.24));
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				right:-10px;
				left:-10px;
			}
		}

		.ButtonArea-Bottom & {
			margin-top:0;
			margin-bottom:4px;
			top:auto;
			bottom:100%;
		}

		&::-webkit-scrollbar {
			width:6px;
		}

		&::-webkit-scrollbar-thumb {
			background-color:var(--colorText);
		}

		&:focus-visible {
			box-shadow:0 0 10px var(--colorSuccess);
			outline:2px solid var(--colorSuccess);
			outline-offset:2px;
		}
	}

	.Item {
		display:block;
		margin:0;
		border-bottom:1px solid rgba(0, 0, 0, .1);
		color:var(--colorText);
		font-size:1rem;
		line-height:var(--lineHeightMain);
		list-style-type:none;
		cursor:default;

		&.Active {
			a {
				color:var(--colorSuccess);
				font-weight:700;
			}
		}

		&.GroupLabel {
			padding-top:10px;
			border-bottom-width:0;
		}

		&.IsGrouped {
			padding-left:30px;
		}

		&.Disabled {
			color:color-mix(in srgb, var(--colorText) 25%, transparent 75%);
		}

		&:not(:has(a)) {
			padding-block:10px;

			@media screen and (width <= 768px) {
				padding-block:5px;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					padding-block:5px;
				}
			}
		}

		&:is(
			:focus-within,
			:hover
		) {
			a {
				color:var(--colorSuccess);
				outline:0 none;
			}
		}

		&:last-child {
			border-bottom-width:0;
		}

		a {
			display:block;
			margin:0 -10px;
			padding:10px;
			border-radius:5px;
			border-bottom-width:0;
			color:inherit;
			font-size:1rem;
			line-height:var(--lineHeightMain);
			text-decoration:none;
			text-overflow:ellipsis;
			white-space:nowrap;
			overflow:hidden;

			@media screen and (width <= 768px) {
				padding-block:5px;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					padding-block:5px;
				}
			}

			&:focus-visible {
				outline:2px solid var(--colorSuccess);
				outline-offset:-2px;
			}
		}
	}
}