#ModuleConfigurationOverlay {
	width:calc(100% - 40px);
	max-width:860px;
	height:fit-content;
	min-height:80px;
	max-height:80dvh;
	padding:0;
	overflow:hidden;

	&:not(:has(.Form)) {
		background-image:url($relativePath + 'img/preloader-dots.gif');
		background-position:center;
		background-repeat:no-repeat;

		.🌚 & {
			background-image:url($relativePath + 'img/preloader-dots-bright.gif');
		}
	}

	&:focus-visible {
		outline:0 none;
	}

	&::before,
	&::after {
		display:none;
	}

	.Form.ModuleConfiguration {
		width:100%;
		height:100%;
		margin-bottom:0;
		padding:72px 20px 20px 20px;
		overflow:hidden;

		&::before,
		&::after {
			content:attr(data-title, 'Form');
			width:100%;
			height:52px;
			padding:0 20px;
			border-radius:0 0 5px 5px;
			background-color:var(--colorDark-Alpha-50);
			color:var(--colorBright);
			//noinspection CssNoGenericFontName
			font-family:var(--fontStackHeading);
			font-size:1rem;
			line-height:52px;
			position:absolute;
			top:0;
			left:0;
		}

		&::before {
			content:'';
			background-image:url($relativePath + 'img/awyiss-v1-' + $awyissVersionName + '.jpg');
			background-color:var(--colorDark);
			background-position:center;
			background-size:cover;
		}

		> .ButtonArea {
			margin:0;
			padding:2px;
			position:absolute;
			top:0;
			right:0;

			.Button {
				width:auto;
				height:48px;
				margin-right:20px;
				line-height:26px;
				background-color:transparent;

				&:last-child {
					margin-right:0;
				}
			}
		}

		form {
			display:block;
			height:100%;
			max-height:calc(80dvh - 112px);
			padding:20px;
			overflow-y:auto;
			scrollbar-color:var(--scrollbarColor);
			scrollbar-width:thin;
		}

		.Fieldsets {
			display:grid;
			margin:0 0 var(--lineHeightMain) 0;
			padding:0;
			box-shadow:none;
			background-color:transparent;
			align-items:start;
			gap:0 40px;
			grid-auto-rows:min-content;
			grid-template-columns: repeat(12, 1fr);
		}

		.ButtonArea {
			&.ButtonArea-Bottom {
				&,
				.Button {
					margin-bottom:0;
				}
			}
		}
	}
}