#OverlayForm {
	background-color:rgba(0, 0, 0, .75);
	backdrop-filter:blur(5px);
	position:fixed;
	inset:0;
	z-index:182182;
	opacity:0;
	visibility:hidden;
	transition:opacity .3s ease-in-out, visibility 0s linear .3s;

	&:is(
		.FetchInProgress,
		.Visible
	) {
		opacity:1;
		visibility:visible;
		transition-delay:0s;

		html:has(&) {
			overflow:hidden;
		}
	}

	&.FetchInProgress {
		&::after {
			@extend %LoaderIcon;

			content:'';
			width:220px;
			height:20px;
			margin:auto;
			position:fixed;
			inset:0;
			opacity:1;
			z-index:1860;
		}

		.Form {
			pointer-events:none;
			> * {
				opacity:.1;
			}
		}
	}

	> .Inner {
		@extend %DialogTitle;

		display:block;
		width:calc(100% - 80px);
		max-width:860px;
		height:fit-content;
		max-height:80dvh;
		margin:auto;
		padding-top:52px;
		border-radius:5px;
		box-shadow:0 0 10px rgba(0, 0, 0, .25);
		background-image:url($relativePath + 'img/background-pattern-light.png');
		background-color:var(--backgroundColor);
		color:var(--colorText);
		position:fixed;
		inset:0;
		overflow:hidden;

		@media screen and (width <= 768px) {
			width:calc(100dvw - 40px);
			padding-top:42px;
		}

		@media screen and (width <= 540px) {
			width:calc(100dvw - 20px);
		}

		html.🌚 & {
			background-image:url($relativePath + 'img/background-pattern-dark.png');
			background-blend-mode:color-burn;
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				padding-top:42px;
			}
		}

		&::after {
			content:attr(data-title, 'Form');
			display:block;
		}
	}

	.Form {
		max-height:calc(80dvh - 52px);
		border:10px solid transparent;
		border-radius:5px;
		padding:30px;
		overflow:hidden auto;
		grid-template-columns:auto;
		scrollbar-color:var(--scrollbarColor);
		scrollbar-width:thin;

		@media screen and (width <= 768px) {
			padding-inline:10px;
			padding-bottom:10px;
		}

		@media screen and (width <= 540px) {
			padding-inline:5px;
			padding-bottom:5px;
			border-width:5px;
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				padding:10px;
			}
		}

		&:focus {
			outline:2px solid var(--colorSuccess);
			outline-offset:-3px;
		}

		.Headlines {
			display:none;
		}

		.ButtonArea {
			&:nth-child(1 of .ButtonArea) {
				display:none;
			}
		}

		.Fieldsets {
			grid-template-columns:[main sidebar] auto;
		}

		.Sidebar-Fieldsets {
			width:100%;
			height:auto;
			min-height:0;
			padding:0;
			box-shadow:none;
			background-color:transparent;
			position:relative;
			inset:unset;
			transform:none;
			overflow:visible;
		}

		> :is(
			.Button-SaveClose,
			.Button-Close
		) {
			height:48px;
			background-color:transparent;
			line-height:26px;
			position:absolute;
			top:2px;

			@media screen and (width <= 768px) {
				height:38px;
				padding-block:0;
			}

			@media screen and (width <= 680px) {
				padding-inline:10px;
				font-size:0;
				line-height:0;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					height:38px;
					padding-block:0;
				}
			}

			&::after {
				@media screen and (width <= 680px) {
					margin-left:0;
				}
			}
		}

		> .Button-SaveClose {
			margin-right:20px;
			right:var(--offsetX, 20px);

			@media screen and (width <= 680px) {
				margin-right:10px;
				right:var(--offsetX, 10px);
			}
		}

		> .Button-Close {
			right:2px;
		}
	}

	> .Button-Close {
		display:none;
	}

	.ButtonArea {
		&.ButtonArea-Bottom {
			display:flex;
			width:100%;
			margin-bottom:0;
			margin-left:0;

			.Button {
				margin-right:0;
				margin-bottom:0;

				&:first-child {
					margin-right:auto;
				}
			}
		}
	}

	#ButtonArea-Toggle {
		display:none;
	}
}