#OverlayForm {
	background-color:rgba(0, 0, 0, .75);
	backdrop-filter:blur(5px);
	position:fixed;
	inset:0;
	z-index:182182;
	opacity:0;
	visibility:hidden;
	transition:opacity .3s ease-in-out, visibility 0s linear .3s;
	scrollbar-color:var(--scrollbarColor);
	scrollbar-width:thin;

	&.FetchInProgress,
	&.Visible {
		opacity:1;
		visibility:visible;
		transition-delay:0s;

		html:has(&) {
			overflow:hidden;
		}
	}

	&.FetchInProgress {
		.Form {
			pointer-events:none;

			&::after {
				@extend %LoaderIcon;

				content:'';
				width:220px;
				height:20px;
				margin:auto;
				position:fixed;
				inset:0;
				opacity:1;
				z-index:1860;
			}

			> * {
				opacity:.1;
			}
		}
	}

	.Form {
		@extend %DialogTitle;

		width:calc(100% - 40px);
		max-width:860px;
		height:fit-content;
		max-height:80dvh;
		margin:auto;
		padding-top:52px;
		border-radius:5px;
		box-shadow:0 0 10px rgba(0, 0, 0, .25);
		background-image:url($relativePath + 'img/background-pattern-light.png');
		background-color:var(--backgroundColor);
		color:var(--colorText);
		position:fixed;
		inset:0;
		overflow:hidden;

		@media screen and (width <= 768px) {
			padding-top:42px;
		}

		html.🌚 & {
			background-image:url($relativePath + 'img/background-pattern-dark.png');
			background-blend-mode:color-burn;
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				padding-top:42px;
			}
		}

		&::after {
			content:attr(data-title, 'Form');
			display:block;
		}

		.ButtonArea {
			&:not(.ButtonArea-Bottom) {
				margin-top:0;
			}
		}

		form {
			max-height:calc(80dvh - 52px);
			border:10px solid transparent;
			padding:0 30px 30px 30px;
			overflow:hidden auto;
			scrollbar-color:var(--scrollbarColor);
			scrollbar-width:thin;

			@media screen and (width <= 768px) {
				padding:0 10px 10px 10px;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					padding:0 10px 10px 10px;
				}
			}

			> .Fieldsets {
				grid-template-columns:1fr;

				fieldset {
					grid-column:1 / -1;
				}
			}
		}

		> .Button-SaveClose,
		> .Button-Close {
			height:48px;
			background-color:transparent;
			line-height:26px;
			position:absolute;
			top:2px;

			@media screen and (width <= 768px) {
				height:38px;
				padding-block:0;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					height:38px;
					padding-block:0;
				}
			}
		}

		> .Button-SaveClose {
			margin-right:20px;
			right:var(--offsetX, 20px);
		}

		> .Button-Close {
			right:2px;
		}
	}

	> .Button-Close {
		display:none;
	}

	.ButtonArea {
		&.ButtonArea-Bottom {
			display:flex;
			width:100%;
			margin-bottom:0;
			margin-left:0;

			.Button {
				margin-right:0;
				margin-bottom:0;

				&:first-child {
					margin-right:auto;
				}
			}
		}
	}
}