.SearchFilter-Form {
	width:calc(100% - 80px);
	max-width:860px;
	height:fit-content;
	min-height:80px;
	max-height:80dvh;
	padding:52px 0 0 0;
	z-index:9999;
	grid-template-columns:auto;
	grid-auto-rows:max-content;

	@media screen and (width <= 768px) {
		width:calc(100dvw - 40px);
		padding:42px 0 0 0;
	}

	@media screen and (width <= 540px) {
		width:calc(100dvw - 20px);
	}

	html.Scale-Small & {
		@media screen and (width > 768px) {
			width:calc(100% - 40px);
			padding:42px 0 0 0;
		}
	}

	.Columns {
		max-height:calc(80dvh - 52px);
		border:10px solid transparent;
		border-radius:5px;
		overscroll-behavior:contain;
		overflow-y:auto;
		scrollbar-color:var(--scrollbarColor);
		scrollbar-width:thin;

		@media screen and (width <= 768px) {
			max-height:calc(80dvh - 52px);
		}

		@media screen and (width <= 540px) {
			border-width:5px;
		}

		html.🌚 & {
			background-color:var(--colorDark);
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				max-height:calc(80dvh - 52px);
			}
		}

		&:focus {
			outline:2px solid var(--colorSuccess);
			outline-offset:-3px;
		}

		.ButtonArea {
			display:flex;
			width:100%;
			margin:40px 0 30px 0;
			padding:0 30px;
			justify-content:space-between;

			@media screen and (width <= 768px) {
				margin-block:20px 10px;
				padding-inline:10px;
			}

			@media screen and (width <= 640px) {
				display:grid;
				justify-content:stretch;
			}

			@media screen and (width <= 540px) {
				margin-block:10px 5px;
				padding-inline:5px;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					margin-top:20px;
					margin-bottom:10px;
					padding-inline:10px;
				}
			}

			.Button {
				margin:0;
				outline-offset:2px;
			}
		}
	}

	.Column {
		--labelWidth:1fr;
		--selectWidth:200px;
		--inputWidth:1fr;
		--buttonWidth:52px;

		display:grid;
		margin:0;
		padding:5px 30px;
		align-items:center;
		gap:0 5px;
		grid-template-columns:var(--labelWidth) var(--selectWidth) var(--inputWidth) var(--buttonWidth);

		@media screen and (width <= 768px) {
			--labelWidth:0;
			--buttonWidth:42px;

			padding-inline:10px;
		}

		@media screen and (width <= 540px) {
			padding-inline:5px;
		}

		@media screen and (width <= 520px) {
			--selectWidth:80px;
			--inputWidth:1fr;
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				--labelWidth:0;
				--buttonWidth:42px;

				padding-inline:10px;
			}
		}

		&.Active {
			.Button-Remove {
				opacity:inherit;
				pointer-events:initial;
			}
		}

		&:nth-child(even) {
			background-color:var(--colorLight);

			html.🌚 & {
				background-color:oklch(from var(--colorBackgroundContentDarkMode) calc(l + 0.0448) calc(c + 0.005) calc(h - 0.4))
			}
		}

		> .Label {
			line-height:1.1;

			@media screen and (width <= 768px) {
				grid-column:1 / -1;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					grid-column:1 / -1;
				}
			}
		}

		.FormInput {
			margin-bottom:0;

			&Type-Radio {
				display:flex;
			}
		}

		.Button-Remove {
			opacity:.1;
			pointer-events:none;
		}
	}

	.Actions {
		display:none;
	}

	.FormInput {
		&:nth-last-child(1 of .FormInput) {
			margin-bottom:0;
		}
	}

	.Operator {
		@media screen and (width <= 768px) {
			grid-column:1 / span 2;
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				grid-column:1 / span 2;
			}
		}

		.Label {
			display:none;
		}
	}

	.Input {
		&.InputType-Boolean {
			margin-left:5px;
			container-type:inline-size;

			.Label {
				display:inline-block;
				margin-left:20px;

				@container (width < 175px) {
					width:100%;
					margin-left:0;
				}

				&:first-of-type {
					margin-left:0;

					@container (width < 240px) {
						width:100%;
					}
				}

				&:nth-of-type(2) {
					@container (width < 240px) {
						margin-left:0;
					}
				}
			}
		}

		&:is(
			.InputType-Date,
			.InputType-Time,
			.InputType-Datetime
		) {
			.FormInput {
				display:grid;
				grid-template-columns:1fr;

				input {
					grid-row-start:1;
					grid-column-start:1;

					&[name=""] {
						z-index:1;
					}
				}
			}
		}
	}

	.Button-Remove {
		@extend %InFieldButton;

		width:52px;
		height:52px;
		position:relative;
		top:0;
		right:0;

		@media screen and (width <= 768px) {
			width:42px;
			height:42px;
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				width:42px;
				height:42px;
			}
		}

		&.Disabled {
			opacity:.25;
			visibility:visible;
			pointer-events:none;
		}

		&::after {
			@extend %LineAwesomeIcon;
			content:'\f00d';
			font-size:24px;
			line-height:50px;

			@media screen and (width <= 768px) {
				line-height:40px;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					line-height:40px;
				}
			}
		}

		.Hover {
			background-color:var(--colorError);
		}
	}

	> .ButtonArea {
		width:max-content;
		margin:0;
		padding:2px;
		position:absolute;
		top:0;
		right:0;
		z-index:10;

		@media screen and (width <= 640px) {
			display:flex;
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				margin-top:0;
			}
		}

		.Button {
			width:auto;
			height:48px;
			background-color:transparent;
			line-height:26px;

			@media screen and (width <= 768px) {
				height:38px;
			}

			@media screen and (width <= 540px) {
				padding-inline:10px;
			}

			@media screen and (width <= 480px) {
				font-size:0;
				line-height:0;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					height:38px;
				}
			}

			&::after {
				@media screen and (width <= 480px) {
					margin-left:0;
				}
			}
		}
	}
}