.Table-Overflow {
	margin-bottom:var(--rowGap);
	border-radius:5px;

	:is(
		.Table,
		.Overview-Table
	) {
		margin-top:0;
		margin-bottom:0;
	}
}


@mixin ResponsiveTableGrid {
	--idColumnWidth:100px;
	--columnWidth:minmax(min-content, max(calc((100% - var(--idColumnWidth)) / var(--dynamicColumns)), 200px));
	--dynamicColumns:calc(var(--columns) - 1);

	display:grid;
	container-type:inline-size;
	//noinspection CssInvalidFunction
	grid-template-columns:var(--idColumnWidth) repeat(var(--dynamicColumns), var(--columnWidth));
	overflow-x:auto;

	&:has(.TableHeader-AuditInfo, .TableHeader-Actions) {
		--dynamicColumns:calc(var(--columns) - 2);
	}

	&:has(.TableHeader-AuditInfo) {
		&:has(.TableHeader-Actions) {
			--dynamicColumns:calc(var(--columns) - 3);

			.TableCell-Actions {
				width:calc(100cqw - var(--idColumnWidth));
				left:var(--idColumnWidth);
				grid-column-start:2;

				&::before {
					display:block;
				}
			}
		}
	}

	&:is(
		:has(th:nth-last-child(5)):not(:has(.TableHeader-Actions)),
		:has(th:nth-last-child(6)):has(.TableHeader-Actions)
	) {
		&:has(tfoot) {
			border-bottom:10px solid transparent;
		}

		thead {
			th {
				display:grid;
				writing-mode:sideways-lr;

				&:is(
					.TableHeader-AuditInfo,
					.TableHeader-Actions
				) {
					display:none;
				}

				a {
					width:100%;

					&.Sort {
						&::before,
						&::after {
							transform:rotate(90deg);
							right:15px;

							@media screen and (width <= 1024px) {
								bottom:10px;
								right:5px;
							}
						}
					}
				}
			}
		}

		tfoot {
			margin-bottom:10px;
		}
	}

	&:has(th:first-child:nth-last-child(6)):has(.TableHeader-Actions) {
		tbody {
			td {
				max-width:100%;
			}
		}
	}

	:is(
		thead,
		tbody,
		tr
	) {
		grid-template-columns:subgrid;
		display:grid;
		grid-column:1 / -1;
	}

	thead {
		th {
			max-height:200px;
			min-width:100%;
		}
	}

	tbody {
		gap:20px 0;

		tr {
			position:relative;

			&:first-child {
				&::before {
					display:none;
				}
			}

			&::before {
				content:'';
				width:100%;
				height:2px;
				background-color:var(--backgroundColorEven);
				position:absolute;
				top:-10px;
				left:0;
			}
		}

		td {
			border-top-width:0;
			max-width:314px;
			min-width:120px;

			&:nth-child(2):nth-last-child(3) {
				max-width:none;
			}
		}
	}

	tfoot {
		width:100cqw;
		position:sticky;
		left:0;
	}

	:is(
		.TableHeader-AuditInfo,
		.TableHeader-Actions
	) {
		display:none;
	}

	.TableCell-Id {
		min-width:0;
	}

	:is(
		.TableCell-AuditInfo,
		.TableCell-Actions
	) {
		min-width:0;
		max-width:none;
		position:sticky;
		left:0;

		&::before {
			display:none;
		}
	}

	.TableCell-AuditInfo {
		display:flex;
		grid-column-start:1;
		z-index:2;

		@media screen and (width > 1024px) {
			padding-inline:20px;
		}

		&::before {
			display:block;
			right:-1px;
			bottom:0;
			left:auto;
		}

		.Button-Preview {
			margin-top:0;
			align-self:center;
		}
	}

	.TableCell-Actions {
		grid-column:1 / -1;

		.Actions {
			display:grid;
			width:fit-content;
			margin-left:auto;
			gap:10px;
			grid-auto-flow:column;
			grid-auto-columns:max-content;

			.Button {
				width:auto;
				margin:0;
				padding-inline:10px;
				grid-column-start:auto;

				&.Button-Delete {
					position:relative;
					top:auto;
					left:auto;
					opacity:revert;
					visibility:revert;
				}
			}
		}
	}

	.AuditInfo {
		margin-inline:0;

		&::before,
		.AuditInfoList {
			right:auto;
			left:0;
		}

		.AuditInfoList {
			padding-inline:40px 10px;
		}
	}
}

:is(
	.Table,
	.Overview-Table
) {
	--backgroundColorOdd:transparent;
	--backgroundColorEven:var(--colorLight);

	padding:0;
	border-collapse:separate;
	table-layout:fixed;

	@media screen and (width <= 768px) {
		padding:0;
	}

	html.🌚 & {
		--backgroundColorEven:oklch(from var(--colorBackgroundContentDarkMode) calc(l + 0.0448) calc(c + 0.005) calc(h - 0.4));
	}

	html.Scale-Small & {
		@media screen and (width > 768px) {
			padding:0;
		}
	}

	&.FetchInProgress {
		pointer-events:none;

		tbody {
			height:80px;
			position:relative;

			tr {
				display:none;
			}

			&::after {
				@extend %LoaderIcon;

				content:'';
				background-color:var(--backgroundColorContent);
				position:absolute;
				inset:0;
				z-index:1860;
			}
		}
	}

	tbody {
		&:not(:has(tr)) {
			height:80px;
			position:relative;

			&::after {
				@extend %EmptyList;
				border-radius:0;

				html.🌚 & {
					@extend %EmptyListDarkMode;
				}
			}
		}

		&:last-child {
			tr {
				&:last-child {
					td {
						&:first-child {
							border-radius:0 0 0 5px;
						}

						&:last-child {
							border-radius:0 0 5px 0;
						}
					}
				}
			}
		}

		tr {
			&:is(
				.Inactive,
				.NotPublished
			) {
				&:hover {
					td {
						&,
						html.🌚 & {
							opacity:1;
						}
					}
				}

				td {
					background-image:repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(0, 0, 0, .05) 10px, rgba(0, 0, 0, .05) 20px);
					background-color:transparent;
					opacity:.5;
					transition:opacity .3s ease-in-out;

					html.🌚 & {
						opacity:.1;
					}
				}
			}

			&:is(
				.ParentsInactive,
				.NotPublished
			) {
				&:hover {
					td {
						opacity:1;
					}
				}

				td {
					opacity:.25;
					transition:opacity .3s ease-in-out;
				}
			}

			&:nth-child(2n) {
				&:hover {
					td {
						background-color:oklch(from var(--colorLight) calc(l - 0.0588) calc(c + 0.009) calc(h + 1.05));

						html.🌚 & {
							background-color:oklch(from var(--colorSemiDarkDarkMode) calc(l + 0.0389) calc(c + 0.004) calc(h - 0.55));
						}
					}
				}

				td {
					background-color:var(--backgroundColorEven);
				}
			}

			&:first-child {
				td {
					border-top:2px solid var(--colorBright);

					html.🌚 & {
						border-top-color:oklch(from var(--colorBackgroundContentDarkMode) calc(l - 0.0216) calc(c - 0.002) calc(h - 1.95));
					}
				}
			}

			&:hover {
				td {
					background-color:oklch(from var(--colorLight) calc(l - 0.0588) calc(c + 0.009) calc(h + 1.05));

					html.🌚 & {
						background-color:oklch(from var(--colorSemiDarkDarkMode) calc(l + 0.0389) calc(c + 0.004) calc(h - 0.55));
					}

					&::before {
						background-color:var(--colorLight);

						html.🌚 & {
							background-color:var(--colorSemiDark);
						}
					}
				}

				.AuditInfo {
					&:not(.Hidden) {
						opacity:1;
					}
				}
			}

			&:is(
				:hover,
				:focus-within
			) {
				.Actions {
					@extend %ActionsHover;
				}
			}

		}
	}

	:where(
		th,
		tbody td
	) {
		padding:10px 20px;
		border-bottom:2px solid var(--colorBright);
		background-color:var(--backgroundColorOdd);
		position:relative;
		vertical-align:top;
		transition:background-color .3s ease-in-out;
		hyphens:auto;

		@media screen and (width <= 1024px) {
			padding-inline:10px;
			font-size:16px;
			line-height:20px;
		}

		@media screen and (width <= 480px) {
			font-size:14px;
		}

		@media screen and (width <= 400px) {
			font-size:12px;
			line-height:1.2;
		}

		html.🌚 & {
			border-bottom-color:oklch(from var(--colorBackgroundContentDarkMode) calc(l - 0.0216) calc(c - 0.002) calc(h - 1.95));
		}

		&::before {
			content:'';
			width:2px;
			background-color:var(--colorBright);
			position:absolute;
			top:0;
			left:-1px;
			z-index:1;
			bottom:-2px;
			transition:background-color .3s ease-in-out;

			html.🌚 & {
				background-color:oklch(from var(--colorBackgroundContentDarkMode) calc(l - 0.0216) calc(c - 0.002) calc(h - 1.95));
			}
		}

		&:first-child {
			border-left-width:0;

			&::before {
				display:none;
			}
		}

		&:last-child {
			border-right-width:0;
		}
	}

	th {
		padding:10px 20px;
		border-bottom:3px solid oklch(from var(--colorMedium) calc(l - 0.0683) calc(c + 0.001) calc(h - 1.9));
		border-inline-color:rgba(0, 0, 0, .1);
		background-color:var(--colorMedium);
		color:var(--colorBright);
		vertical-align:bottom;
		transition:border-color .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;

		@media screen and (width <= 1024px) {
			// Left & Right instead of padding-inline in case
			// writing-mode of the th is set to sideways
			padding-right:10px;
			padding-left:10px;
		}

		@media screen and (width <= 768px) {
			// Top & Bottom instead of padding-block in case
			// writing-mode of the th is set to sideways
			padding-top:8px;
			padding-bottom:8px;
		}

		html.🌚 & {
			background-color:oklch(from var(--colorBackgroundContentDarkMode) calc(l - 0.0473) calc(c - 0.005) calc(h + 1.12));
		}

		&.Active {
			border-color:oklch(from var(--colorSuccess) calc(l - .0368) calc(c + .018) calc(h - 2.03));
			background-color:oklch(from var(--colorMedium) calc(l - 0.0683) calc(c + 0.001) calc(h - 1.9));

			html.🌚 & {
				background-color:var(--colorBackgroundContentDarkMode);
			}

			.Sort {
				&.Sort-Desc {
					&:hover {
						&::before {
							opacity:1;
						}
					}

					&::before {
						color:var(--colorBright);
						opacity:.25;
					}

					&::after {
						color:var(--colorSuccess);
						opacity:1;
					}
				}

				&::before {
					color:var(--colorSuccess);
					opacity:1;
				}
			}
		}

		&:has(> .Sort) {
			padding:0;
		}

		&:is(
			:focus-within,
			:has(> .Sort:hover)
		) {
			border-bottom-color:oklch(from var(--colorSuccess) calc(l - .0368) calc(c + .018) calc(h - 2.03));
			background-color:oklch(from var(--colorMedium) calc(l - 0.1400) calc(c - 0.002) calc(h + 0.39));
			color:var(--colorSuccess);

			html.🌚 & {
				background-color:oklch(from var(--colorBackgroundContentDarkMode) calc(l + 0.0448) calc(c + 0.005) calc(h - 0.4));
				color:var(--colorBright);
			}
		}

		&:first-child {
			border-top-left-radius:5px;

			.Sort {
				border-top-left-radius:5px;
			}
		}

		&:last-child {
			border-top-right-radius:5px;
		}

		&::before {
			height:auto;
			background-color:oklch(from var(--colorMedium) calc(l - 0.0683) calc(c + 0.001) calc(h - 1.9));
			bottom:-3px;

			html.🌚 & {
				background-color:oklch(from var(--colorBackgroundContentDarkMode) calc(l - 0.0704) calc(c - 0.007) calc(h - 3.42));
			}
		}

		a {
			color:inherit;

			&.Sort {
				display:block;
				padding:10px 60px 10px 20px;
				//white-space:nowrap;
				border-bottom-width:0;
				position:relative;
				transition:background-color .3s ease-in-out;

				@media screen and (width <= 1024px) {
					// Left & Right instead of padding-inline in case
					// writing-mode of the th is set to sideways
					padding-right:40px;
					padding-left:10px;
				}

				@media screen and (width <= 768px) {
					// Top & Bottom instead of padding-block in case
					// writing-mode of the th is set to sideways
					padding-top:8px;
					padding-bottom:8px;
				}

				html.🌚 & {
					color:var(--colorMedium) SemiDark;
				}

				&:hover {
					outline:0 none;

					&::before,
					&::after {
						color:var(--colorSuccess);
						opacity:1;
					}
				}

				&:focus-visible {
					z-index:10;
					box-shadow:0 0 10px var(--colorInfo);
					outline:2px solid var(--colorInfo);
					outline-offset:2px;
				}

				&::before,
				&::after {
					@extend %LineAwesomeIcon;
					content:'\f0de';
					padding-block:0 10px;
					color:var(--colorBright);
					font-size:20px;
					position:absolute;
					right:20px;
					bottom:10px;
					opacity:.25;
					transition:color .3s ease-in-out, opacity .3s ease-in-out;

					@media screen and (width <= 1024px) {
						right:10px;
						bottom:5px;
					}

					@media screen and (width <= 768px) {
						height:32px;
						margin-block:auto;
						top:0;
						bottom:0;
					}

					@media screen and (width <= 480px) {
						right:5px;
					}

					@media screen and (width <= 400px) {
						padding-bottom:6px;
						font-size:16px;
						top:10px;
					}

					html.Scale-Small & {
						@media screen and (width > 768px) {
							top:6px;
						}
					}
				}

				&::after {
					content:'\f0dd';
					padding-block:10px 0;

					@media screen and (width <= 400px) {
						padding-top:6px;
					}
				}
			}
		}
	}

	tbody {
		td {
			padding-block:15px;
			line-height:26px;

			@media screen and (width <= 1024px) {
				padding-block:10px;
				line-height:20px;
			}

			@media screen and (width <= 768px) {
				padding-block:8px;
				line-height:1.25;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					padding-block:8px;
					line-height:1.25;
				}
			}
		}
	}

	tfoot {
		td {
			padding:20px;
			border-radius:0 0 5px 5px;
			border-top:3px solid oklch(from var(--colorMedium) calc(l - 0.0683) calc(c + 0.001) calc(h - 1.9));
			background-color:var(--colorMedium);
			color:var(--colorBright);

			html.🌚 & {
				border-top-color:oklch(from var(--colorBackgroundContentDarkMode) calc(l - 0.0216) calc(c - 0.002) calc(h - 1.95));
				background-color:oklch(from var(--colorBackgroundContentDarkMode) calc(l - 0.0473) calc(c - 0.005) calc(h + 1.12));
			}
		}
	}

	.TableHeader-Id {
		width:100px;

		@media screen and (width <= 1024px) {
			width:80px;
		}
	}

	.TableHeader-AuditInfo {
		width:56px;
		padding:10px;
	}

	.TableHeader-Actions {
		width:calc(9rem + 40px);
		padding-block:10px;
		padding-right:20px;
		overflow:visible;

		@media screen and (width <= 1024px) {
			padding-right:10px;
			width:calc(9rem + 20px);
		}

		@media screen and (width <= 768px) {
			width:calc(10rem + 20px);
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				width:calc(10rem + 40px);
			}
		}
	}

	.TableCell-Title {
		font-size:1rem;
		font-weight:700;
		line-height:1.2;

		.Slug {
			display:block;
			padding-bottom:2px;
			color:var(--colorSuccess);
			font-size:0.8rem;
			font-weight:400;
			line-height:1.2;
			overflow:hidden;
			text-overflow:ellipsis;
			white-space:nowrap;
		}
	}

	.TableCell-AuditInfo {
		padding-inline:10px;

		@media screen and (width <= 768px) {
			padding-block:0;
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				padding-block:0;
			}
		}
	}

	.TableCell-Actions {
		@media screen and (width <= 768px) {
			padding-block:8px;
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				padding-block:8px;
			}
		}
	}

	.AuditInfo {
		margin-inline:auto;
		z-index:2;
	}

	.Actions {
		@extend %Actions;
	}
}

.Responsive-Table {
	--columns:1;
	--rows:20;
	--headerWidth:200px;

	&.Responsive-TableGrid {
		&:has(th:nth-last-child(8)) {
			@media screen and (1280px < width <= 1440px) {
				@include ResponsiveTableGrid;
			}
		}

		&:has(th:nth-last-child(6)) {
			@media screen and (768px < width <= 1280px) {
				@include ResponsiveTableGrid;
			}
		}

		&:has(.TableHeader-Actions:nth-child(n+5)):not(:has(.TableHeader-AuditInfo)) {
			@media screen and (768px < width <= 1024px) {
				@include ResponsiveTableGrid;
			}
		}
	}

	&:has(th:nth-last-child(4)) {
		@media screen and (640px < width <= 768px) {
			@include ResponsiveTableGrid;
		}

		@media screen and (width <= 640px) {
			display:grid;
			padding:20px;
			gap:1px 5px;
			grid-template-columns:var(--headerWidth) repeat(var(--rows), min(200px, calc(100% - var(--headerWidth))));
			grid-template-rows:repeat(var(--columns), max-content);
			container:table / inline-size;

			@media screen and (width <= 540px) {
				padding:10px;
			}

			@media screen and (width <= 480px) {
				--headerWidth:140px;
			}

			@media screen and (width <= 400px) {
				--headerWidth:120px;
			}

			&:has(tbody tr:first-child:last-child) {
				grid-template-columns:var(--headerWidth) auto;

				@media screen and (width <= 400px) {
					grid-template-columns:var(--headerWidth) calc(100% - var(--headerWidth) - 5px);
				}

				tbody {
					padding-bottom:0;
					border-bottom-width:0;
				}
			}

			:is(
				thead,
				tbody,
				tr
			) {
				display:grid;
				grid-template-columns: subgrid;
				grid-template-rows: subgrid;
				grid-row:1 / -1;
			}

			:is(
				th,
				td
			) {
				max-width:100%;
				min-width:100%;
				align-content:start;

				&::before {
					display:none;
				}
			}

			thead {
				position:sticky;
				left:0;
				z-index:2;

				th {
					&:first-child {
						border-top-left-radius:5px;
					}
				}
			}

			th {
				padding-right:10px;
				border-bottom-width:0;
				border-right-width:5px;
				border-right-style:solid;

				&:has(> .Sort) {
					padding-right:0;
				}

				&:last-child {
					border-right-width:5px;
					border-top-right-radius:0;
					border-bottom-left-radius:5px;
				}

				.Sort {
					display:flex;
					height:100%;
					align-items:center;
				}
			}

			tbody {
				width:calc(100cqw - var(--headerWidth));
				padding-bottom:10px;
				border-bottom:5px solid transparent;
				grid-column:2 / -1;
				overflow-x:auto;

				tr {
					&:first-child {
						td {
							border-top-width:0;
						}
					}

					&:last-child {
						td {
							&:first-child:first-child {
								border-top-right-radius:5px;
								border-bottom-left-radius:0;
							}
						}
					}
				}

				td {
					border-width:0;
				}
			}

			tfoot {
				width:100cqw;
				border-radius:5px;
				margin-top:10px;
				grid-column:1 / -1;
				overflow:hidden;

				td {
					padding:10px;
					border-top-width:0;
				}
			}

			:is(
				.TableHeader-Actions,
				.TableCell-Actions
			) {
				padding-inline:10px;
			}

			.TableCell-Actions {
				@media screen and (width <= 640px) {
					align-content:end;
				}
			}

			.AuditInfo {
				margin:0 0 0 -5px;

				&::before,
				.AuditInfoList {
					right:auto;
					left:0;
				}

				.AuditInfoList {
					padding-inline:40px 10px;
				}
			}

			.Actions {
				.Button {
					margin-top:5px;

					&.Button-Delete {
						width:100%;
						margin-left:0;
						position:relative;
						top:auto;
						left:auto;
					}

					&:first-child {
						margin-top:0;
					}
				}
			}
		}
	}
}
