#TranslationDialog {
	max-width:640px;
	padding:52px 0 0;

	@media screen and (width <= 768px) {
		padding-top:42px;
	}

	html.Scale-Small & {
		@media screen and (width > 768px) {
			padding-top:42px;
		}
	}

	&:has(
		.jodit-container,
		.tox-tinymce
	) {
		max-width:1024px;
	}

	&[open] {
		display:block;
	}

	&::after {
		content:attr(data-title, 'Translation');
		padding-right:360px;

		@media screen and (width <= 1024px) {
			padding-right:330px;
		}

		@media screen and (width <= 540px) {
			padding-right:280px;
		}

		@media screen and (width <= 480px) {
			padding-right:120px;
		}
	}

	.TranslationDialog-Form {
		display:grid;
		height:100%;
		max-height:calc(80vh - 52px);
		padding:30px;
		border-radius:5px;
		border:10px solid transparent;
		overflow:auto;
		gap:20px;
		grid-template-columns:repeat(2, 1fr);
		scrollbar-color:var(--scrollbarColor);
		scrollbar-width:thin;

		@media screen and (width <= 768px) {
			padding:10px;
		}

		@media screen and (width <= 540px) {
			padding:5px;
			border-width:5px;
			gap:10px;
		}

		@media screen and (width <= 480px) {
			grid-template-columns:auto;
		}

		&:focus {
			outline:2px solid var(--colorSuccess);
			outline-offset:-3px;
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				padding:10px;
			}
		}
	}

	#TranslationDialog-Message {
		&:empty {
			display:none;
		}
	}

	.FormInput {
		grid-column:1 / -1;

		&:nth-last-child(1 of .FormInput) {
			margin-bottom:20px;

			@media screen and (width <= 768px) {
				margin-bottom:0;
			}

			@media screen and (width <= 540px) {
				margin-bottom:10px;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					margin-bottom:0;
				}
			}
		}
	}

	> .ButtonArea {
		width:max-content;
		margin:0;
		padding:2px;
		position:absolute;
		top:0;
		right:0;

		@media screen and (width <= 640px) {
			display:flex;
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				margin-top:0;
			}
		}

		.Button {
			width:auto;
			height:48px;
			background-color:transparent;
			line-height:26px;

			@media screen and (width <= 768px) {
				height:38px;
			}

			@media screen and (width <= 540px) {
				padding-inline:10px;
			}

			@media screen and (width <= 480px) {
				font-size:0;
				line-height:0;
			}

			html.Scale-Small & {
				@media screen and (width > 768px) {
					height:38px;
				}
			}

			&::after {
				@media screen and (width <= 480px) {
					margin-left:0;
				}
			}
		}
	}
}