#TranslationDialog {
	padding:52px 0 0;
	overflow:hidden;

	.Scale-Small & {
		padding-top:42px;
	}

	&:has(.jodit-container),
	&:has(.tox-tinymce) {
		width:100%;
		max-width:1024px;
	}

	&[open] {
		display:block;
	}

	&::after {
		content:attr(data-title, 'Translation');
	}

	.TranslationDialog-Form {
		display:flex;
		height:100%;
		max-height:calc(80vh - 52px);
		padding:30px;
		border:10px solid transparent;
		flex-wrap:wrap;
		justify-content:space-between;
		overflow:auto;
		scrollbar-color:var(--scrollbarColor);
		scrollbar-width:thin;

		.Scale-Small & {
			padding:10px;
		}
	}

	.FormInput {
		width:100%;
		flex:0 0 100%;
	}
}