#TranslationDialog {
	padding:52px 0 0;
	overflow:hidden;

	@media screen and (width <= 768px) {
		padding-top:42px;
	}

	html.Scale-Small & {
		@media screen and (width > 768px) {
			padding-top:42px;
		}
	}

	&:has(.jodit-container),
	&:has(.tox-tinymce) {
		max-width:1024px;
	}

	&[open] {
		display:block;
	}

	&::after {
		content:attr(data-title, 'Translation');
	}

	.TranslationDialog-Form {
		display:grid;
		height:100%;
		max-height:calc(80vh - 52px);
		padding:30px;
		border:10px solid transparent;
		overflow:auto;
		gap:20px;
		grid-template-columns:repeat(2, 1fr);
		scrollbar-color:var(--scrollbarColor);
		scrollbar-width:thin;

		@media screen and (width <= 768px) {
			padding:10px;
		}

		@media screen and (width <= 540px) {
			padding:5px;
			border-width:5px;
			gap:10px;
		}

		@media screen and (width <= 480px) {
			grid-template-columns:auto;
		}

		html.Scale-Small & {
			@media screen and (width > 768px) {
				padding:10px;
			}
		}
	}

	#TranslationDialog-Message {
		&:not(:has(*)) {
			display:none;
		}
	}

	.FormInput {
		grid-column:1 / -1;

		&:nth-last-child(1 of .FormInput) {
			@media screen and (width <= 540px) {
				margin-bottom:10px;
			}
		}
	}
}